@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1340.98px) {
  html {
    font-size: 6pt;
  }

  .item .level-list-container {
    font-size: 10px;
  }

  .item .option-item {
    font-size: 12px;
  }

  .item-footer {
    font-size: 12.4px;
  }

  .brief-desc,
  .type-container,
  .contact,
  .book-link-container,
  .subjects-container,
  .other-products,
  .breadcrumb {
    font-size: 14px;
  }
}

@media (min-width: 1340px) {
  html {
    font-size: 6pt;
  }

  .item .level-list-container {
    font-size: 10px;
  }

  .item .option-item {
    font-size: 12px;
  }

  .item-footer {
    font-size: 12.4px;
  }

  .brief-desc,
  .type-container,
  .contact,
  .book-link-container,
  .subjects-container,
  .other-products,
  .breadcrumb {
    font-size: 14px;
  }
}

/* max-width 670-sp  */

@media (max-width: 670px) {
  .header2-container .title-header2 {
    margin-top: 4.2vw;
  }

  .type-container:not(:last-child) {
    border-bottom: unset;
  }
  .out-btn-sp {
    display: block !important;
    display: flex !important;
  }

  .out-btn-pc {
    display: none !important;
  }

  .out-btn-a {
    display: flex;
    justify-content: center;
    margin: 5vw 0;
  }

  .type-title {
    margin-left: 5vw;
  }

  .carousel-inner {
    width: 32vw;
  }
  .image-in-zoom .img-desc:nth-child(1) {
    display: none !important;
  }

  .image-in-zoom .img-desc:nth-child(2) {
    display: block !important;
  }
  .document-header {
    display: none !important;
  }

  .document-header-sp {
    display: block !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  /* title  */
  .header2-img {
    width: 9vw;
    margin-left: 5vw;
    margin-right: 3vw;
    position: relative;
    top: 0;
  }

  .header2-container .header2-title {
    letter-spacing: 0.5px;
    font-size: 6vw;
    letter-spacing: 0;
  }

  .header2-container .share {
    margin: auto;
    padding: 2.5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    padding-left: 2.5vw;
    border-radius: 20vw;
  }

  .header2-container .share-icon {
    margin-left: 2vw;
    width: 10.5vw;
  }

  .header2-container .share-title {
    font-size: 3vw;
    margin-left: 1vw;
    margin-right: 7vw;
    letter-spacing: 0.5vw;
  }

  .book-link-container {
    margin: auto !important;
    justify-content: center;
    height: 20vw !important;
    font-size: 4vw !important;
  }

  .book-link {
    padding: 0 3.5vw !important;
    font-size: 4vw;
  }

  /* turn off on mobile  */

  .part-left-pc {
    display: none !important;
  }

  .part-left-sp {
    display: block !important;
  }

  .part-left {
    width: 100%;
    margin: auto;
    z-index: 1;
  }

  .inner-wrapper {
    width: 100%;
  }

  .slider-image-preview {
    width: 32vw;
    height: auto;
  }

  .inner-wrapper .detail {
    border: none !important;
    padding-top: 20px;
  }

  .arrow-next-wrapper {
    margin-left: 22vw;
  }

  .arrow-pre-wrapper {
    margin-right: 22vw;
  }

  span.name {
    margin-right: 20vw;
    margin: 5vw 0;
    font-size: 4.8vw;
    letter-spacing: 0.3vw;
  }

  .carousel-indicators-ignore img {
    height: 85px;
  }

  .carousel-indicators-ignore {
    padding: 5px 19px 29px 19px;
    display: flex;
  }

  .carousel-indicators-ignore li img {
    height: 22vw;
    max-width: unset;
  }

  .arrow-pre-wrapper,
  .arrow-next-wrapper {
    width: 5vw;
    height: 5vw;
  }

  .carousel-indicators-ignore li {
    margin-top: 13px;
  }

  .carousel-indicators-ignore li span {
    margin: 0 !important;
    font-size: 3.2vw;
    letter-spacing: 0.5vw;
    margin-top: 2vw !important;
  }

  .inner-wrapper .menu {
    border-radius: 0;
    padding-bottom: 15px;
    justify-content: center;
  }

  .part-right {
    margin: 0 !important;
  }

  .product-description {
    margin: 0;
  }

  .part-right-width .line-title {
    border-radius: 4px;
    width: 2vw;
    min-width: 2vw;
    height: 100%;
    margin-right: 3vw;
    background: #ffffff;
    margin-left: 5vw;
  }

  .product-title p {
    font-size: 6.5vw;
    letter-spacing: 0.5vw;
  }

  .part-right-width {
    margin: 0 20px;
    padding: 23px 0;
    font-size: 5vw;
    letter-spacing: 0.5vw;
    width: 100%;
    line-height: 8vw;
    margin-left: 0;
  }

  .text-part-right-width {
    width: 92%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5vw;
  }

  .part-right-width.product-detail {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }

  .product-detail-key {
    background-color: #f2f2f2;
    padding: 4vw 1vw 4vw 5vw;
    width: 5vw;
    min-width: 20vw;
  }

  .product-detail-key span {
    display: flex;
    align-self: flex-start;
    font-size: 3.7vw;
  }

  .product-detail-val span {
    font-size: 4.2vw;
    letter-spacing: 0.2vw;
  }

  .product-detail-val p {
    font-size: 4vw;
    letter-spacing: 0.2vw;
    width: 63vw;
    line-height: 7vw;
    margin-bottom: 0;
    font-family: "mplus 1p heavy";
  }

  .level-list-item p {
    width: auto;
  }

  .product-detail-val {
    padding: 2.7vw 2vw;
    display: flex;
    align-items: center;
    padding-right: 0;
    font-family: "mplus 1p heavy";
  }

  .product-detail .option-item {
    line-height: 1.875;
    letter-spacing: 2px;
    padding: 0px 2.3vw;
    font-size: 4vw;
    height: 9vw;
  }

  .product-detail-val .option-container {
    gap: 4px;
  }

  .product-detail .option-item-3 {
    padding: 0 1.5vw;
    font-size: 4.3vw;
    height: 9vw;
    border-radius: 2vw;
  }
  .option-item-cover {
    letter-spacing: 0 !important;
  }
  .product-detail .option-item-2 {
    padding: 0 1.5vw;
    font-size: 4.3vw;
    height: 9vw;
    border-radius: 2vw;
  }

  .level {
    height: 3vw;
    width: 16vw;
    border-radius: 5vw;
  }

  .type-list {
    list-style-type: none;
  }

  ul.type-list li:before {
    padding-right: 1vw;
    margin-left: 4vw;
    font-size: 3vw;
  }

  
  .type-list li {
    font-size: 4vw;
    display: flex;
    align-items: center;
  }

  .lorem-btn-orange {
    margin-left: 7vw;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 8.2vw;
  }
  .lorem-btn-orange ul {
    max-width: 93%;
}
.dotter-mobile {
  display: block;
}
  .btnViewDetail {
    padding: 2.5vw 7vw 2.5vw 2.5vw;
  }

  .btnViewDetail p {
    margin-left: 5vw;
    font-size: 4.2vw;
    line-height: 1.875;
    padding-right: 2vw;
    letter-spacing: 0.1vw;
  }

  .type-container {
    padding: 5vw 0;
    padding-bottom: 2.5vw;
  }

  .table-botom-sp {
    display: block;
    margin-top: 0;
  }

  .pagebreak-pc {
    display: none !important;
  }

  .see-more-links {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .subject-list > .row:last-child .cell-link:first-child {
    border-radius: 0;
  }

  .subject-list > .row:last-child .cell-link:first-child .see-more-cell {
    border-radius: 0;
  }

  .subject-list > .row:last-child .cell-link:last-child {
    border-radius: 0;
  }

  .see-more-title {
    border-radius: 0;
    padding: 4vw 0px 4vw 2.5vw;
  }

  .see-more-title span {
    font-size: 4.6vw;
    margin-left: 18.7vw;
  }

  .den-wrapper-blue {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 4px solid #489ae1;
    transform: translate(7px, -8px);
    z-index: 5;
  }

  .detailed-desc .feature img {
    width: 23vw;
    height: auto;
  }

  .detailed-desc .feature p {
    font-size: 6.2vw;
    margin-top: 2vw;
  }

  .detailed-desc .title p {
    font-size: 4.5vw;
    letter-spacing: 0.8vw;
    line-height: 7vw;
    width: 62vw !important;
  }

  .detailed-desc .title-lorem-2 p {
    width: 70vw !important;
  }

  .detailed-desc .title {
    margin: 6.8vw 5.5vw 2vw 5.5vw;
    padding: 4vw 2vw 4vw 0;
  }

  .detailed-desc .title .bulleted-1 {
    margin: 0 4vw;
    width: 2vw;
    min-width: 2vw;
  }

  .detailed-desc .desc {
    padding: 0 10vw;
    letter-spacing: 0.1vw;
    line-height: 8.2vw;
    margin-top: 4vw;
    font-family: "mplus 1p medium" !important;
    font-weight: normal;
    font-size: 4.2vw;
  }

  .detailed-desc .img-desc {
    width: 100%;
  }
  .detailed-desc .title-sp-eigochobundokkai {
    flex-wrap: wrap;
    margin: 0 5.5vw;
  }
  .detailed-desc .title-sp-eigochobundokkai img {
    width: 100% !important;
  }
  .image-in-zoom {
    width: 80%;
    margin: auto;
    position: relative;
  }

  .box-zoom {
    flex-wrap: wrap;
  }

  .detailed-desc .icon-wrapper {
    width: 12vw;
    height: 12vw;
    bottom: 0;
    top: unset;
    right: 0;
    border-radius: 3vw 0 3vw 0;
  }

  .detailed-desc .icon-wrapper img {
    width: 45%;
  }

  .detailed-desc .title-lorem-3 {
    margin: 5vw 5.5vw 3.5vw 5.5vw !important;
    padding: 3vw 4vw 3vw 0px;
  }

  .detailed-desc .title-lorem-3 p {
    width: 70vw !important;
    padding: 0.7vw 0;
  }

  .detailed-desc .title-lorem-3 ~ p {
    margin: 0;
    line-height: 8.4vw;
    font-size: 4vw;
    letter-spacing: 0.3vw;
  }

  .detailed-desc .title-lorem-4 p {
    width: 75vw !important;
    padding: 0.7vw 0;
  }

  .detailed-desc .title-lorem-4 {
    padding: 3vw 3vw 3vw 0px;
    margin: 10vw 5.5vw 2vw 5.5vw;
  }

  .detailed-desc .title-lorem-4 ~ p {
    margin: 13px 0;
    line-height: 8.4vw;
  }

  .box-led {
    width: 100%;
    margin-bottom: 17px;
  }

  .hint {
    width: auto;
  }

  .den-container {
    margin: 0;
  }

  .hint .hint-text {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -1px;
  }

  .hint-text-pc {
    display: none !important;
  }

  .hint-text-sp {
    display: block !important;
  }

  .hint {
    padding: 5vw;
    margin: 0 4vw;
  }

  .den {
    width: 12vw;
    height: auto;
  }

  .img-bg {
    left: 2.2vw;
    width: 7vw;
    height: auto;
  }

  .hint .hint-text-sp {
    width: 70vw;
    margin-left: 4vw;
    font-size: 4.6vw;
    line-height: 1.3 !important;
  }

  .row-on-led {
    margin-bottom: 20px;
  }

  .arrow-wrapper {
    width: 4.2vw;
    height: 4.2vw;
    min-width: 4.2vw;
    margin-left: 5px;
  }

  .myBtn {
    padding: 2vw;
    width: 26vw;
    height: 12vw;
    border-radius: 20vw;
    justify-content: start;
  }

  .hint .myBtn p {
    letter-spacing: 0.5vw;
    font-size: 4.2vw;
  }

  .myBtn .arrow-wrapper {
    width: 5vw;
    height: 5vw;
  }

  .myBtn .arrow-wrapper img {
    width: 2vw !important;
  }

  .myBtn p {
    margin: 0;
    font-size: 12px;
    margin-left: 10px;
    font-size: 16px;
  }

  .gap-row {
    row-gap: 10px;
  }

  .gap-column {
    column-gap: 2vw;
  }

  .subjects-container {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    border-radius: 0;
    padding: 0;
  }

  .subjects-container .title {
    width: 100%;
    justify-content: center;
    margin: auto;
    font-size: 5vw;
    padding: 3vw 0;
  }

  .categories-container {
    margin-top: 11vw;
    padding-top: 0;
  }

  .subjects-container li a {
    margin: 0 4.6vw;
    font-size: 4.5vw;
  }

  .nav-tab-box {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #79b1e2;
  }

  .table-document {
    margin: 0;
    border-radius: 0;
    margin-bottom: 1px;
  }

  .document-title {
    padding: 3vw 0;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 5vw;
  }

  .document-header thead th {
    font-size: 3vw;
    letter-spacing: 0;
    line-height: 4vw;
    border-right: 0.5vw solid #489ae1;
  }

  .document-header tr td:last-child {
    font-size: 4.5vw;
  }

  .button-file-pdf {
    background-color: #ad3e3e;
    color: #ffffff;
    border-radius: 20vw;
    width: 20vw;
    height: 11vw;
    border: 0px;
    padding: 2vw 0 2vw 3.3vw;
    margin: 0;
  }

  .button-file-excel {
    background-color: #009944;
    color: #ffffff;
    border-radius: 20vw;
    width: 24vw;
    height: 11vw;
    border: 0px;
    padding: 2vw 0 2vw 3.3vw;
    margin: 0;
    margin-bottom: 1.5vw;
  }

  .document-header tr td {
    font-size: 4vw;
    padding-left: 0;
    padding-right: 0;
  }

  .document-header tr td .button-file-excel:last-child {
    margin-bottom: 0;
  }

  .button-file-pdf i {
    margin: 0;
    width: 5vw;
    height: 5vw;
    background-size: cover;
  }

  .button-file-excel i {
    margin: 0;
    width: 5vw;
    height: 5vw;
    background-size: cover;
  }

  .button-file-pdf span {
    font-size: 3.5vw;
    margin-left: 0;
    width: 53%;
  }

  .button-file-excel span {
    margin-left: 0;
    width: 55%;
    font-size: 3.5vw;
  }

  .document-header tr td {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  tbody tr td .td-button {
    display: flex;
    flex-wrap: wrap;
  }

  .image-title-box {
    width: 9vw;
    height: auto;
  }

  .image-title-box ~ span {
    font-size: 5vw;
    letter-spacing: 0.1vw;
    margin-left: 2vw;
  }

  .title-product {
    margin: 13vw 0px 3vw;
  }

  /* //product  */
  .material-item {
    width: 42vw;
    box-shadow: 3px 3px 2px 0 rgb(106 106 106 / 25%);
  }

  .arrow-wrapper img {
    width: 2vw !important;
  }

  .material-item-title-p {
    font-size: 3vw !important;
    margin-top: 0 !important;
    width: 25vw;
    position: relative;
    top: 0px;
    line-height: 1.2;
  }

  .material-item-title {
    align-items: center;
    height: auto;
    padding: 1.6vw 0 !important;
  }

  .tag-img {
    position: absolute;
    left: 35vw;
  }

  .tag-img img {
    width: 6vw;
  }

  .img-wining {
    width: 7.5vw;
    height: 7.5vw;
    top: 0.5vw;
    margin-right: 1vw;
  }

  .material-item-body-thumbnail {
    width: 11vw;
    height: auto;
    top: 0;
    bottom: 0;
    box-shadow: 0.5vw 0.5vw #ababab;
    margin-left: 6vw;
  }

  .material-item-body-p {
    width: 100%;
    line-height: 3vw;
    display: block;
    display: -webkit-box;
    height: 16px * 1.3 * 3;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.9vw !important;
    font-family: "mplus 1p heavy" !important;
    width: 90%;
    margin: auto;
    margin-bottom: 1vw;
  }

  .all-box-end .all-box-blue .box-blue {
    background-color: #08365e;
    color: white;
    margin: 1vw 0.3vw;
    font-size: 2vw;
    border-radius: 0.8vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0;
  }

  .all-box-end .all-box-blue .box-blue span {
    font-size: 1.8vw;
    letter-spacing: 0.2vw;
  }

  .all-box-end .all-box-blue.box-blue-3 .box-blue {
    padding: 0.5vw 0;
    font-size: 12px;
    border-radius: 1vw;
    align-items: center;
    height: 4vw;
  }

  .all-box-end .all-box-sky .box-sky span {
    font-size: 1.9vw;
  }

  .all-box-end .all-box-sky .box-sky {
    color: white;
    margin: 0vw 0.3vw;
    padding: 0;
    width: 100%;
    font-size: 1.9vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    height: 4vw;
    align-items: center;
  }

  .all-box-end .all-box-sky .box-skys span {
    font-size: 1.9vw;
    line-height: 1.5vw;
  }

  .boddy-box-product {
    padding: 0;
  }

  .all-box-product {
    width: 90%;
    justify-content: space-between;
    margin: auto;
    gap: 3vw;
    margin-bottom: 8vw;
  }

  .all-box-end .all-box-blue {
    margin: auto;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .all-box-end .all-box-sky {
    width: 90%;
  }

  .all-box-end .all-box-gray {
    background-color: rgb(225, 225, 225);
    border-radius: 0.8vw;
    width: 90%;
    height: 6vw;
    display: flex;
    justify-content: space-around;
    padding: 0 0.8vw;
    margin: 1vw 0;
  }

  .all-box-product .material-item-image {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .all-box-end {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: center;
    padding-top: 0.5vw;
    height: auto;
    position: relative;
    width: 100%;
  }

  .all-box-end .all-box-blue .box-gray {
    width: 100%;
    margin: 1vw 0.3vw;
    border-radius: 0.8vw;
    border: 1px solid #d1d1d1;
    padding: 0px 0;
  }

  .all-box-end .all-box-sky .box-gray {
    padding: 0;
    width: 100%;
    margin: 0vw 0.3vw;
    border-radius: 0.8vw;
    border: 1px solid #d1d1d1;
    height: 4vw;
  }

  .all-box-end .all-box-blue.box-1-in-3 .box-gray {
    width: 100%;
    margin: 1vw 0.3vw;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    padding: 0px 0;
  }

  .all-box-end .all-box-sky .box-skys {
    color: white;
    margin: 0vw 0.3vw;
    padding: 0;
    width: 100%;
    font-size: 1.9vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    height: 4vw;
    align-items: center;
  }

  .material-item {
    border-radius: 3vw;
    padding-bottom: 1vw;
  }

  .material-item-title {
    border-radius: 2.8vw 2.8vw 0 0;
  }

  .all-box-end .all-box-gray .box-in-gray span {
    font-size: 1.8vw;
  }

  .all-box-end .all-box-gray .box-in-gray .line {
    width: 8.5vw;
    height: 1.3vw;
    border-radius: 1vw;
  }

  .all-box-gray .box-in-gray.sliver .line {
    width: 8.5vw;
    height: 1.3vw;
    border-radius: 1vw;
  }

  .all-box-end .all-box-sky .box-center span {
    font-size: 1.9vw;
  }

  .all-box-end .all-box-sky .box-center {
    padding: 0.5vw 0;
    border-radius: 1vw;
    height: 4vw;
    font-size: 14px;
    margin: 0;
  }

  .span-pc {
    display: none !important;
  }

  .span-mobile {
    display: block !important;
  }

  .arrow-wrapper-btn-db {
    width: 6vw;
    height: 6vw;
  }

  .arrow-wrapper-btn-db {
    width: 5.5vw;
    height: 5.5vw;
  }

  .arrow-wrapper-btn-db img {
    width: 5vw !important;
  }

  .brief-desc {
    border-bottom: unset;
    padding-bottom: 0;
  }

  .box-subject {
    height: 15.7vw;
  }

  .see-more-container .arrow-wrapper {
    width: 5.5vw;
    height: 5.5vw;
  }

  .see-more-container .arrow-wrapper i {
    font-size: 2.5vw;
  }

  .see-more-cell {
    padding: 4.1vw;
    justify-content: start;
    padding-left: 6vw;
  }

  .see-more-cell-title {
    font-size: 4.7vw;
    margin-left: 3vw;
  }

  /* 

.subject-list-row {
  margin: -0 -16px;
}

.subject-list .bg-blue {
    background: #72b1e8;
}
*/

  section.section-5 .title img {
    width: 8.6667vw;
  }

  section.section-5 .lorem span {
    font-size: 3.6vw;
  }

  section.section-5 .title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2px;
  }

  section.section-5 .title h1 {
    font-size: 4.8vw !important;
    margin-bottom: 0 !important;
    letter-spacing: 0.5vw !important;
  }

  section.section-5 .lorem {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 3vw 0;
  }

  .span-pc {
    display: none;
  }

  .span-mobile {
    display: flex;
    font-size: 3.7vw !important;
    line-height: 1.8 !important;
    margin-top: 3vw;
  }

  section.section-5 .btn-out {
    margin-top: 5.333vw;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 11vw;
  }

  section.section-5 .btn-out a {
    width: 75%;
  }

  section.section-5 .btn-center {
    width: 100%;
    height: 18.6667vw;
    border-radius: 120px;
    border: 1.066667vw solid var(--color-boder-btn-orange);
    background-color: var(--color-bg-btn-orange);
    color: white;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 1.5vw;
    box-shadow: rgb(45 45 45 / 25%) 0px 4.8px 4.8px 0px;
  }

  section.section-5 .btn-out .icon-arr {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-right: 8vw;
    margin-left: 2.66667vw;
    background-color: white;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.section-5 .btn-out .icon-arr img {
    border-radius: 5px;
    width: 2.6vw !important;
  }

  section.section-5 .btn-center .lorem-btn {
    display: flex;
    align-items: center;
  }

  section.section-5 .btn-out span {
    font-size: 4.8vw;
    margin-left: 3vw;
    letter-spacing: 0.5vw;
  }

  .h1-pc {
    display: none !important;
  }

  .h1-mobile {
    display: block;
  }

  section.section-5 .btn-center:hover {
    background-color: var(--color-btn-active) !important;
    border: 1.066667vw solid var(---color-boder-btn) !important;
    cursor: pointer;
  }

  section.section-5 {
    display: flex;
    flex-wrap: wrap;
    border-top: unset;
    padding-top: 8vw;
    padding-bottom: 0;
  }

  .dotter-mobile {
    display: block !important;
    border-bottom: 1vw dotted rgb(211, 211, 211) !important;
    width: 90%;
    margin: auto;
  }

  .blue-dot {
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
  }

  .type-title span {
    font-size: 5vw;
  }

  .container {
    max-width: 670px;
  }

  .den-wrapper-blue .den {
    width: 10vw;
    height: auto;
  }

  .den-wrapper-blue .img-bg {
    width: 6vw;
  }

  .den-wrapper-blue {
    border-radius: 50%;
    width: 19vw;
    height: 19vw;
    border: 1.2vw solid #489ae1;
    transform: translate(7px, -8px);
    z-index: 5;
  }

  .detailed-desc .title-lorem-2 {
    margin: 8.5vw 5.5vw 5vw 5.5vw;
  }

  .den-wrapper-blue .den-container {
    width: 10vw;
    height: auto;
  }

  .font_bold_sp {
    font-family: "mplus 1p bold" !important;
  }
  .document-header-sp thead th:nth-child(1) {
    width: 15% !important;
  }

  .document-header-sp thead th:nth-child(2) {
    width: 10% !important;
  }

  .document-header-sp thead th:nth-child(3) {
    width: 22% !important;
  }

  .document-header-sp thead th:nth-child(4) {
    width: 28% !important;
  }

  .document-header-sp thead th:nth-child(5) {
    width: 11% !important;
  }
  .document-header-sp thead th:nth-child(6) {
    width: 14% !important;
  }

  /* image zoom  */

  #modal-zoom-image > .modal-content {
    width: 90%;
    margin: auto;
    position: relative;
    top: 20%;
    overscroll-behavior: none;
  }

  #modal-zoom-image {
    padding-top: 1px;
    max-width: 100%;
    overscroll-behavior: contain;
    overscroll-behavior: none;
  }

  #modal-zoom-image > .close {
    top: 5vw;
    right: 7vw;
  }

  #modal-zoom-image > .background {
    overscroll-behavior: contain;
    overscroll-behavior: none;
  }

  .border-right-blue {
    border-right: 0.7vw solid #489ae1;
    border-bottom: 0.7vw solid #489ae1;
  }
  .in-btn-sl-winter {
    width: 100% !important;
  }
}
