@media (max-width: 670px) {
  body {
    overflow-x: hidden;
  }

  .section-3 {
    margin: 0 !important;
    margin-top: 15vw !important;
  }

  .section-3 .title {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw !important;
  }

  .icon-hand img {
    width: 7vw !important;
    margin-right: 3vw !important;
  }

  .title-h1 {
    margin-top: 1.3vw !important;
    font-size: 5vw !important;

    letter-spacing: 0.266667vw !important;
  }

  section.section-3 .all-box {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin-top: 2vw !important;
  }

  section.section-3 .all-box a {
    width: 100% !important;
    margin-top: 3.2vw !important;
  }

  section.section-2 {
    padding: 22vw 0 30.5vw 0;
  }

  section.section-3 .all-box a:not(:first-child) {
    margin-top: 3.6vw;
  }

  section.section-3 .all-box .box {
    width: 95% !important;
    margin: auto;
    border-radius: 5vw;
    min-height: 28vw !important;
    height: auto !important;
  }

  .box-hine {
    display: none;
  }

  .span-hine {
    display: none;
  }

  .span-in {
    line-height: 6vw;
    font-size: 3.7vw;
    letter-spacing: 0.16vw;
    display: block;
  }

  section.section-3 .all-box .box .title-top {
    background-image: none !important;
    background-color: #f2f2f2;
  }

  section.section-3 .all-box .box img {
    width: 7.8vw !important;
    top: -0.8vw !important;
    left: 2.2vw !important;
  }

  section.section-3 .all-box .box .title-top {
    height: 10.5vw !important;
    display: flex;
    align-items: center !important;
    justify-content: flex-start !important;
    padding-left: 11vw !important;
  }

  section.section-3 .all-box .box .title-top h1 {
    font-size: 3.5vw !important;
    letter-spacing: -0.11vw !important;
    margin-left: 0.5vw !important;
  }

  section.section-3 .all-box .box .body-radius {
    margin-left: 12vw !important;
    padding-right: 2vw !important;
    margin-bottom: 2vw !important;
    margin-top: 2vw !important;
  }

  section.section-3 .box-play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2.5vw !important;
    margin-bottom: 10vw !important;
  }

  section.section-3 .box-play .lorem {
    align-items: center;
    justify-content: center;
    margin-top: 1vw !important;
  }

  section.section-3 .box-play img {
    width: 5.3vw !important;
    padding: 1.6vw !important;
  }

  section.section-3 .box-play a {
    margin-top: -1.5vw !important;
    letter-spacing: 0.7px !important;
    font-size: 3.7vw;
    text-underline-offset: 0 !important;
    height: 5vw !important;
    box-shadow: 0 .3vw rgb(0, 0, 0);
    text-decoration: none !important;
  }

  section.section-2 .three-box .box-left .all-box .box-3 {
    position: absolute;
  }

  section.section-4 .title span {
    width: 78vw;

    font-size: 3vw;
    letter-spacing: 0.26666vw;
  }

  section.section-2 .three-box .box-left .all-box .box-1 .title .icon-arr {
    margin-right: 2vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .title {
    position: absolute;
    width: 82vw;
    margin-top: -14vw;
    margin-left: 79vw;
    line-height: 5vw;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .title h1 {
    font-size: 6.4vw !important;
    letter-spacing: 0.6vw !important;
    margin-left: 10vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .title span {
    width: 100%;
    font-size: 3vw;
    letter-spacing: 0.466666667vw;
    margin-left: -4vw;
    margin-top: 2vw;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .btn-box-3 {
    position: absolute;
    top: 81vw;
    left: 32vw;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .btn-box-3 .bg-btn-box-3 {
    height: 19.4vw;
    width: 90vw;
    border: 1vw solid #ffbb64;
    border-radius: 10vw;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .btn-box-3 .bg-btn-box-3 .icon-arr {
    display: flex;
    align-items: center;
  }

  section.section-2 .three-box .box-left .all-box .box-1 {
    width: 43vw !important;
    height: 56vw !important;
    border-radius: 6vw;
    margin-top: 6vw !important;
    background-image: url(../../image/product/index/two-book-1.png);
    background-size: 47vw;
    background-position: -2vw -2vw;
    box-shadow: rgb(82 177 255) 0vw -1vw 0.5vw 0.5vw, rgb(54 114 166) 0vw 2vw 1vw 0vw;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .btn-box-3 .bg-btn-box-3 img {
    transform: rotate(360deg) !important;
    padding: 2vw;
    height: 7vw;
    width: 7vw;
    margin-left: 4vw;
  }

  section.section-2 .three-box .box-left .all-box .box-3 .btn-box-3 .bg-btn-box-3 h1 {
    color: white;
    margin-left: 10vw;
    font-size: 4.8vw;
    letter-spacing: 0.6vw;
  }

  section.section-2 .three-box .box-left .all-box .box-1 .title {
    align-items: flex-start;
    padding-top: 4.5vw !important;
    padding-left: 1.3vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-1 .title .icon-arr {
    margin-right: 3vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-1 .title .icon-arr img {
    width: 6.5vw !important;
    padding: 2vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-1 .title h1 {
    font-size: 4.8vw !important;
    letter-spacing: 0.6vw !important;
    padding-right: 6vw !important;
    line-height: 1.5;
  }

  section.section-2 .three-box .box-left .all-box .box-2 {
    background-image: url(../../image/product/index/two-book-2.png);
    width: 43vw !important;
    height: 56vw !important;
    border-radius: 6vw;
    margin-top: 6vw !important;
    background-size: 47vw;
    background-position: -2vw -2vw;
    box-shadow: rgb(82 177 255) 0vw -1vw 0.5vw 0.5vw, rgb(54 114 166) 0vw 2vw 1vw 0vw;
  }

  section.section-2 .three-box .box-left .all-box .box-2 .title {
    align-items: flex-start;
    padding-top: 4.5vw !important;
    padding-left: 1.3vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-2 .title .icon-arr {
    margin-right: 3vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-2 .title .icon-arr img {
    width: 6.5vw !important;
    padding: 2vw !important;
  }

  section.section-2 .three-box .box-left .all-box .box-2 .title h1 {
    font-size: 4.8vw !important;
    letter-spacing: 0.6vw !important;
    padding-right: 6vw !important;
    line-height: 1.5;
  }

  section.section-4 .all-box .box .body-all-box .lorem span {
    width: 100% !important;
    font-size: 12px;
    margin-bottom: 0;
  }

  section.section-4 .all-box .box {
    width: 43vw;
  }

  section.section-4 .all-box .box img.img-title {
    left: 35vw;
  }

  section.section-gray-double .all-box .box-1 {
    width: 200px;
    height: 277px;

    border-radius: 20px;
  }

  section.section-gray-double .all-box .box-1 .title-box-1 {
    align-items: flex-start;
    padding: 4.2vw 1vw 2vw 6vw !important;
    margin: 0 !important;
    height: 10vw !important;
  }

  section.section-gray-double .all-box .box-1 .title-box-1 h1 {
    font-size: 20px;
  }

  section.section-gray-double .all-box .box-1 .title-box-1 br {
    display: none;
  }

  section.section-6 .all-box {
    display: block;
  }

  section.section-6 .all-box .box-left .title h1 {
    display: flex;
    font-size: 4.5vw;
    width: 55vw;
    position: absolute;
    top: -70vw;
    line-height: 6vw;
    letter-spacing: 0.5vw;
  }

  section.section-6 .all-box .box-right {
    display: block;
  }

  section.section-6 .all-box .box-right .image {
    position: absolute;
    margin-top: -99vw;
    margin-left: 18vw;
  }

  section.section-6 .all-box .box-left {
    margin-top: 70vw;
    margin-bottom: 20vw;
  }

  section.section-6 .all-box .box-right .image img {
    width: 80vw;
  }

  section.section-6 .all-box .box-left .title span {
    display: flex;
    font-size: 3vw;
    width: 76vw;
    position: absolute;
    top: 5vw;
    left: 10vw;
    line-height: 6vw;
    letter-spacing: 0.3vw;
  }

  section.section-6 .all-box .box-left .btn-box-left .bg-btn {
    margin-top: 27vw;
    width: 76vw;
    height: 18vw;
    border-radius: 10vw;
    margin-left: 9vw;
    border: 1vw solid var(--color-boder-btn-orange);
  }

  section.section-6 .all-box .box-left .btn-box-left .bg-btn .icon-arr {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-right: 8vw;
    margin-left: 2.66667vw;
  }

  section.section-6 .all-box .box-left .btn-box-left .bg-btn .icon-arr img {
    width: 3vw;
  }

  section.section-6 .all-box .box-left .btn-box-left h1 {
    font-size: 4.8vw;
    letter-spacing: 0.5vw;
    margin-left: 9vw;
  }

  section.section-5 .title img {
    width: 8.6667vw;
  }

  section.section-5 .lorem span {
    font-size: 3.6vw;
  }

  .hide {
    display: none;
  }

  section.section-4 .title img {
    width: 18vw !important;
    margin-bottom: -1vw !important;
  }

  section.section-4 .title h1 {
    padding: 4vw 0 3vw 0 !important;
    font-size: 6.4vw !important;
    letter-spacing: 0.6vw !important;
  }

  section.section-4 .all-box {
    width: 100% !important;
  }

  section.section-4 .all-box .box .title-top {
    align-items: center;
    height: auto;
    padding: 1.6vw 0 !important;
  }

  section.section-4 .all-box .box .title-top .bg-img {
    width: 4.5vw !important;
    height: 4.5vw !important;
  }

  section.section-4 .all-box .box .title-top .bg-img img {
    width: 2vw !important;
  }

  section.section-4 .all-box .box .title-top.no-img h1 {
    font-size: 3vw !important;
    margin-top: 0.6vw !important;
  }

  section.section-4 .all-box .box .body-all-box .image {
    margin-top: 1vw;
    margin-left: 2vw !important;
  }

  section.section-4 .all-box .box .body-all-box .image .img-1 img {
    display: flex;
  }

  section.section-4 .all-box .box .body-all-box .image .img-1 img {
    width: 6.5vw !important;
    position: static;
  }

  section.section-4 .all-box .box .body-all-box .image .img-2 img {
    width: 20vw !important;
    /* margin-left: 2vw !important; */
  }

  section.section-4 .all-box .box .title-top h1 {
    font-size: 3vw !important;
    margin-top: 0.6vw !important;
    letter-spacing: 0 !important;
  }

  section.section-4 .all-box .box .body-all-box .lorem {
    width: 91% !important;
    padding-left: 0.5vw !important;
    margin-bottom: 1vw !important;
  }

  section.section-4 .all-box .all-box-blue {
    width: 90% !important;
  }

  section.section-4 .all-box .all-box-blue .box-blue {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.section-4 .all-box .all-box-sky {
    width: 90% !important;
  }

  .all-box-end {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  section.section-4 .all-box .all-box-blue .box-blue span {
    font-size: 1.7vw !important;
  }

  section.section-4 .all-box .box .body-all-box .image {
    margin: 1.3vw 2vw .3vw 2vw !important;
  }

  section.section-4 .all-box .all-box-gray {
    width: 90% !important;
    padding-bottom: 1vw;
  }

  section.section-4 .all-box .all-box-gray .box-in-gray {
    flex-direction: column;
    align-items: center;
  }

  section.section-4 .all-box .all-box-gray .box-in-gray span {
    font-size: 1.8vw;
  }

  section.section-gray-double .title {
    padding: 9vw 0 7vw 0 !important;
  }

  section.section-gray-double .title h1 {
    line-height: 1.3;
    flex-direction: column;
    align-items: center;
    font-size: 6.4vw !important;
    letter-spacing: 0.6vw !important;
  }

  section.section-gray-double .all-box {
    justify-content: space-around;
    width: 95% !important;
    margin: auto !important;
    padding-bottom: 2vw !important;
  }

  section.section-gray-double .all-box .box-1 {
    border-radius: 5vw !important;
    width: 42vw !important;
    height: 57vw !important;
    padding: 0 !important;
  }

  section.section-gray-double .all-box .box-1 .image img {
    width: 28vw !important;
    top: 0 !important;
  }

  section.section-gray-double .all-box .box-1 .icon-arrow {
    width: 6vw !important;
    height: 6vw !important;
    padding: 1vw;
    margin: 0 !important;
    margin-right: 1.5vw !important;
    top: 0.3vw !important;
  }

  section.section-gray-double .all-box .box-1 .icon-arrow img {
    width: 2vw !important;
  }

  section.section-gray-double .all-box a:first-child .box-1 .title-box-1 .lorem {
    width: 26vw !important;
  }

  section.section-gray-double .all-box .box-1 .title-box-1 h1 {
    padding-top: 0vw;
    font-size: 4.2vw !important;
    letter-spacing: 0.3vw !important;
    line-height: 1.6;
  }

  section.section-gray-double .all-box .box-1 .title-box-2 h1 {
    letter-spacing: -0.1vw !important;
    top: 2vw !important;
  }

  section.section-gray-double .all-box .box-1 .title-box-2 {
    margin-left: 0 !important;
    padding: 4.2vw 1vw 2vw 4vw !important;
  }

  section.section-6 {
    margin-top: 11vw !important;
    padding-bottom: 23vw !important;
    margin-bottom: 0vw !important;
    border: none !important;
  }

  section.section-6 .all-box .box-left .title h1 {
    font-size: 6.4vw !important;
    width: 80vw !important;
    letter-spacing: 0.5vw !important;
    margin-left: 3vw !important;
    line-height: 1.5;
  }

  section.section-6 .all-box .box-right .image {
    position: absolute;
    margin-top: -86vw !important;
    margin-left: 13vw !important;
  }

  .section-4-title-mobile {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
  }

  .link-resource {
    display: none !important;
  }

  .header {
    top: 0 !important;
  }

  .section-gray-h1-pc {
    display: none !important;
  }

  .section-gray-h1-mobile {
    display: flex;
  }

  .lorem-pc {
    display: none !important;
  }

  .lorem-mobile {
    display: flex;
    flex-direction: column;
    font-size: 4.2vw !important;
    margin-top: -2vw;
    letter-spacing: 0px !important;
  }

  .lorem-mobile span {
    font-size: 4.2vw !important;
  }

  .img-section-6-pc {
    display: none !important;
  }

  .img-section-6-mobile {
    display: block !important;
  }

  .span-pc {
    display: none !important;
  }

  .span-mobile {
    display: flex !important;
    font-size: 3.4vw !important;
    line-height: 1.65 !important;
    margin-top: 4vw;
  }

  section.section-6 .all-box .box-right .img-section-6-mobile {
    margin-top: -85vw !important;
    margin-left: 15vw !important;
  }

  section.section-6 .all-box .box-right .img-section-6-mobile img {
    width: 85vw !important;
  }

  section.section-6 .all-box .box-left .title span {
    font-size: 3.7vw !important;
    width: 86vw !important;
    top: 18vw !important;
    left: 3vw !important;
    letter-spacing: 0vw;
    line-height: 1.8;
  }

  section.section-6 .all-box .box-left .btn-box-left .bg-btn {
    margin-top: 44vw !important;
    margin-left: 1vw !important;
    width: 88vw !important;
  }

  section.section-gray-double .all-box a {
    margin: 0 !important;
  }

  .section-4-title-pc {
    display: none !important;
  }

  .section-4-title-mobile {
    display: flex !important;
    margin-bottom: 10px;
  }

  /* search */
  .checkBox-item .bg-checkBox {
    border-radius: 20vw !important;
  }

  .carousel-item.img_slide_big img {
    width: 100% !important;
  }

  .dotter-mobile {
    display: block;
    border-bottom: 1vw dotted rgb(211, 211, 211) !important;
    margin-bottom: 8vw !important;
    width: 90%;
    margin: auto;
  }

  .title-pc {
    display: none !important;
  }

  .title-mobile {
    display: flex;
  }

  section.section-5 .title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2px;
  }

  section.section-5 .title h1 {
    font-size: 4.8vw !important;
    margin-bottom: 0 !important;
    letter-spacing: 0.5vw !important;
  }

  section.section-5 .lorem {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 3vw 0;
  }

  .span-pc {
    display: none;
  }

  .span-mobile {
    display: flex;
    font-size: 3.7vw !important;
    line-height: 1.8 !important;
    margin-top: 3vw;
  }

  section.section-5 .btn-out {
    margin-top: 5.333vw;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 11vw;
  }

  section.section-5 .btn-out a {
    width: 75%;
  }

  section.section-5 .btn-center {
    width: 100%;
    height: 18.6667vw;
    border-radius: 120px;
    border: 1.066667vw solid var(--color-boder-btn-orange);
    background-color: var(--color-bg-btn-orange);
    color: white;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 1.5vw;
    box-shadow: rgb(45 45 45 / 25%) 0px 4.8px 4.8px 0px;
  }

  section.section-5 .btn-out .icon-arr {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-right: 8vw;
    margin-left: 2.66667vw;
    background-color: white;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.section-5 .btn-out .icon-arr img {
    background-color: white;
    border-radius: 5px;
    width: 3vw !important;
  }

  section.section-5 .btn-center .lorem-btn {
    display: flex;
    align-items: center;
  }

  section.section-5 .btn-out span {
    font-size: 4.8vw;
    margin-left: 3vw;
    letter-spacing: 0.5vw;
  }

  section.section-5 {
    padding: 1vw 0 2vw 0 !important;
  }

  .h1-pc {
    display: none !important;
  }

  .h1-mobile {
    display: block;
  }

  section.section-5 .btn-center:hover {
    background-color: var(--color-btn-active) !important;
    border: 1.066667vw solid var(---color-boder-btn) !important;
    cursor: pointer;
  }

  /* slider */
  section.slide {
    margin-top: 80px;
  }

  /* box-product   */
  section.section-4 .title-section-4 {
    margin-bottom: 0;
  }

  section.section-4 .all-box .box .body-all-box {
    padding-bottom: 1vw;
  }

  section.section-4 .all-box .box {
    box-shadow: 3px 3px 2px 0 rgb(106 106 106 / 25%);
  }

  .carousel-inner-pc  .carousel-item img:last-child {
    display: block !important;
    border-radius: 0 !important;
  }

  .carousel-inner-pc  .carousel-item img:first-child {
    display: none !important;
  }
}

@media (min-width: 671px) {
  .title-pc {
    display: flex;
  }

  .title-mobile {
    display: none !important;
  }

  .dotter-mobile {
    display: none !important;
  }

  .section-4-title-pc {
    display: flex !important;
  }

  .section-4-title-mobile {
    display: none !important;
  }

  .link-resource {
    display: flex !important;
  }

  .section-gray-h1-pc {
    display: flex !important;
  }

  .section-gray-h1-mobile {
    display: none !important;
  }

  .lorem-pc {
    display: flex !important;
  }

  .lorem-mobile {
    display: none !important;
  }

  .img-section-6-pc {
    display: block !important;
  }

  .img-section-6-mobile {
    display: none !important;
  }

  .span-pc {
    display: flex !important;
  }

  .span-mobile {
    display: none !important;
  }

  .carousel-item.img_slide_big img {
    width: 150% !important;
  }

  .h1-pc {
    display: block !important;
  }

  .h1-mobile {
    display: none;
  }

  /* slider */
  section.slide {
    margin-top: 0 !important;
  }
}