nav.link-resource .all-link a:not(:last-child):hover {
    opacity: .5;
}


@media (max-width: 349.99px) {
  
}
@media (min-width: 350px) and (max-width: 575.99px) {
  .search-container {
    padding: 10px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 990.98px) {
  .cate-btn {
    position: absolute;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
}

@media (min-width: 1100px) and (max-width: 1150px) {
  .categories {
    padding: 0rem 2vw;
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 17px;
}
}
@media (min-width: 1151px) and (max-width: 1250px){
  .categories {
    padding: 0rem 0px;
  }
  .filter {
    padding: 10px 15px;
  }
}

@media (max-width: 375px) {
    html {
        font-size: 12px;
    }
    nav.link-resource .all-link a {
        font-size: 12px;
    }
    nav.link-resource .all-link span {
        font-size: 15px;
    }
    .category-wapper-active {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .category-wapper-active {
        background-color: #489ae1;
        color: white;
        font-size: 14px;
        margin-bottom: 9px;
        border-bottom: 0px solid #489ae1;
    }
    .category-wapper p {
        margin: 0;
        padding: 12px 15px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 30px;
    }
    .cate-btn {
        position: absolute;
        width: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .filter {
        display: flex;
        border-bottom: 5px solid #489ae1;
        padding: 10px 25px;
        flex-wrap: wrap;
    }
    .filter p {
        margin: 0;
        margin-left: 6px;
        margin-right: 0px;
        font-size: 16px;
    }
    .filter-value-wapper-active .filter-value {
        background-color: #489ae1;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 20px;
        margin-top: -55px;
        margin-left: 189px;
    }
    .filter-value-wapper {
        margin-top: 10px;
        margin-left: 10px;
    }
    .filter-value {
        border-radius: 20px;
        padding: 10px 25px;
        background-color: #ebebeb;
    }

    .filter-type {
        border-radius: 20px;
        padding: 10px 26px;
        background-color: #ebebeb;
    }
    .item-img {
        width: 60%;
    }
    .item .level-list-container {
        width: 80%;
        margin-top: 20px;
    }
    /* new HERE */
    .item-info {
        padding: 0 5px;
        width: 100%;
    }
    .level-list {
        width: 80%;
    }
    .level-list-container p {
        font-size: 12px;
    }
    .item .level-list-item p {
        margin: 0 2px;
        font-size: 12px;
    }
    .item .level {
        width: 8px;
        height: 15px;
    }
    .level:not(:last-child) {
        margin-right: 0px;
    }
    .option-container {
        margin-left: 34px;
        margin-right: 40px;
    }
    .item .option-item {
        font-size: 12px;
        height: 30px;
        border-radius: 7px;
    }
    .col-6 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .item-footer {
        font-size: 12px;
    }

    .sr1 {
        margin-top: -30px;
        background-color: white;
        border-radius: 4vw;
        height: 90px;
    }
    .modal-left-text {
        margin-top: 20px;
        font-size: 14px;
        margin-left: 10px;
    }
    .sr1 input {
        margin-top: 20px;
        margin-left: -20px;
    }
    .sr1 .modal-left-text {
        border-right: 2px solid #ebebeb;
        padding-top: 15px;
        padding-bottom: 20px;
        margin-right: -10px;
    }
    .tem {
        font-size: 6px;
        background-color: #489ae1;
        border-radius: 4rem;
        margin-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: white;
        margin-top: -7px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        margin-bottom: 7px;
        margin-left: -15px;
        margin-right: 20px;
    }
    .tem p {
        font-size: 10px;
    }
    .tem .check-wrapper {
        margin-left: -10px;
    }
    .check-wrapper {
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #489ae1;
        border-radius: 50%;
    }

    .tem-active {
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5vw;
        padding-left: 9px;
        padding-right: 1px;
        color: #489ae1;
        background-color: #fff;
        border: 1.5px solid #489ae1;
        margin-left: -15px;
    }
    .tem-active .check-wrapper {
        margin-left: -7px;
    }
    .tem-active p {
        margin-left: -6px;
    }
    .item-description {
        margin-left: 65px;
    }
    .sr2 {
        border-radius: 4vw;
        height: 215px;
    }
    .sr2 .modal-left-text {
        margin-top: 15px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 150px;
        margin-right: -10px;
    }
    .sr3 {
        border-radius: 4vw;
        height: 110px;
    }
    .sr3 .modal-left-text {
        margin-top: 15px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 45px;
        margin-right: -10px;
    }
    .sr4 {
        border-radius: 4vw;
        height: 190px;
    }
    .sr4 .modal-left-text {
        margin-top: 15px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 115px;
        margin-right: -10px;
    }
    .search-tem .myBtn {
        margin-top: 10px;
        background-color: var(--color-bg-btn-orange);
        width: 15rem;
        height: 4.5rem;
        border-radius: 10vw;
        border: 0.5vw solid var(--color-boder-btn-orange);
        display: flex;
        align-items: center;
        padding-left: 1.5vw;
    }
    .search-tem .myBtn p {
        font-size: 14px;
        margin-left: 15px;
    }
    .search-container img {
        width: 55px;
        margin-right: 40px;
        margin-left: 20px;
    }
    .documents-1 {
        font-size: 14px;
        margin-left: -20px;
        margin-top: 10px;
    }
    section.section-4 .all-box {
        justify-content: center;
    }
}
@media (min-width: 376px) and (max-width: 575.99px) {
    html {
        font-size: 12px;
    }

    .category-wapper-active {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .category-wapper p {
        margin: 0;
        padding: 12px 17px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 30px;
    }
    .category-wapper-active {
        background-color: #489ae1;
        color: white;
        font-size: 14px;
        margin-bottom: 9px;
        border-bottom: 0px solid #489ae1;
    }
    .cate-btn {
        position: absolute;
        width: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .filter {
        display: flex;
        border-bottom: 5px solid #489ae1;
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 10px;
        padding-left: 40px;
        flex-wrap: wrap;
    }
    .filter p {
        margin: 0;
        margin-left: 11px;
        margin-right: 0px;
        font-size: 16px;
    }
    .filter-value-wapper-active .filter-value {
        background-color: #489ae1;
        color: white;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 20px;
        margin-top: -10px;
    }
    .filter-value-wapper {
        margin-top: 10px;
        margin-left: 10px;
    }
    .filter-value {
        border-radius: 20px;
        padding: 10px 25px;
        background-color: #ebebeb;
    }

    .filter-type {
        border-radius: 20px;
        padding: 10px 25px;
        background-color: #ebebeb;
    }
    .filter-value-wapper-active .filter-value {
        background-color: #489ae1;
        color: white;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 20px;
        margin-top: -53px;
        margin-left: 184px;
    }
    .item-img {
        width: 60%;
    }
    .item .level-list-container {
        width: 80%;
        margin-top: 20px;
    }
    /* new HERE */
    .item-info {
        padding: 0 5px;
        width: 100%;
    }
    .level-list {
        width: 80%;
    }
    .level-list-container p {
        font-size: 12px;
    }
    .item .level-list-item p {
        margin: 0 2px;
        font-size: 12px;
    }
    .item .level {
        width: 8px;
        height: 15px;
    }
    .level:not(:last-child) {
        margin-right: 0px;
    }
    .option-container {
        margin-left: 34px;
        margin-right: 40px;
    }
    .item .option-item {
        font-size: 12px;
        height: 30px;
        border-radius: 7px;
    }
    .col-6 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .item-footer {
        font-size: 12px;
    }

    .sr1 {
        margin-top: -30px;
        background-color: white;
        border-radius: 4vw;
        height: 110px;
    }
    .modal-left-text {
        margin-top: 30px;
        font-size: 14px;
        margin-left: 10px;
    }
    .sr1 input {
        margin-top: 30px;
        margin-left: -20px;
    }
    .sr1 .modal-left-text {
        border-right: 2px solid #ebebeb;
        padding-top: 15px;
        padding-bottom: 20px;
        margin-right: -10px;
    }
    .tem {
        font-size: 6px;
        background-color: #489ae1;
        border-radius: 4rem;
        margin-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: white;
        margin-top: -7px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
        margin-bottom: 7px;
        margin-left: -15px;
        margin-right: 20px;
    }
    .tem p {
        font-size: 12px;
    }
    .tem .check-wrapper {
        margin-left: -10px;
    }
    .check-wrapper {
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #489ae1;
        border-radius: 50%;
    }

    .tem-active {
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5vw;
        padding-left: 10px;
        padding-right: 7px;
        color: #489ae1;
        background-color: #fff;
        border: 3px solid #489ae1;
        margin-left: -15px;
    }
    .tem-active .check-wrapper {
        margin-left: -7px;
    }
    .tem-active p {
        margin-left: -10px;
    }
    .item-description {
        margin-left: 65px;
    }
    .sr2 {
        border-radius: 4vw;
        height: 195px;
    }
    .sr2 .modal-left-text {
        margin-top: 15px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 130px;
        margin-right: -10px;
    }
    .sr3 {
        border-radius: 4vw;
        height: 120px;
    }
    .sr3 .modal-left-text {
        margin-top: 15px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 55px;
        margin-right: -10px;
    }
    .sr4 {
        border-radius: 4vw;
        height: 195px;
    }
    .sr4 .modal-left-text {
        margin-top: 15px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 125px;
        margin-right: -10px;
    }
    .search-tem .myBtn {
        margin-top: 10px;
        background-color: var(--color-bg-btn-orange);
        width: 15rem;
        height: 4.5rem;
        border-radius: 10vw;
        border: 0.5vw solid var(--color-boder-btn-orange);
        display: flex;
        align-items: center;
        padding-left: 1.5vw;
    }
    .search-tem .myBtn p {
        font-size: 16px;
        margin-left: 1rem;
    }
    .search-container img {
        width: 55px;
        margin-right: 40px;
        margin-left: 20px;
    }
    .documents-1 {
        font-size: 14px;
        margin-left: -20px;
        margin-top: 10px;
    }
    section.section-4 .all-box {
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .category-wapper p {
        margin: 0;
        padding: 12px 13px;
        font-size: 15px;
        cursor: pointer;
        margin-left: 40px;
    }
    .cate-btn {
        position: absolute;
        width: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .filter p {
        margin: 0;
        margin-left: 0px;
        margin-right: -6px;
        font-size: 16px;
    }
}
@media (min-width: 769px) and (max-width: 788px) {
    .category-wapper p {
        margin: 0;
        padding: 12px 14px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 38px;
    }
}
@media (min-width: 789px) and (max-width: 1024px) {
    html {
        font-size: 12px;
    }
    .sr1 .modal-left-text {
        font-size: 16px;
        border-right: 2px solid #ebebeb;
        margin-right: -14px;
    }
    .sr1 {
        margin-top: -30px;
        background-color: white;
        border-radius: 2vw;
        height: 110px;
    }
    .sr2 {
        border-radius: 2vw;
        height: 145px;
    }
    .sr2 .modal-left-text {
        margin-top: 26px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 50px;
        margin-right: -14px;
    }
    .sr3 {
        border-radius: 2vw;
        height: 80px;
    }
    .sr3 .modal-left-text {
        margin-top: 24px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 6px;
        padding-top: 5px;
        margin-right: -14px;
    }
    .sr4 {
        border-radius: 2vw;
        height: 140px;
    }
    .sr4 .modal-left-text {
        margin-top: 31px;
        border-right: 2px solid #ebebeb;
        padding-bottom: 27px;
        padding-top: 22px;
        margin-right: -10px;
    }
    .search-container {
        background-image: url('.../../../../image/product/junior-high-school/bg5.png');
        padding: 30px;
        border-radius: 20px;
        background-repeat: no-repeat;
        height: 830px;
        margin-bottom: 30px;
    }
    .search-tem .myBtn {
        background-color: var(--color-bg-btn-orange);
        width: 260px;
        height: 80px;
        border-radius: 10vw;
        border: 0.5vw solid var(--color-boder-btn-orange);
        display: flex;
        align-items: center;
        padding-left: 1.5vw;
        margin-top: 20px;
    }

    .tem-active {
        padding: 0.7vw 0.5vw;
    }
    .tem {
        padding: 0.9vw 0.65vw;
    }
    .tem p {
        font-size: 12px;
    }
    .check-wrapper i {
        font-size: 10px;
    }
    .check-wrapper {
        width: 1.5rem;
        height: 1.5rem;
    }
    section.section-footer .all-box .box-1 .lorem-ft span {
        margin-left: 15px;
    }
    section.section-footer .all-box .box-1 .title-ft img {
        margin-left: 15px;
    }
    section.section-footer .all-box .box-1 .title-ft span {
        margin-left: 15px;
        margin-right: -10px;
    }
    .filter {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 15px;
    }
    .filter p {
        margin: 0;
        margin-left: 0px;
        margin-right: -4px;
        font-size: 16px;
    }
    .categories {
        display: flex;
        background-color: #e6e6e6;
        border-bottom: 6px #489ae1 solid;
        flex-wrap: wrap;
        padding-left: 1vw;
    }
    .category-wapper p {
        margin: 0;
        padding: 12px 13px;
        font-size: 14px;
        cursor: pointer;
        margin-left: 30px;

    }
    .cate-btn {
        position: absolute;
        width: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
}

@media (min-width: 1025px) and (max-width: 1339.98px) {
    html {
        font-size: 12px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 30px;
    }

    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .breadcrumb {
        padding: 1rem 50px;
    }

    /* new HERE */
    .item-description {
        letter-spacing: 1px;
    }
    .filter {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px 15px;
    }
    .categories {
        display: flex;
        background-color: #e6e6e6;
        border-bottom: 6px #489ae1 solid;
        flex-wrap: wrap;
        padding-left: 1vw;
    }
    .filter p {
        margin: 0;
        margin-left: 3px;
        margin-right: 12px;
        font-size: 16px;
    }
}

@media (min-width: 1340px) {
    html {
        font-size: 12px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 30px;
    }

    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .breadcrumb {
        padding: 1rem 50px;
    }

    /* new HERE */
    .item-description {
        letter-spacing: 1px;
    }
}
@media (max-width:670px){
    section.section-search .all-box-search .box-title {
        padding-left: 13vw !important;
        padding-top: 6vw !important;
        padding-bottom: 6vw !important;
        margin: 0;
      }
      section.section-search .all-box-search .box-title img {
        width: 12.5vw !important;
        margin-right: 3vw !important;
      }
      section.section-search .all-box-search .box-title span {
        font-size: 3vw !important;
        letter-spacing: 0.2vw !important;
      }
      section.section-search .all-box-search .box-title h1 {
        font-size: 6vw !important;
        letter-spacing: 1vw !important;
      }
}
