@media (max-width: 375px) {
    html {
        font-size: 12px;
    }

    .category-wapper-active {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    nav.link-resource .all-link a:last-child {
        text-decoration: none;
        
    }
    section.table .td-table a {
        color: white;
        background-color: var(--color-btn-orange);
        padding: 1vw 2.8vw;
        margin: 1vw 0.5vw;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.section-5 .lorem span {
        font-size: 13.5px;
        letter-spacing: 1px;
        line-height: 28px;
    }
    section.section-5 .btn-out span {
        font-size: 2vw;
        left: 2vw;
        letter-spacing: 0.2vw;
        color: white;
    }
    section.section-gray-double .title h1 {
        font-size: 20px;
        color: white;
        letter-spacing: 2px;
    }
    .header-img {
        width: 47px;
        height: 42px;
        margin-right: 14px;
        margin-left: -17px;
    }
    .header-title {
        font-size: 2.9vw;
        
        margin-left: -66px;
        margin-top: 27px;
        margin-bottom: 0;
    }
    .hd-title-1 {
        margin-top: 0px;
        font-size: 10px;
        letter-spacing: 0.3vw;
    }
    .category-wapper-active {
        background-color: #489ae1;
        color: white;
        font-size: 14px;
        margin-bottom: 9px;
        border-bottom: 0px solid #489ae1;
    }
    .category-wapper p {
        margin: 0;
        padding: 12px 15px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 30px;
    }
    .cate-btn {
        position: absolute;
        width: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .main-content img{
        
        padding-top:5vw;
        padding-bottom:3vw;
        
    }
    
    
}

@media (min-width: 1200px) { 
/* level */
    .level-section {
        height: 150px;
    }
    .all-level {
        width: 550px;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
    .level {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .level span {
        height: 30px;
        width: 30px;
        background-color: var(--bg-section-gray-double);
        border-radius: 50%;
        justify-content: center;
        display: flex;
        /* text-align: center; */
        align-items: center;
        font-size: 16px;
        color: #fff;
    }
    .level p {
        top: 35.5px;
        width: 60px;
        font-size: 16px;
    }
    
    .line {
        width: 250px;
        top: 72px;
        height: 5px;
    }
    .line-1 {
        /* top: 1vw; */
        left: 20px;
    }
    .line-2 {
        /* top: 1vw; */
        right: 20px;
    }
    
    /* box-content */
    .ls-2 {
        letter-spacing: 2.5px;
    }
    .font-18 {
        font-size:18px !important;
        line-height: 30px !important;
    }
    .font-16 {
        font-size:16px !important;

    }
    .box-content {
        margin-bottom: 40px;
        padding: 18px 0;
    }
    
    .box-line-title {
        max-width: 330px;

    }
    .line-title {
        margin-left: 50px;
        font-size: 18px;
        padding: 18px;
    }

    .line-title-2 {
        display: flex;
        margin-right: 108px;
        align-items: center;
        height: 60px;
    }
    .box-line-button {
        
        margin-left: 40px;
    }
    .box-line-content {
        margin-left:58px;

    }
    
    .btn-line {
        width: auto;
        height: 50px;
    }
    .btn-line-icon {
        width: 30px;
        height: 30px;
        margin: 0 12px;
    }
    .btn-line-icon img {
        width: 15px;
    }
    .btn-line-text {
        margin-right: 24px;
    }

    .box-line-title-2 h2 span:last-child {
        margin-right: 90px;
    }
    .box-line-title-2 h2 span:first-child {
        margin-right: 0;
    }

    .box-line-4 .line-title-2 {
        width: 135px;
        margin-right: 46px;
    }


    .line-title-3 {
        margin-right: 40px;
    }

    .box-line-content-btn {
        margin-left: 40px !important;
    }

    .box-line-text {
        line-height: 34px !important;
    }   
    /* btn */

   .box-7-line-1 .btn-box-7 .btn_checkBox .btn-1 .btn-1-2 {
        width: 324px;
    }
    
    .btn-1 .btn-1-2 {
        padding: 9.5px 12px;
        border-radius: 50px;
        /* box-shadow: 0 3px 4px 1px rgb(89 89 89 / 25%); */
    }

    .btn-1 .btn-1-2 .bg-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .btn-1 .btn-1-2 .bg-img img {
        width: 30px;
        padding: 6px;
        /* filter: brightness(100); */
    }
    .btn-1 .btn-1-2 h1 {
        letter-spacing: 1px;
        font-size: 18px;
        margin-right: 5px;
    }
    
    .btn-1 a {
        margin-right: 11px;
    }
    
    /* box 5 */
    .line-title-3 {
        margin-right: 40px;
        line-height: 34px;
    }
    
    /* box 6 */
    .box-6 {
        height: 100%;
        /* min-height: 270px !important; */
    }
 
    .line-title-box-6 {
        padding-top: 12px;
        margin-left: 50px;
        font-size: 18px;
        
    }
    
    .box-line-content-box-6 {
        width: 100%;
        padding: 0 40px;
    }

    /* box 7 */

    .box-7 {
        background-color: #f2f2f2;
        margin-bottom: 40px;
    }

    .box-7-line-1 {
        padding: 40px 0;
    }
    .box-header {
        margin-bottom: 23px;
    }
    .box-line-content-box-7 {
        /* box-shadow: 2px 1px 4px 0 #d1cccc inset; */

        height: 250px;
        padding: 30px;


    }
 


    
.btn-box-7 {
    justify-content: center;
    margin-top: 24px;
}
.btn-1-2-box-7 {
    padding: 12px 16px !important;
}
    

/* back-send */
.button-back-send {
    margin-bottom: 100px;

}
.back {
    display: flex;
    height: 70px;
    width: 200px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    border: none;
    background-color: #9a9a9a;
}
.button-back {
    margin-right: 155px;
}
.back-icon {
    height: 30px;
    width: 30px;
    margin-right: 23px;
    margin-left: 23px;
}

.back-icon img {
    width: 12px;
}
.back-title {
    font-size: 20px;
}


.button-send {
    height: 70px;
}
.send {

    width: 323px;
    border-radius: 50px;

}
.send-icon {
    height: 30px;
    width: 30px;
    margin: 0 18px;
}

.send-icon img {
    width: 10px;
}
.send-title {
    letter-spacing: 3px;
    color: #fff;
    font-size: 20px !important;
}

.link-form-submit .bg-image {
    width: 20px;
    height: 20px;
    top: 1px;
    margin-right: 10px;
    }

    
            
    .link-form-submit .text-link  span{
    font-size: 16px;
    }
    
    .link-form-submit .bg-image {
    width: 20px;
    height: 20px;
    top: 1px;
    margin-right: 10px;
    }
    
        
    .box-line-title .line-title-2 {
        margin-right: 47px;
    }
    
        
    .box-line-title .line-title-2-custom {
        margin-right: 124px;
    }
    
    .box-line-content-box-7-custom {
        height: 290px;
    }

    .send-custom {
        width: 310px;
        border: 7px solid #ffcb89;
    }

    .line-title-2-1 {
        margin-right: 108px !important;
    }

    .box-line-title-box-6-custom h2 {
        width: 190px;
    }
    
    .out-link {
        padding-left: 40px;
    }

    .send-custom:hover {
        border: 7px solid var(---color-boder-btn);
    }
}

@media (max-width: 670px) {
    .title-bg {
        padding: 0 4.8vw;
        height: 24vw;
        padding-right: 0;
    }

    .title-header-pc {
        display: none !important;
    }

    .title-header-sp {
        display: block !important;
        line-height: 5vw;
    }

    .title-img {
        width: 9vw !important;
        height: auto;
        margin-right: 3vw;
    }

    .title-bg .title span {
        font-size: 3vw;
        letter-spacing: .5vw;
    }

    .title-container .search-title {
        font-size: 6vw !important;
        letter-spacing: .4vw;
        top: 0;
    }

    .title-bg .title span {
        font-size: 3vw;
        letter-spacing: .5vw;
    }

    .level-section {
        margin-top: 3vw;
        margin-bottom: 7vw;
    }

    .all-level {
        width: 77vw;
    }

    .level span {
        height: 8.3vw;
        width: 8.3vw;
        font-size: 4vw;
    }

    .level p {
        top: 10vw;
        width: 25vw;
        font-size: 3vw;
    }

    .line { 
        width: 35vw; 
    }

    .box-content {
        border-radius: 2vw;
        padding-bottom: 3.5vw;
        padding-top: 2vw;
    }

    .box-7 {
        border-radius: 2vw;
    }

    .line-title {
        font-size: 3.75vw;
        letter-spacing: 0.1vw;
        width: auto;
        margin-right: 2vw;
        height: auto;
        line-height: 5vw;
        margin-left: 5vw;
        padding: 0;
        border-right: none;
    }
    .box-line {
        flex-wrap: wrap;
    }

    .box-line-title {
        max-width: unset;
    }

    .box-line-button {
        flex-wrap: wrap;
        width: 80vw;
        margin: auto;
    }

    .box-line-title {
        max-width: none;
        border-right: none; 
        margin-bottom: 2vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .btn-line {
        width: 39vw;
        height: 12vw;
        padding: 3vw;
        margin-bottom: 0;
        border-radius: 20vw;
        box-shadow: none !important;
        justify-content: start;
    }

    .btn-line-icon {
        margin: 0 1vw 0 0;
        height: 4.5vw;
        width: 4.5vw;
    }

    .radio {
        width: 2.5vw;
        height: 2.5vw;
    }

    .btn-line-text {
        font-size: 3.5vw;
        letter-spacing: .1vw;
        margin-right: 0;
        margin-left: 1vw;
    }
 

    .line_white {
        background-color: white;
        height: 0.4vw;
        width: 100%;
        margin: 2.5vw 0 2vw 0;
    }

    .box-line-text {
        font-size: 3.5vw !important;
        line-height: 5vw;
    }

    .h2-pc {
        display: none !important; 
    }

    .h2-sp {
        display: block !important;
        line-height: 7vw !important;
    }

    .box-line-all .box-line-title {
        justify-content: start;
        border-right: none;
    }

    .box-line-all .box-line-title h2{
        font-size: 3.75vw;
        letter-spacing: 0.1vw;
        width: auto;
        margin-right: 2vw;
        height: auto;
        line-height: 5vw;
        margin-left: 5vw;
        padding: 0;
        border-right: none;
    }

    .box-content.box-content-2.box-4 {
        padding-bottom: 4vw;
    }

    .box-line-content-btn {
        justify-content: space-between;
        width: 100%;
        padding-right: 3vw;
        padding-left: 3vw;
        margin: 0 !important;
    }

    .box-line-content-btn .btn-1 {
        width: 96%;
        flex-wrap: wrap;
        margin-bottom: 0;
        gap: 0 2.5vw;
        margin: auto;
    }

    .btn-1 .btn-1-2 {
        width: 39vw;
        height: 12vw;
        padding: 3vw 3.8vw;
        margin-bottom: 3vw;
        border-radius: 20vw;
        margin-right: 0 !important;
    }

    .btn-1 a {
        margin-right: 0;
    }

    .btn-1 .btn-1-2 .bg-img img {
        width: 3.5vw;
    }

    .btn-1 .btn-1-2 .bg-img {
        width: 4.7vw;
        height: 4.7vw;
    }

    .btn-1 .btn-1-2 h1 {
        font-size: 3.5vw;
        letter-spacing: .1vw;
        margin-right: 0;
        margin-left: 1vw;
    }

    .line-title-box-6 {
        font-size: 3.77vw !important;
        letter-spacing: 0vw;
        width: auto !important;
        margin-right: 2vw;
        height: auto;
        margin-left: 4.2vw;
    }

    .font_medium_sp { 
        font-family: 'mplus 1p medium' !important;
        font-size: 3.9vw !important; 
    } 

    .box-line-content-box-6 {
        padding: 0 4vw;
    }
    .out-link {
        padding: 0; 
        border-left: none; 
        width: 90%;
        margin: auto;
    }

    .out-link .btn-box-7 {
        width: 100%;
        height: 100%; 
    }

    .out-link .btn_checkBox {
        width: 100%;
        height: 100%; 
        margin: 2vw 0;
    }

    .out-link .btn-1-2.btn_checkBox_8 {
        margin: 0;
        width: 100%; 
        height: 12vw;
        padding: 3vw 3.8vw !important;  
        border-radius: 20vw; 
    }

    .send-custom {
        width: 90vw;
        height: 14vw;
        border-radius: 20vw;
        border: 1.066667vw solid #ffcb89;
        padding: 3vw;
        margin-bottom: 18vw;
    }

    .send-custom:hover {  
        border: 1.066667vw solid var(---color-boder-btn);
    }

    .button-send {
        height: auto; 
    }

    .button-back-send {
        flex-wrap: wrap;
        gap: 4vw 0;
    }

    .send-icon {
        width: 6vw;
        height: 6vw;
        margin-left: 0;
    }

    .send-icon img {
        width: 2vw !important;
    }

    .send-title {
        margin-left: 13.5vw;
        font-size: 4.5vw;
    }

    .back { 
        width: 90vw;
        height: 14vw;
        border-radius: 20vw; 
        background-color: #9a9a9a;
    }

    .back-icon { 
        width: 6vw;
        height: 6vw;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 27vw;
        margin-left: 3.5vw;
    }

    .back-title {
        font-size: 4.5vw;
        font-family: "mplus 1p heavy" !important;
        letter-spacing: .3vw;
    }
    .btn-line-icon img{
        width: 3vw;
    }
    .back-icon img {
        width: 2vw;
    }

    .button-back {
        margin: 0;
    }

    .box-content.box-content-2.box-4 .box-line-title{
        margin-bottom: 0;
        margin: 0 0 1vw 0;
    } 

    .font_medium_sp {
        display: flex;
        line-height: 3vw;
    }

    .box-content.box-content-2.box-4 .h2-sp {
        line-height: 10vw !important;
    }

    .box-line {
        margin: 2vw 0 2vw 0;
    }
    
}

@media (min-width: 670px) {
    .font_bold_pc {
        font-family: 'mplus 1p bold';
    }

}