@font-face {
  font-family: "mplus 1p bold";
  src: url("../../fonts/mplus-1p-bold.ttf");
}
@font-face {
  font-family: "mplus 1p regular";
  src: url("../../fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p medium";
  src: url("../../fonts/mplus-1p-medium.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../fonts/mplus-1p-light.ttf");
}
.text-bold {
  font-family: "mplus 1p bold";
}
.text-heavy {
  font-family: "mplus 1p heavy";
}
.font-light {
  font-family: "mplus 1p light";
}
.font-heavy {
  font-family: "mplus 1p heavy";
}
.text-regular {
  font-family: "mplus 1p regular";
}
body {
  margin: 0;
  padding: 0;
  /* font-family: "mplus 1p light"; */
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
.bg-light {
  background-color: white !important;
}
.navbar-nav,
.mr-auto {
  margin-right: unset !important;
  /* margin-left: auto; */
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  /* font-weight: bold; */
  font-size: 1.1rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item a {
  font-size: 10.8px;
  color: #222222;
  text-decoration: underline;
  line-height: 2.5;
}
.breadcrumb-item.active {
  font-size: 10.8px;
  color: black;
  font-weight: bold;
  line-height: 2.5;
}
.breadcrumb-item::before {
  padding: 0px 6.3px !important;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 1rem 50px;
}
.breadcrumb-unset-bgcolor {
  background-color: unset;
}
a:hover {
  text-decoration: none;
}
.grid {
  display: grid;
  place-items: center;
}
/* .col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 17px;
  padding-left: 17px;
} */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  ---color-boder-btn: #99c6ee;
  --color-bg-btn-orange: #ff9e21;
  --color-boder-btn-orange: #ffbb64;
  --color-bg-section-2: #489ae1;
  --color-text-active: #309bd5;
  --color-btn-active: rgb(71, 153, 225);
  --box-shadow: 0 0.3vw 0.4vw 0.1vw rgba(177, 177, 177, 0.25);
  --max-width: 1080px;
  --color-three-box-1: #abd1f3;
  --color-three-box-2: #489ae1;
  --color-three-box-3: #1c588b;
  --color-three-box-4: #08365e;
  --color-three-box-5: #f2f2f2;
  --bg-btn-box-search: #489ae1;
  --bg-section-gray-double: #489ae1;
  --bg-cl-btn-slide: #f5f5f5;
}

h1 {
  margin-bottom: 0 !important;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("../../fonts/mplus-1p-bold.ttf");
}
@font-face {
  font-family: "mplus 1p regular";
  src: url("../../fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../fonts/mplus-1p-light.ttf");
}

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_regular {
  font-family: "mplus 1p regular" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

.col-6,
.col-md-4,
.col-lg-4,
.col-xl-3 {
  padding: 0 !important;
  justify-content: center !important;
}

.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}

/* header  */
.header nav .container-fluid .navbar-brand span {
  color: black !important;
}

/* header  */

nav.link-resource {
  background-color: #e6e6e6;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
}

nav.link-resource .all-link {
  display: flex;
}

nav.link-resource .all-link a {
  font-size: 12px;
  color: black;
}

nav.link-resource .all-link a:hover {
  opacity: 0.5;
}

nav.link-resource .all-link a:last-child:hover {
  opacity: 1;
  cursor: default;
}

nav.link-resource .all-link a:first-child {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

nav.link-resource .all-link span {
  font-size: 15px;
  margin: 0 8px;
}

nav.link-resource .all-link a:not(:last-child):hover {
  opacity: 0.5;
}

@media (min-width: 1200px) {
  /* nav-link */

  nav.link-resource .all-link a:first-child {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
  }

  nav.link-resource .all-link span {
    font-size: 15px;
    font-weight: 100;
    margin: 0 8px;
  }

  nav.link-resource .all-link a {
    font-size: 12px;
    color: black;
  }

  /* nav.link-resource .all-link span {
        margin: 0 8px;
    } */

  /* section-2  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body,
html {
  height: 100%;
  max-width: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

nav.link-resource .all-link a:first-child {
  text-decoration: 1px underline !important;
  text-underline-offset: 2px !important;
}

/* search */

.bg-header {
  display: flex;
  background-image: url(../../image/supporttools/updatelist/bg.png);
  width: 100%;
  height: 105px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.bg-header {
  padding: 2rem 50px !important;
}
.header-img {
  width: 42px;
  height: 50px;
  margin-right: 10px;
  margin-left: 40px;
}

.header-title {
  font-size: 24px;
  letter-spacing: 0.3vw;
  margin-left: -125px;
  margin-top: 19px;
  margin-bottom: 0;
}
.hd-title-1 {
  margin-top: -17px;
  font-size: 15px;
  letter-spacing: 0.3vw;
}
.main-content {
  width: 900px;
  margin: 0px auto 50px;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 30px;
}
.main-content img {
  display: block;
  width: 110px;
  padding-top: 60px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.title-container .search-title {
  font-size: 24px;
  margin: 0;
  letter-spacing: 3.5px;
  position: relative;
  top: -2px;
}

.title-bg {
  height: 100px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-image: url(../../../_newAssets/image/common/bg_title.png); */
}

.title-img {
  width: 44px;
  height: 50px;
  margin-bottom: -0.5px;
  margin-right: 20px;
}

.title-container .title span {
  font-size: 14px;
  letter-spacing: 3.5px;
}
.modal-show {
  background-image: url(../../../_newAssets/image/product/search/bg.png);
}
.search-container {
  /* background-image: url(../../../_newAssets/image/product/search/bg.png); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .title-bg {
    height: 100px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url(../../../_newAssets/image/common/bg_title.png);
    
} */
.title-bg .title {
  display: flex;
  flex-direction: column;
}
nav.link-resource-sp {
  display: none;
}
.title-bg .title span {
  font-size: 14px;
  letter-spacing: 3.5px;
}
.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-button-text {
  font-size: 1.3vw;
}
.search-icon {
  display: flex;
  align-items: center;
}

.search-img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.search-container .search-title {
  font-size: 24px;
  margin: 0;
  letter-spacing: 3.5px;

  position: relative;
  top: -2px;
}

/* btn-send */

.button-send-0 {
  margin-right: 48px;
  height: 4.2vw !important;
  width: 21vw !important;
}
.send {
  box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
  height: 100%;
  display: flex;
  flex-direction: row;

  background-color: orange;
  border-radius: 6vw;
  align-items: center;
}
.send-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 1.5vw;
}
.send-icon-1 {
  width: 1.7vw !important;
  height: 1.7vw !important;
}
.send-icon img {
  width: 0.7vw;
}
.send-1 p {
  letter-spacing: 1px !important;
  font-size: 1.3vw !important;
  color: #fff;
  margin: 0;
}
.send-0 {
  width: 21vw !important;
}
.send-1 {
  border: none !important;
}
/* button */

.btn-header2 {
  margin-right: 20px;
}

.btnView {
  background-color: #ffffff !important;
  margin: 10px 8px;
}
.btnView:hover {
  background-color: var(--color-btn-active);
}
.btnViewDetail {
  /* width: 250px; */
  cursor: pointer;
  /* display: inline-block; */
  background-color: orange;
  padding: 11px 28px 11px 16px;
  /* box-shadow: rgb(0 0 0 / 21%) 3px 3px 6px; */
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 21px;
    margin-left: 10px; */
  word-break: keep-all;
}
.cate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: orange;
  width: 19px;
  height: 19px;
}

.cate-btn img {
  width: 1vw;
  transform: rotate(90deg);
  filter: brightness(100);
}

.arrow-wrapper {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff9e21;
}
.arrow-wrapper img {
  width: 12px !important;
}
.btnViewDetail p {
  margin: 0;
  color: rgb(0, 0, 0);
  display: inline;
  font-size: 16px;
  margin-left: 10px;
}

.btnViewDetail:hover {
  background-color: var(--color-btn-active) !important;
}
.btnViewDetail:hover p {
  color: #fff;
}
.btnViewDetail:hover .cate-btn {
  border-radius: 20px;
  padding: 5px;
  background-color: white;
}
.btnDetail-header2:hover img {
  filter: hue-rotate(190deg) contrast(0.9) !important;
}
.btnViewDetail:hover img {
  filter: none;
}
.text-heavy {
  font-family: "mplus 1p heavy";
}

.button-down {
  /* max-width: 1080px; */
  background-color: #e6e6e6;
}
.list-button-down {
  margin: auto;
  min-height: 90px;
  align-items: center;
  max-width: 1080px;
  /* margin-left: 50px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* padding: 0 70px;
    /* padding: 0 70px; */
}

/* .text {
    font-weight: 400;
    color: rgb(13, 13, 13);
} */

/* content contact */
.content-bottom {
  border-bottom: 4px dotted rgb(224, 224, 224);
}
.content-all {
  display: flex;
  flex-direction: column;

  padding: 30px 0;
}
.contact-content {
  /* padding: 20px; */
  margin-bottom: 100px;
}

.contact-content_header {
  display: inline;
  font-size: 25px;
  margin: 0;
}
.contact-content_header span {
  color: #ff9e21;
}
.contact-content_text {
  font-size: 17px;
  /* font-weight: bold; */
  width: 100%;
  margin: 2rem 0;
}
.text-heavy {
  letter-spacing: 0px;
}
.btn-contact-content {
  display: inline-block;
  max-width: 420px;
}

/* button content */
.btn-box-left {
  display: flex;
  font-size: 16px;
  width: auto;
  border-radius: 32px;
}

.btn-box-left a {
  text-decoration: none !important;
}

.btn-box-left .bg-btn {
  display: flex;
  align-items: center;
  max-width: 520px;
  /* height: 40px !important; */
  border-radius: 160px;
  border: 7px solid var(---color-boder-btn);
  padding: 18px;
  box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
  background-color: var(--color-text-active);
}

.bg-btn .icon-arr {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  border-radius: 80px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  padding: 9.6px;
}
.icon-arr img {
  width: 28px;
  padding: 8px;
}
.btn-box-left h1 {
  margin-right: 15px;
  font-size: 20px;
  left: 32px;
  letter-spacing: 1px;
  color: white;
}
.bg-btn:hover {
  background-color: var(--color-bg-btn-orange);
  border: 7px solid var(--color-boder-btn-orange);
  cursor: pointer;
}
.bg-btn:hover img {
  filter: hue-rotate(178deg) contrast(2.5);
}
@media (min-width: 900px) {
  .contact-content {
    max-width: 904px;
    /* width: 1280px; */
    margin: auto;
    margin-top: 20px;
    /* padding-left: 160px; */
    /* padding-right: 160px; */
    margin-bottom: 100px;
  }
}
