@media (max-width: 670px) {
  .box-line-confirm {
    flex-wrap: wrap !important;
    margin: 2vw 0 2vw 0;
  }

  .box-line-title-confirm {
    width: 100%;

    max-width: unset;
    padding: 0;
    max-width: none;
    border-right: none;
    margin-bottom: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0 !important;
  }

  .div-box-6-line-1 {
    flex-wrap: wrap !important;
  }

  .title-bg {
    padding: 0 4.8vw;
    height: 24vw;
    padding-right: 0;
  }

  .title-header-pc {
    display: none !important;
  }

  .title-header-sp {
    display: block !important;
    line-height: 5vw;
  }

  .title-img {
    width: 9vw !important;
    height: auto;
    margin-right: 3vw;
  }

  .title-bg .title span {
    font-size: 3vw;
    letter-spacing: 0.5vw;
  }

  .title-container .search-title {
    font-size: 4vw !important;
    letter-spacing: 0.4vw;
    top: 0;
  }

  .title-bg .title span {
    font-size: 3vw;
    letter-spacing: 0.5vw;
  }

  .level-section {
    margin-bottom: 7vw;
  }

  .all-level {
    width: 77vw;
  }

  .level span {
    height: 8.3vw;
    width: 8.3vw;
    font-size: 4vw;
  }

  .level p {
    top: 10vw;
    width: 25vw;
    font-size: 3vw;
  }

  .line {
    width: 35vw;
  }

  .box-content {
    border-radius: 2vw;
    padding-bottom: 3.5vw;
    padding-top: 2vw;
    margin-bottom: 3.5vw;
  }

  .box-7 {
    border-radius: 2vw;
  }

  .line-title {
    font-size: 3.75vw;
    letter-spacing: 0.1vw;
    width: auto;
    margin-right: 2vw;
    height: auto;
    line-height: 5vw;
    margin-left: 5vw;
    padding: 0;
    border-right: none;
  }

  .box-line {
    flex-wrap: wrap;
  }

  .box-line-title {
    max-width: unset;
  }

  .box-line-button {
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
  }

  .box-line-title-box-6-custom-confirm h2 {
    max-width: none;
    border-right: none;
    margin-bottom: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .btn-line {
    width: 39vw;
    height: 12vw;
    padding: 3vw;
    margin-bottom: 0;
    border-radius: 20vw;
    box-shadow: none !important;
    justify-content: start;
  }

  .btn-line-icon {
    margin: 0 1vw 0 0;
    height: 4.5vw;
    width: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio {
    width: 2.5vw;
    height: 2.5vw;
  }

  .btn-line-text {
    font-size: 3.4vw;
    letter-spacing: 0.1vw;
    margin-right: 0;
    margin-left: 1vw;
  }

  .line_white {
    background-color: white;
    height: 0.4vw;
    width: 100%;
    margin: 2.5vw 0 2vw 0;
  }

  .box-line-text {
    font-size: 3.5vw !important;
    line-height: 5vw;
  }

  .h2-pc {
    display: none !important;
  }

  .h2-sp {
    display: block !important;
    line-height: 7vw !important;
  }

  .box-line-all .box-line-title {
    justify-content: start;
    border-right: none;
  }

  .box-line-all .box-line-title h2 {
    font-size: 3.75vw;
    letter-spacing: 0.1vw;
    width: auto;
    margin-right: 2vw;
    height: auto;
    line-height: 5vw;
    margin-left: 5vw;
    padding: 0;
    border-right: none;
  }

  .box-content.box-content-2.box-4 {
    padding-bottom: 4vw;
  }

  .box-line-content-btn {
    justify-content: space-between;
    width: 100%;
    padding-right: 3vw;
    padding-left: 3vw;
    margin: 0 !important;
  }

  .box-line-content-btn-confirm {
    justify-content: space-between;
    width: 100%;
    padding-right: 3vw !important;
    padding-left: 3vw !important;
    margin: 0 !important;
  }

  .btn-1 .btn-1-2 {
    width: 39vw;
    height: 12vw;
    padding: 3vw 3.8vw;
    margin-bottom: 3vw;
    border-radius: 20vw;
    margin-right: 0 !important;
  }

  .btn-1 a {
    margin-right: 0;
  }

  .btn-1 .btn-1-2 .bg-img img {
    width: 3.5vw;
  }

  .btn-1 .btn-1-2 .bg-img {
    width: 4.7vw;
    height: 4.7vw;
  }

  .btn-1 .btn-1-2 h1 {
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
    margin-right: 0;
    margin-left: 1vw;
  }

  .line-title-box-6 {
    font-size: 3.77vw !important;
    letter-spacing: 0vw;
    width: auto !important;
    margin-right: 2vw;
    height: auto;
    margin-left: 4.2vw;
  }

  .font_medium_sp {
    font-family: "mplus 1p medium" !important;
    font-size: 3.9vw !important;
  }

  .box-line-content-box-6 {
    padding: 0 4vw;
  }

  .out-link {
    padding: 0;
    border-left: none;
    width: 90%;
    margin: auto;
  }

  .out-link .btn-box-7 {
    width: 100%;
    height: 100%;
  }

  .out-link .btn_checkBox {
    width: 100%;
    height: 100%;
    margin: 2vw 0;
  }

  .out-link .btn-1-2.btn_checkBox_8 {
    margin: 0;
    width: 100%;
    height: 12vw;
    padding: 3vw 3.8vw !important;
    border-radius: 20vw;
  }

  .send-custom-confirm {
    width: 90vw;
    height: 14vw;
    border-radius: 20vw;
    border: 1.066667vw solid #ffcb89;
    padding: 3vw;
    margin-bottom: 18vw;
  }

  .send-custom-confirm:hover {
    border: 1.066667vw solid var(---color-boder-btn);
  }

  .button-send-confirm {
    height: auto;
  }

  .button-back-send {
    flex-wrap: wrap;
    gap: 4vw 0;
  }

  .send-icon {
    width: 6vw;
    height: 6vw;
    margin-left: 0;
  }

  .send-icon img {
    width: 2vw !important;
  }

  .send-title {
    margin-left: 13.5vw;
    font-size: 4.5vw;
  }

  .button-back-send-confirm {
    flex-wrap: wrap;
    gap: 4vw 0;
  }

  .back-confirm {
    width: 90vw;
    height: 14vw;
    border-radius: 20vw;
    background-color: #9a9a9a;
  }

  .back-icon-confirm {
    width: 6vw;
    height: 6vw;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 27vw;
    margin-left: 3.5vw;
  }

  .back-title {
    font-size: 4.5vw;
    font-family: "mplus 1p heavy" !important;
    letter-spacing: 0.3vw;
  }

  .back-icon-confirm img {
    width: 2vw;
  }

  .button-back-confirm {
    margin: 0;
  }

  .box-content.box-content-2.box-4 .box-line-title {
    margin-bottom: 0;
    margin: 0 0 1vw 0;
  }

  .font_medium_sp {
    display: flex;
    line-height: 3vw;
  }

  .line-title.h2-sp {
    line-height: 10vw !important;
  }

  .box-line {
    margin: 2vw 0 2vw 0;
  }

  .box-content.box-1 {
    height: auto;
    padding-bottom: 3.5vw !important;
  }

  .box-line-content {
    margin-left: 5vw;
    padding: 0;
  }

  .box-line.box-line2 .box-line-title {
    margin-top: 0 !important;
  }

  .box-content {
    border-radius: 2vw;
    padding-bottom: 3.5vw;
    padding-top: 2vw;
    margin: 3.5vw 0 !important;
  }

  .box-content.box-2 {
    padding-bottom: 3.5vw;
    padding-top: 2vw;
  }

  .box-content-2.box-content-2-1.box-4 .box-line-title {
    margin-top: 0 !important;
  }

  .box-content-textarea-custom h2 {
    font-size: 3.75vw;
    letter-spacing: 0.1vw;
    width: auto;
    margin-right: 2vw;
    height: auto;
    line-height: 5vw;
    margin-left: 5vw;
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .box-content-textarea-custom .title-right {
    margin-left: 5vw;
    padding: 0;
    border-left: none;
    width: auto;
  }

  .box-content-2-1 {
    min-height: unset !important;
  }

  .box-content-2.box-content-2-1.box-4 .box-line1-1 {
    margin-bottom: 2vw !important;
  }

  .box-content-textarea-custom {
    border-radius: 2vw;
  }

  .box-content-textarea-custom span {
    font-size: 3.5vw !important;
    line-height: 5vw;
  }

  .box-content-textarea-custom .row {
    flex-wrap: wrap;
  }

  .title-left {
    width: 100%;
  }

  .box-content-textarea-custom .row {
    margin-bottom: 3vw;
  }

  .box-content-textarea-custom {
    padding: 6vw 0;
  }

  .title-right.btn-line-orange-2 {
    justify-content: space-between;
    width: 96% !important;
    padding-right: 3vw;
    padding-left: 3vw;
    margin: auto;
    gap: 2.3vw;
  }

  .btn-line-custom {
    width: 39vw;
    height: 12vw;
    padding: 3vw 3.8vw;
    border-radius: 20vw;
    margin-right: 0 !important;
    justify-content: start;
  }

  .btn-line-icon img {
    width: 3vw;
  }

  .box-content-textarea-custom .row-2 .title-left {
    margin-bottom: 2vw;
  }

  .text-area {
    margin: 0 !important;
    padding: 0 4vw !important;
  }

  .title-left {
    margin-bottom: 2vw;
  }

  .box-content-textarea-custom .row-5 {
    margin-bottom: 0;
  }

  .sp-none {
    display: none;
  }

  .pc-none {
    display: block;
  }

  .box-content-confirm {
    border-radius: 2vw;
  }

  .box-7-line-1-confirm {
    padding: 3vw 0 7vw 0 !important;
  }

  .line-title-confirm {
    font-size: 3.75vw;
    letter-spacing: 0.1vw;
    width: auto;
    margin-right: 2vw;
    height: auto;
    line-height: 5vw;
    margin-left: 5vw;
    padding: 0;
    border-right: none;
  }

  .box-line-button-confirm {
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
  }

  .btn-line-confirm {
    min-width: 43vw !important;
    padding: 3vw;
    margin-bottom: 0;
    border-radius: 20vw;
    box-shadow: none !important;
    justify-content: start;
    cursor: default;
    width: auto !important;
    height: 12vw !important;
  }

  .btn-line-icon-confirm {
    margin: 0 1vw 0 1vw;
    height: 4.5vw;
    width: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-line-icon-confirm img {
    width: 3vw;
  }

  .btn-line-text-confirm {
    font-size: 3.5vw;
    margin-left: 1vw;
    letter-spacing: 0.1vw;
    margin-right: 0;

  }

  .box-line-content-confirm {
    margin-left: 5vw;
    padding: 0;
  }

  .box-line-text-confirm {
    font-size: 3.5vw !important;
    line-height: 5vw;
  }
 
  .box-line-title-2-confirm h2 {
    flex-direction: column;
    line-height: 6vw !important;
    font-size: 3.75vw;
    margin-bottom: 2vw;
  }

  .box-line-title-2-confirm h2 span:last-child {
    font-size: 3.9vw !important;
  }

  .box-line-title-2-confirm {
    margin-bottom: 0;
  }

  .box-line-all .box-line-title-confirm {
    justify-content: flex-start;
  }

  .line-title-2-1-confirm {
    font-size: 3.75vw !important;
    margin-left: 5vw;
  }

  .box-line-4-confirm .line-title-2-confirm {
    width: 52vw;
    font-size: 3.75vw !important;
    margin-left: 5vw;
  }

  .box-line-content-confirm {
    width: 100%;
  }

  .btn-1-confirm {
    gap: 2vw 3.5vw;
  }

  .btn-1-confirm .btn-1-2-confirm {
    min-width: 39vw;
    width: auto;
    height: 12vw;
    padding: 3vw 3.8vw;
    border-radius: 20vw;
    margin: 0 !important;
  }

  .btn-1-confirm .btn-1-2-confirm .bg-img { 
    width: 4.7vw;
    height: 4.7vw;
  }

  .out-link-confirm {
    border-left: none;
  }

  .btn-1-confirm .btn-1-2-confirm .bg-img img {
    width: 3.5vw;
  }

  .btn-1-confirm .btn-1-2-confirm h1 {
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
    margin-right: 0;
    margin-left: 8vw;
  }

  .btn-1-confirm-t {
    margin-top: 2.5vw !important;
  }

  .all-file-name p {
    font-size: 3.5vw !important;
  }

  .check-image-confirm {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
  }

  .check-image-confirm img {
    width: 2.5vw;
  }

  .text-link-none span {
    font-size: 3.75vw !important;
  }

  .last-text-accept-confirm {
    display: flex;
    width: 90%;
  }

  .http-accept {
    font-size: 3.4vw !important;
  }

  .line-title-box-6-confirm {
    border-right: none;
    font-size: 3.75vw;
    letter-spacing: 0.1vw;
    width: auto;
    margin-right: 2vw;
    height: auto;
    line-height: 5vw;
    margin-left: 5vw;
    padding: 0;
  }

  .box-line-title-box-6 {
    justify-content: center;
  }

  .box-line-title-box-6-custom-confirm h2 {
    padding-top: 0;
    margin: 0 0 3vw 0;
  }

  .out-link-confirm {
    margin: 0;
    padding: 0;
    width: 100%;
  } 

  .btn-1-2-box-7-confirm {
    width: 100% !important;
    padding: 3vw 3.8vw !important;
  }

  .box-5-confirm {
    padding-bottom: 6vw !important;
  }

  .box-line-confirm.box-line-6 {
    margin-bottom: 6vw !important;
  }

  .box-6-line-1 {
    margin-bottom: 6vw !important;
  }

  .btn-1-confirm { 
    flex-wrap: wrap;
    margin-bottom: 0;
    gap: 2.5vw !important;
    margin: auto; 
    width: 96%; 
  }

  .btn-1-confirm a {
    margin-right: 0;
  }

  .box-line-title-2-confirm {
    margin: 2vw 0 2vw 0;
  }

  .btn-1-confirm .btn-1-2-confirm h1 {
    font-size: 3.5vw;
    letter-spacing: .1vw;
    margin-right: 0;
    margin-left: 2vw;
    margin-bottom: 0 !important;
  }
}

@media (min-width: 671px) {
  .font_bold_pc {
    font-family: "mplus 1p bold";
  }

  .sp-none {
    display: block;
  }

  .pc-none {
    display: none;
  }
}