@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
:root {
  ---color-boder-btn: #99c6ee;
  --color-bg-btn-orange: #ff9e21;
  --color-boder-btn-orange: #ffbb64;
  --color-bg-section-2: #489ae1;
  --color-text-active: #309bd5;
  --color-btn-active: rgb(71, 153, 225);
  --box-shadow: 0 0.3vw 0.4vw 0.1vw rgba(177, 177, 177, 0.25);
  --max-width: 1080px;
  --color-three-box-1: #abd1f3;
  --color-three-box-2: #489ae1;
  --color-three-box-3: #1c588b;
  --color-three-box-4: #08365e;
  --color-three-box-5: #f2f2f2;
  --bg-btn-box-search: #489ae1;
  --bg-section-gray-double: #489ae1;
  --bg-cl-btn-slide: #f5f5f5;
  --color-title-info: #64afef;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("../../fonts/mplus-1p-bold.ttf");
}

@font-face {
  font-family: "mplus 1p regular";
  src: url("../../fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p medium";
  src: url("../../fonts/mplus-1p-medium.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../fonts/mplus-1p-light.ttf");
}
.ls1 {
  letter-spacing: 1px;
}
.ls-1 {
  letter-spacing: -1px;
}
.text-bold {
  font-family: "mplus 1p bold";
}

.text-heavy {
  font-family: "mplus 1p heavy";
}

.font-light {
  font-family: "mplus 1p light";
}

.font-heavy {
  font-family: "mplus 1p heavy";
}

.text-regular {
  font-family: "mplus 1p regular";
}
.text-medium {
  font-family: "mplus 1p medium";
}

/* css header  */

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

/* css header  */

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

/* .search  */
.navbar-light .navbar-nav .nav-link {
  color: black;
  /* font-weight: bold; */
  font-size: 1.1rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item a {
  font-size: 10.8px;
  color: #222222;
  text-decoration: underline;
  line-height: 2.5;
}

.breadcrumb-item.active {
  font-size: 10.8px;
  color: black;
  font-weight: bold;
  line-height: 2.5;
}

.breadcrumb-item::before {
  padding: 0px 6.3px !important;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 1rem 50px;
}

.breadcrumb-unset-bgcolor {
  background-color: unset;
}

nav.link-resource {
  background-color: #e6e6e6;
}
nav.link-resource {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
}

nav.link-resource .all-link a {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
  color: black;
  font-size: 12px !important;
}

nav.link-resource .all-link span {
  font-size: 15px;
  margin: 0 8px;
}
li::marker {
  font-size: 1.2em;
}
nav.link-resource {
  background-color: #e6e6e6;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
}

nav.link-resource .all-link {
  display: flex;
}

nav.link-resource .all-link a {
  font-size: 12px;
  color: black;
}

nav.link-resource .all-link a {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

nav.link-resource .all-link .link-none {
  text-decoration: none;
}

nav.link-resource .all-link span {
  font-size: 15px;
  margin: 0 8px;
}

nav.link-resource .all-link a {
  text-decoration: 1px underline !important;
  text-underline-offset: 2px !important;
}
nav.link-resource .all-link a:hover {
  opacity: 0.5;
}
nav.link-resource .all-link a:last-child {
  text-decoration: 1.5px underline;
  text-underline-offset: 2px;
  text-decoration: none !important;
  opacity: 1 !important;
  cursor: default;
}
nav.link-resource .all-link a:not(:last-child):hover {
  opacity: 0.5;
}

.font-18 {
  font-size: 1.5vw;
}
.font-16 {
  font-size: 1.34vw;
}
.font-24 {
  font-size: 2vw;
}
.font-20 {
  font-size: 1.677vw;
}
.font-14 {
  font-size: 1.17vw;
}
.font-36 {
  font-size: 3vw;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.row-flex {
  display: flex;
  flex-direction: row;
}

/* .title  */

.title-container .search-title {
  font-size: 24px;
  margin: 0;
  letter-spacing: 3.5px;
  position: relative;
  top: -2px;
}
.title-bg {
  height: 100px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: url(../../../_newAssets/image/common/bg_title.png);
}
.title-bg .title {
  display: flex;
  flex-direction: column;
}
.title-img {
  width: 44px;
  margin-bottom: -0.5px;
  margin-right: 20px;
}
.title-container .title span {
  font-size: 14px;
  letter-spacing: 3.5px;
}
.title-bg span .date {
  letter-spacing: 1px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.m-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 4.2vw;
  margin-bottom: 13.34vw;
}
.m-content-1 {
  margin-top: 5vw;
}
.blue-line {
  width: 8px;
  height: 35px;
  background-color: #489ae1;
  border-radius: 20px;
}
.dot-line {
  border-bottom: 4px dotted #eeeeee;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vw;
  margin-bottom: 2vw;
}
.main-title .title {
  display: flex;
  margin: auto;
}
.title-text {
  margin-left: 1.7vw;
  letter-spacing: 3px;
}
.content-text {
  line-height: 2;
}
.box-gray {
  background-color: #e6e6e6;
  border-radius: 22px;
  margin: 10px 0px 30px 0px;
  padding: 20px 30px;
}

/* btn */

.btn-box-left {
  display: flex;
  font-size: 16px;
  width: auto;
  border-radius: 32px;
  margin: 20px 0px 40px 0px;
}
.btn-box-left a {
  text-decoration: none !important;
}
.btn-box-left .bg-btn {
  background-color: var(--color-bg-btn-orange);
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 160px;
  border: 7px solid var(--color-boder-btn-orange);
  padding: 18px;
  box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
}
.btn-box-left .bg-btn:hover {
  background-color: var(--color-btn-active);
  border: 7px solid var(---color-boder-btn);
  cursor: pointer;
}
.btn-box-left .bg-btn:hover img {
  filter: hue-rotate(190deg);
}
.btn-box-left .bg-btn .icon-arr {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  border-radius: 80px;
  width: 32px;
  height: 32px;
  margin-right: 40px;
  padding: 9.6px;
}
.btn-box-left h1 {
  font-size: 20px;
  letter-spacing: 3px;
  margin-right: 55px;
  margin-bottom: 0 !important;
  color: white;
}
nav.link-resource-sp {
  display: none;
}

@media (max-width: 800px) {
  .title-container .search-title {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .m-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    margin-top: 50px;
    margin-bottom: 160px;
  }
  .m-content-1 {
    margin-top: 60px;
  }
  .main-title .title {
    max-width: 1080px;
    margin: auto;
  }
  .dot-line {
    border-bottom: 4px dotted #eeeeee;
    width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .font-18 {
    font-size: 18px;
  }
  .font-16 {
    font-size: 16px;
  }
  .font-24 {
    font-size: 24px;
  }
  .font-20 {
    font-size: 20px;
  }
  .font-14 {
    font-size: 14px;
  }
  .font-36 {
    font-size: 36px;
  }
}

@media (max-width: 670px) {
  /* nav.link-resource-sp {
      display: flex ;
      padding-left: 0 !important;
      background-color: #dadada !important;
      overflow: hidden;
      margin-top: 80px !important;
  } */

  /* .title-bg {
      height: 70px;
      padding: 0 5.333vw;
    }
    .title-bg .title-img {
      width: 9vw !important;
      margin-right: 3vw;
  }
  .title-bg .title span {
    font-size: 2.5vw;
    letter-spacing: 1.1vw;
  }
  .title-bg .title h1{
    font-size: 3vw;
    letter-spacing: 0;
  } */
  .title-bg {
    padding: 0;
    padding: 0 4.8vw;
    height: 20vw;
  }
  .title-img {
    width: 9vw !important;
    margin-right: 3vw;
  }
  .title-bg .search-title {
    font-size: 4vw;
    letter-spacing: 0;
    top: 0;
  }
  .title-container .title span {
    font-size: 3vw;
  }
  .content-text {
    font-size: 3.5vw;
    line-height: 1.9;
  }
  .font-14 {
    font-size: 2.5vw;
  }
  .main-title .title {
    margin-top: 6vw !important;
  }
  .blue-line {
    width: auto;
    height: auto;
    min-width: 1.5vw;
    min-height: 6.76vw;
    background-color: #489ae1;
    border-radius: 30px;
    margin-right: 1.7vw;
  }
  .title-text {
    display: flex;
    font-size: 4.5vw;
    margin-left: 0;
    align-items: center;
  }
  .dot-line {
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-bottom: 4px dotted #eeeeee;
  }
  .btn-box-left {
    display: flex;
    width: auto;
    margin: 3vw 0px 6vw 0px;
  }
  .btn-box-left .btn_checkBox {
    width: 100%;
  }
  .btn-box-left .bg-btn {
    height: 18vw;
    border-radius: 24vw;
    border: 1.05vw solid var(--color-boder-btn-orange);
    padding: 2.7vw;
    box-shadow: 0 0.72vw 0.72vw 0 rgb(45 45 45 / 25%);
  }
  .btn-box-left .bg-btn .icon-arr {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-right: 8vw;
    margin-left: 2.66667vw;
    padding: 1.44vw;
  }
  .btn-box-left .bg-btn .icon-arr img {
    width: 3vw;
    height: auto;
  }
  .btn-box-left h1 {
    font-size: 4.8vw;
    letter-spacing: 0.2vw;
    margin-left: 8vw;
    margin-bottom: 0 !important;
    color: white;
  }
  .box-gray {
    border-radius: 3.3vw;
    margin: 1.5vw 0 4.5vw 0;
    padding: 3vw 4.5vw;
  }
  nav.link-resource .all-link a {
    text-decoration: none !important;
  }
}
