@media (min-width: 1200px) {
  .search-container .title {
    margin-right: 36px;
  }
  /* nav-link */

  nav.link-resource .all-link a:first-child {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
  }

  nav.link-resource .all-link span {
    font-size: 15px;
    font-weight: 100;
  }

  nav.link-resource .all-link a {
    font-size: 12px;
    color: black;
  }

  nav.link-resource .all-link span {
    margin: 0 8px;
  }

  /* section-1  */

  section.section-1 {
    max-width: 1080px;
    margin: auto;
    margin-bottom: 50px;
  }

  section.section-1 .title h1 {
    line-height: 40px;
    margin: 30px 0;
    letter-spacing: 3px;
    font-size: 22px;
    width: 600px;
  }

  section.section-1 .all-box .box {
    width: 350px;
    margin: 30px 40px 0 0;
    border: 5px solid var(--corlor-border-sc-1);
    border-radius: 20px;
  }

  section.section-1 .all-box .body-lorem {
    margin: 20px 0 20px 55px;
  }

  section.section-1 .all-box .body-lorem .title-box h1 {
    width: 255px;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
    border-bottom: 5px dotted var(--corlor-border-sc-1);
  }

  section.section-1 .all-box .body-lorem .lorem span {
    font-size: 14px;
    width: 255px;
    letter-spacing: 3px;
  }

  section.section-1 .all-box .image img {
    width: 35px;
  }

  section.section-1 .all-box .image {
    background-color: var(--corlor-border-sc-1);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: -15px;
  }

  /* tabs  */

  .category-wapper {
    border-radius: 25px;
    margin: 8px;
  }

  .category-wapper .body-bt {
    display: flex;
    padding: 13px 25px;
  }

  .cate-btn {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }

  .cate-btn img {
    width: 10px;
  }

  .category-wapper .body-bt p {
    font-size: 15px;
  }

  .category-wapper.active {
    border-bottom: 10px solid #489ae1;
  }

  .bg-section-tabs {
    height: 171px;
    max-width: 1080px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .bg-section-tabs .all-double-search {
    padding: 0 30px;
  }

  .bg-section-tabs .all-double-search .text {
    width: 550px;
    line-height: 25px;
    padding: 20px;
  }

  .bg-section-tabs .all-double-search .text span {
    font-size: 16px;
  }

  .bg-section-tabs .form-input input {
    height: 60px;
    width: 370px;
    border-radius: 5rem;
    box-shadow: 3px 3px 0.5rem 0 rgb(179 179 179) inset;
    padding-left: 32px;
    padding-bottom: 0.4rem;
    font-size: 1.5rem;
    margin-right: 20px;
  }

  .bg-section-tabs .form-input input::placeholder {
    font-size: 15px;
  }

  .bg-section-tabs .form-input .btn-go .bg-btn {
    width: 85px;
    height: 60px;
    border-radius: 50px;
    box-shadow: rgb(84 179 255) -1px -2px 5px 3px, rgb(60 128 187) 0px 3px 3.2px 3px;
  }

  .bg-section-tabs .form-input .btn-go .bg-btn span {
    font-size: 16px;
  }

  section.section-tabs .nav-link-section-tabs a {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
    margin: 20px;
    font-size: 20px;
  }

  /* table  */

  section.table .td-table .col-link {
    padding: 20px !important;
  }

  section.table .td-table .col-link span {
    font-size: 16px;
  }

  section.table .td-table .col-link .btn-file {
    width: 180px;
    height: 45px;
    padding: 0 20px;
    border-radius: 30px;
  }

  section.table .td-table .col-link img {
    width: 20px;
  }

  .content-news {
    margin: auto;
    /* max-width: 1080px; */
    width: 100%;
  }
  .div-new-item {
    display: flex;
    justify-content: center;
  }
  .link-new {
    font-size: 16px;
    min-width: 100px;
  }
  .new-item {
    height: 70px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .new-item-date {
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    min-width: 270px;
    /* width: 100%;
        justify-content: flex-end; */
  }
  .date-text {
    padding: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    max-width: 270px;
    width: 100%;
    height: 100%;
    /* padding-right: 30px; */
  }
  .arrow-wrappe img {
    width: 16px !important;
  }
  .div-tag-link-new {
    width: 100%;
    min-width: 810px;
    height: 100%;
  }
  .tag-link-new {
    padding-left: 30px;

    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .tag-new {
    font-size: 14px;
    height: 30px;
    width: 100px;

    background-color: orange;
    margin-right: 20px;
    align-items: center;
    display: block;
    display: flex;
    justify-content: center;
    color: #fff;
    min-width: 100px;
  }

  .btn-gray-in-table {
    margin: 60px 0;
  }
  .btn-gray-in-table a {
    height: 50px;
    width: 212px;
  }
  .btn-gray-in-table .bg-btn span {
    font-size: 16px;
  }

  .arrow-gray {
    width: 10px;
  }
  .arrow-orang {
    width: 10px;
  }

  .button-modal a {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    display: flex;
  }
  .bg-btn .bg-img {
    width: 20px;
    height: 20px;
    margin: 0 18px;
  }
  .button-modal .bg-btn .bg-img {
    margin: 0 18px;
    height: 20px;
    width: 20px;
  }
  .link-new {
    font-size: 16px;
  }
  .date-text {
    font-size: 18px;
    padding: 0px 0 0 110px;
  }
}

@media (max-width: 670px) {
  .search {
    padding: 0 4.8vw;
    height: 20vw;
  }

  .search-img {
    width: 9vw;
    margin-right: 3vw;
  }

  .search-container .search-title {
    font-size: 6vw !important;
    letter-spacing: 0;
    top: 0;
  }
  .search {
    position: relative;
  }
  .button-modal a {
    height: 9vw;
    width: 40vw !important;
  }
  .button-modal .bg-btn .bg-img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0px 2.5vw 0px 2.5vw;
  }
  .button-modal .bg-btn span {
    color: #fff;
    font-size: 3.5vw !important;
    display: flex;
    line-height: 1.875 !important;
    padding-right: 0 !important;
    margin: 0 2vw 0 0 !important;
  }
  .content-news {
    margin: 3vw auto;
    width: 100%;
  }
  .new-item {
    flex-wrap: wrap;
    height: auto !important;
    margin-bottom: 3vw;
    padding-right: 4vw;
    padding-bottom: 1vw;
  }
  .item-1 .new-item-date {
    background-color: unset;
  }
  .date-text {
    font-size: 3.5vw;
    padding: 1vw 0 1vw 5vw;
  }
  .tag-link-new {
    padding-left: 4.8vw;
  }
  .tag-new {
    height: 6vw;
    min-width: 16.5vw;
    border-radius: 6vw;
    background-color: orange;
    margin-right: 2vw;
    align-items: center;
    display: block;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 3vw;
  }
  .link-new {
    line-height: 6vw;
    font-size: 3.7vw;
  }
  .new-item-gray {
    padding-top: 3vw;
    padding-bottom: 4vw;
    background-color: #f0efef;
  }
  .new-item-date {
    min-width: 35.5vw !important;
  }
  .btn-gray-in-table a {
    width: 90vw;
    height: auto;
    border-radius: 10vw;
  }
  .btn-gray-in-table .bg-btn { 
    padding: 3.5vw;
    border-radius: 10vw;
    
  }
  .btn-gray-in-table .bg-btn .bg-img {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0px 20vw 0 0vw;
  }
  .btn-gray-in-table .bg-btn span {
    margin: 0;
    text-align: center;
    /* margin-left: -3vw; */
    letter-spacing: 0.25vw;
    font-size: 4.2vw;
  }
  .btn-gray-in-table {
    margin: 5vw 0;
  }
}
