@font-face {
    font-family: 'mplus 1p bold';
    src: url('../../fonts/mplus-1p-bold.ttf');
}
@font-face {
    font-family: 'mplus 1p regular';
    src: url('../../fonts/mplus-1p-regular.ttf');
}

@font-face {
    font-family: 'mplus 1p heavy';
    src: url('../../fonts/mplus-1p-heavy.ttf');
}

@font-face {
    font-family: 'mplus 1p medium';
    src: url('../../fonts/mplus-1p-medium.ttf');
}

@font-face {
    font-family: 'mplus 2p bold';
    src: url('../../fonts/mplus-2p-bold.ttf');
}

@font-face {
    font-family: 'mplus 2p heavy';
    src: url('../../fonts/mplus-2p-heavy.ttf');
}

@font-face {
    font-family: 'mplus 1p light';
    src: url('../../fonts/mplus-1p-light.ttf');
}
.text-bold {
    font-family: 'mplus 1p bold';
}
.text-heavy {
    font-family: 'mplus 1p heavy'
}
.font-light {
    font-family: 'mplus 1p light';
}
.font-heavy {
    font-family: 'mplus 1p heavy';
}
.text-regular {
    font-family: 'mplus 1p regular';
}
body {
    margin: 0;
    padding: 0;
    /* font-family: "mplus 1p light"; */
}
*,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}
input {
    font-weight: bold;
}
.bg-light {
    background-color: white !important;
}
.navbar-nav,
.mr-auto {
    margin-right: unset !important;
    /* margin-left: auto; */
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    /* font-weight: bold; */
    font-size: 1.1rem;
}

.nav-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    font-size: 10.8px;
    color: #222222;
    text-decoration: underline;
    line-height: 2.5;
}
.breadcrumb-item.active {
    font-size: 10.8px;
    color: black;
    font-weight: bold;
    line-height: 2.5;
}
.breadcrumb-item::before {
    padding: 0px 6.3px !important;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 1rem 50px;
}
.breadcrumb-unset-bgcolor {
    background-color: unset;
}
a:hover {
    text-decoration: none;
}
.grid {
    display: grid;
    place-items: center;
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    ---color-boder-btn: #99c6ee;
    --color-bg-btn-orange: #ff9e21;
    --color-boder-btn-orange: #ffbb64;
    --color-bg-section-2: #489ae1;
    --color-text-active: #309bd5;
    --color-btn-active: rgb(71, 153, 225);
    --box-shadow: 0 0.3vw 0.4vw 0.1vw rgba(177, 177, 177, 0.25);
    --max-width: 1080px;
    --color-three-box-1: #abd1f3;
    --color-three-box-2: #489ae1;
    --color-three-box-3: #1c588b;
    --color-three-box-4: #08365e;
    --color-three-box-5: #f2f2f2;
    --bg-btn-box-search: #489ae1;
    --bg-section-gray-double: #489ae1;
    --bg-cl-btn-slide: #f5f5f5;
}


h1 {
    margin-bottom: 0 !important;
}

@font-face {
    font-family: "mplus 1p bold";
    src: url("../../fonts/mplus-1p-bold.ttf");
  }
  @font-face {
    font-family: "mplus 1p regular";
    src: url("../../fonts/mplus-1p-regular.ttf");
  }
  
  @font-face {
    font-family: "mplus 1p heavy";
    src: url("../../fonts/mplus-1p-heavy.ttf");
  }
  
  @font-face {
    font-family: "mplus 2p bold";
    src: url("../../fonts/mplus-2p-bold.ttf");
  }
  
  @font-face {
    font-family: "mplus 2p heavy";
    src: url("../../fonts/mplus-2p-heavy.ttf");
  }
  
  @font-face {
    font-family: "mplus 1p light";
    src: url("../../fonts/mplus-1p-light.ttf");
  }


.font_bold {
    font-family: "mplus 1p bold" !important;
}

.font_heavy {
    font-family: "mplus 1p heavy" !important;
}


.font_regular {
    font-family: "mplus 1p regular" !important;
}

.font_light {
    font-family: "mplus 1p light" !important;
}

.font_bold_2 {
    font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
    font-family: "mplus 2p heavy" !important;
}

.col-6,
.col-md-4,
.col-lg-4,
.col-xl-3 {
    padding: 0 !important;
    justify-content: center !important;
}



/* header  */
.header nav .container-fluid .navbar-brand span {
    color: black !important;
    font-size: 9px;
}

/* header  */

nav.link-resource {
    background-color: #e6e6e6;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 48px;
}

nav.link-resource .all-link {
    display: flex;
}

nav.link-resource .all-link a {
    font-size: 12px;
    color: black;
}

nav.link-resource .all-link a {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
}
nav.link-resource .all-link .link-none{
    text-decoration:none;
}
nav.link-resource .all-link span {
    font-size: 15px;
    margin: 0 8px;

}

/* nav.link-resource .all-link a:last-child {
    text-decoration: 1.5px underline;
    text-underline-offset: 2px;
} */
nav.link-resource .all-link a:not(:last-child):hover {
    opacity: .5;
}
nav.link-resource .all-link a:last-child {
    text-decoration: none!important;
}
.title-container .search-title {
    font-size: 24px;
    margin: 0;
    letter-spacing: 3.5px;
    position: relative;
    top: -2px;
  }
  
  .title-bg {
    height: 100px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: start;
    /* background-image: url(../../../_newAssets/image/common/bg_title.png); */
  }
  
  .title-img {
    width: 50px;

    margin-right: 20px;
  }

  .title-container .title span{
    font-size: 14px;
    letter-spacing: 3.5px;
  }










* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body,
html {
    height: 100%;
    max-width: 100%;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
nav.link-resource .all-link a {
    text-decoration: 1px underline !important;
    text-underline-offset: 2px !important;
}
nav.link-resource .all-link a:last-child {
    text-decoration: none !important;
}
/* header-2 */
.modal-show {
    background-image: url(../../../_newAssets/image/product/search/bg.png);
}
.search-container {
    /* background-image: url(../../../_newAssets/image/product/search/bg.png); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .title-bg {
    height: 100px;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url(../../../_newAssets/image/common/bg_title.png);
    
} */
.title-bg .title {
    display: flex;
    flex-direction: column;
}
.title-bg .title span {
    font-size: 14px;
    letter-spacing: 3.5px;
}


img {
    vertical-align: middle;
    border-style: none;
}

.search-container .search-title {
    font-size: 24px;
    margin: 0;
    letter-spacing: 3.5px;

    position: relative;
    top: -2px;
}
.text-heavy {
    font-family: "mplus 1p heavy";
}


.text-heavy {
    font-family: 'mplus 1p heavy';

}   

/* CODE HEADER_BREADCUMB_MODAL */
/*  */
/*  */
.row-flex {
    display: flex;
    flex-direction: row;
}
.col-flex {
    display: flex;
    flex-direction: column;
}
.a-flex {
    display: flex;
    align-items: center;
}
.ls-1 {
    letter-spacing: 1px;
}
/* p,h2,span {
    letter-spacing: 1px;
} */
/* .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.font-18 {
    font-size: 1.5vw;
}
.font-16 {
    font-size: 1.34vw;
}
.font-14 {
    font-size: 1.2vw;
}
.br {
    border-right: 1.5px solid #e6e6e6;
}

.bottom-25 {
    margin-bottom: 2vw;
}
.w-auto {
    max-width: 1080px;
    margin: auto;
}
/*  */
.main {
    padding: 0 5vw;
}
.main-content {
    max-width: 1080px;
    margin: auto;
}
.content-m_box-1 {
    margin-top: 5vw;
}
.box_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mbox-left {
    width: 43.36vw;
    padding: 0 20px;
}
.mbox-right {
    width: 43.36vw;
    padding: 0 20px;
}

.mbox-title {
    width: 10vw;
}
.mbox-left-title {
    height: 4.6vw;
}
.mbox-text {
    margin-left: 2.5vw;
}

.right-line1 {

    height: 4.6vw;
}


.mbox-1-left_line2 {
    height: 16.7vw;
}
.div-left-2 {
    margin-left: 4.2vw;
}
.mbox-left-line2-title {
    height: 100% !important;
}
.mbox-left-line2-title h2{
    
    margin-top: 1.7vw;
}
.mbox-1-right .mbox-1-right_line {
    margin-bottom: 1.7vw;
}
.mbox-1-left_line2-text {
    padding: 1.6vw 0;
    letter-spacing: 1px;
}
.div-left-1, .div-left-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mbox-1-right_line2 {
    height: 6.7vw;
}
.mbox-1-right_line2-title h2{
    margin-top: 1.7vw;
}
.mbox-1-right_line2-text {
    padding: 1.6vw 0;
}


.mbox-1-left .mbox-1-left_line {
    margin-bottom: 1.7vw;
}
.mbox-1-right .mbox-1-right_line {
    margin-bottom: 1.7vw;
}

/* button left line 3 */
.button-send-0 {
    height: 4.2vw !important;
    width: 14.5vw !important;
    margin-left: 2.5vw;
}
.send {
    box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
    height: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: orange;
    border-radius: 50px;
    align-items: center;
    width: 14.5vw;
}
.send-icon {
    height: 1.7vw;
    width: 1.7vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 1.2vw;
}
.send-icon img {
    width: 0.7vw;
}
.send-1 p {
    letter-spacing: 1px !important;
    font-size: 1.34vw !important;
    color: #fff;
}


/* tag */

.box_2 {
    justify-content: space-between;
    margin-top: 6.7vw;
    margin-bottom: 2.5vw;
}
.mbox-2-tag {
    height: 4.6vw;
    width: 43.36vw;
    background-color: #e6e6e6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* box-3  box-map */
.box_3 {
   padding-bottom: 4.2vw;

}
.mbox-map {
    justify-content: space-between;
}

.mini_map {
    width: 31.4vw;
    height: 31.4vw;
}
.mini_map iframe {
    width: 31.4vw;
    height: 31.4vw;
}

.mbox-map-left{
    
    padding-right: 0;
}
.mbox-map-left-1 {
    height: 48.4vw;
}
.mbox-map-right {
    padding-right: 0;
}
.mbox-map-right-1 {
    height: 38vw;
}
.mbox-3-title {
    width: 7.3vw;
}
.mbox-3-title h2 {
    margin-top: 1.7vw;
}
.mbox-3-text {
    margin-left: 2.5vw;
    padding-top: 1.6vw;
}

.list-ways {
    line-height: 2.1vw;
    letter-spacing: 0 !important;
}


.mbox-map-right-2, .mbox-map-left-2 {
    margin-top: 1.7vw;
}
.mbox-3-right_line,.mbox-3-left_line {
    height: 6.5vw;
}
.mbox-3-right_line2-title, .mbox-3-left_line2-title {
    width: 7.3vw;
    display: flex;
    /* align-items: center; */
}
.mbox-3-left_line2 h2, .mbox-3-right_line2 h2{
    padding-top: 1.7vw;
}
.mbox-3-right_line2-text, .mbox-3-left_line2-text  {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 1.6vw;
}

/* box 4-tag */

.box_4 {
    border-top: 2.2px dotted rgb(211, 211, 211);
    justify-content: space-between;
    padding-top: 4.2vw !important;
    margin-bottom: 2.5vw;
}

.mbox-4-tag {
    height: 4.6vw;
    width: 43.36vw;
    background-color: #e6e6e6;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.mbox-4-tag-title {
    height: 100%;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    padding: 0 1.7vw;
    background-color: #489ae1;
    color: #fff;
}
.mbox-4-tag-text {
    margin-left: 1.7vw;
}

/* box 5 */

.box_5 {
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2.2px dotted rgb(211, 211, 211);
}
.mbox-5-title {
     width: 14.2vw;
}
.mbox-5-left_line1-title {
   
    height: 100%;
}
.mbox-5-left_line1-title h2{
    margin-top: 1.7vw;
}

.mbox-5-left_line1 {
    height: 9.2vw;
}
.mbox-5-left_line1-text {
    padding: 1.6vw 0;
    display: flex;
    justify-content: space-around;
}

.mbox-5-left_line5 {
    height: 6.7vw;
}

.mbox-5-right_line1 {
    height: 6.7vw;
    margin-bottom: 4.2vw !important;
}
.mbox-5-right_line1-title h2 {
    padding-top: 1.7vw;
}
.mbox-5-right_line1-text {
    padding: 1.6vw 0;
    justify-content: space-between;
}
.mbox-5-right {
    padding-right: 0;
}
.mbox-5-right_line4 {
    height: 30vw;

}
.mbox-5-right_line4-title h2 {
    margin-top: 1.5vw;
    line-height: 2.4vw;
}

.mbox-5-right_line4-text {
    width: 29vw;
    text-align: justify;
    padding: 1.5vw 0;
}
.mbox-5-right_line4-text p{
    line-height: 2.4vw;
}


/* section-5 */ 

section.section-5 {

    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 80px 0;
}
section.section-5 .title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
section.section-5 .title img {
    width: 48px;
    margin-right: 8px;
}
section.section-5 .title h1 {
    font-size: 24px;
    margin-bottom: 0 !important;
    letter-spacing: 3px;
}
section.section-5 .lorem {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 32px 0 48px 0;
}
section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
}
section.section-5 .btn-out {
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn-out a {
    text-decoration: none !important;
}
.btn-center {
    background-color: var(--color-bg-btn-orange);
    display: flex;
    align-items: center;
    width: 23vw;
    height: 6vw;
    padding: 1.5vw;
    border-radius: 5vw;
    border: 0.5vw solid var(--color-boder-btn-orange);
    box-shadow: 0 0.3vw 0.3vw 0.2vw rgb(45 45 45 / 25%);
}
section.section-5 .btn-out .icon-arr {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 5vw;
    width: 2vw;
    height: 2vw;
    margin-right: 2vw;
    padding: 0.6vw;
}
section.section-5 .btn-out .icon-arr img {
    width: 0.85vw;
}
.btn-center .lorem-btn {
    line-height: 1px;
    display: flex;
    align-items: center;
}
section.section-5 .btn-out span {
    font-size: 1.5vw;
    left: 2vw;
    letter-spacing: .2vw;
    color: white;
}

.btn-center:hover {
    background-color: var(--color-btn-active);
    border: 0.5vw solid var(---color-boder-btn);
    cursor: pointer;
}
.btn-center:hover img {
    filter: hue-rotate(190deg);
}

.send:hover {
    background-color: var(--color-btn-active);
    cursor: pointer;
}
.send:hover img {
    filter: hue-rotate(190deg);
}