@media (max-width: 670px) {
  .main-content {
    width: 90%;
    border-radius: 6vw;
    margin: 0 5vw;
    padding-bottom: 1vw;
  }
  .main-content img {
    display: block;
    width: 12vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    margin-left: auto;
    margin-right: auto;
    
    }
    .sp-none{
        display: none;
    }
    .pc-none{
        display: block;
    }
    .content-title {
        letter-spacing: 0;
        padding: 0 5vw 3vw;

        
        font-size: 3.5vw;
        line-height: 6vw;
    }
    .btn-gray-in-table .bg-btn{
        width: 90vw;
        height: 14vw;
        border-radius: 20vw;
    }
    .btn-gray-in-table .bg-btn .bg-img{
        position: absolute;
        width: 6vw;
        height: 6vw;
        margin-right: 0;
        margin-left: -76vw;
    }
    .btn-gray-in-table .bg-btn span{
        font-size: 4.5vw;

  }
  
  .btn-gray-in-table .bg-btn {
    width: 90vw;
    height: 14vw;
    border-radius: 20vw;
  }
  .btn-gray-in-table .bg-btn .bg-img {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-right: 0;
    margin-left: -76vw;
  }
  .btn-gray-in-table .bg-btn .bg-img img {
    width: 2vw;
  }
  .btn-gray-in-table .bg-btn span {
    font-size: 4.5vw;

    font-family: "mplus 1p heavy" !important;
    letter-spacing: 0.3vw;
    margin-left: 4vw;
  }
}
