.header nav .navbar-collapse .navbar-in ul li:hover > .img-drop {
  z-index: 3 !important;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
:root {
  ---color-boder-btn: #99c6ee;
  --color-bg-btn-orange: #ff9e21;
  --color-boder-btn-orange: #ffbb64;
  --color-bg-section-2: #489ae1;
  --color-text-active: #309bd5;
  --color-btn-active: rgb(71, 153, 225);
  --box-shadow: 0 0.3vw 0.4vw 0.1vw rgba(177, 177, 177, 0.25);
  --max-width: 1080px;
  --color-three-box-1: #abd1f3;
  --color-three-box-2: #489ae1;
  --color-three-box-3: #1c588b;
  --color-three-box-4: #08365e;
  --color-three-box-5: #f2f2f2;
  --bg-btn-box-search: #489ae1;
  --bg-section-gray-double: #489ae1;
  --bg-cl-btn-slide: #f5f5f5;
  --color-title-info: #64afef;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("../../fonts/mplus-1p-bold.ttf");
}

@font-face {
  font-family: "mplus 1p regular";
  src: url("../../fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p medium";
  src: url("../../fonts/mplus-1p-medium.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../fonts/mplus-1p-light.ttf");
}
.ls1 {
  letter-spacing: 1px;
}
.ls-1 {
  letter-spacing: -1px;
}
.text-bold {
  font-family: "mplus 1p bold";
}

.text-heavy {
  font-family: "mplus 1p heavy";
}

.font-light {
  font-family: "mplus 1p light";
}

.font-heavy {
  font-family: "mplus 1p heavy";
}

.text-regular {
  font-family: "mplus 1p regular";
}
.text-medium {
  font-family: "mplus 1p medium";
}
body {
  margin: 0;
  padding: 0;
  /* font-family: "mplus 1p light"; */
}

*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

input {
  font-weight: bold;
}

.bg-light {
  background-color: white !important;
}

.navbar-nav,
.mr-auto {
  margin-right: unset !important;
  /* margin-left: auto; */
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item a {
  font-size: 10.8px;
  color: #222222;
  text-decoration: underline;
  line-height: 2.5;
}

.breadcrumb-item.active {
  font-size: 10.8px;
  color: black;
  font-weight: bold;
  line-height: 2.5;
}

.breadcrumb-item::before {
  padding: 0px 6.3px !important;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 1rem 50px;
}

.breadcrumb-unset-bgcolor {
  background-color: unset;
}

a:hover {
  text-decoration: none;
}

.grid {
  display: grid;
  place-items: center;
}

h1 {
  margin-bottom: 0 !important;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("../../fonts/mplus-1p-bold.ttf");
}

@font-face {
  font-family: "mplus 1p regular";
  src: url("../../fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../fonts/mplus-1p-light.ttf");
}

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_regular {
  font-family: "mplus 1p regular" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

.col-6,
.col-md-4,
.col-lg-4,
.col-xl-3 {
  padding: 0 !important;
  justify-content: center !important;
}

/* header  */
.header nav .container-fluid .navbar-brand span {
  color: black !important;
  font-size: 9px;
}

/* header  */

nav.link-resource {
  background-color: #e6e6e6;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
}

nav.link-resource .all-link {
  display: flex;
}

nav.link-resource .all-link a {
  font-size: 12px;
  color: black;
}

nav.link-resource .all-link a {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

nav.link-resource .all-link .link-none {
  text-decoration: none;
}

nav.link-resource .all-link span {
  font-size: 15px;
  margin: 0 8px;
}

nav.link-resource .all-link a:last-child {
  text-decoration: 1.5px underline;
  text-underline-offset: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  height: 100%;
  max-width: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
nav.link-resource .all-link a {
  text-decoration: 1px underline !important;
  text-underline-offset: 2px !important;
}

nav.link-resource .all-link a:last-child {
  text-decoration: none !important;
}
nav.link-resource .all-link a:not(:last-child):hover {
  opacity: 0.5;
}

.font-18 {
  font-size: 1.5vw;
}
.font-16 {
  font-size: 1.34vw;
}
.font-24 {
  font-size: 2vw;
}
.font-20 {
  font-size: 1.677vw;
}
.font-14 {
  font-size: 1.17vw;
}
.font-36 {
  font-size: 3vw;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.row-flex {
  display: flex;
  flex-direction: row;
}

/* header-2 */
.modal-show {
  background-image: url(../../../_newAssets/image/info/backg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 26.7vw;
}

.search-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* max-width: 1080px; */
  margin: 0 5vw;
  height: 100%;
}
.title-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-bg .title {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 5vw;
}
.image-title {
  display: flex;
  flex-direction: row;
}
.div-yellow-book {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

img {
  vertical-align: middle;
  border-style: none;
}

.title-bg .title span {
  letter-spacing: 0.09vw;
}

.search-container .search-title {
  font-size: 3vw;
  margin: 0;
  letter-spacing: 0.7vw;
}
.search-text {
  line-height: 2.5vw;
  margin-top: 1.7vw;
}
.image-title {
  margin-top: 2.5vw;
  z-index: 2;
  position: relative;
  right: -2.5vw;
}
.image-title img {
  width: 54.6vw;
  height: 29.6vw;
}

.insert-white-box {
  width: 100%;
  height: 5.5vw;
  z-index: 2;
  background: #fff;
}

/* content */

.wrapper-content {
  margin-top: 10vw;
}

.w-content {
  margin: 5vw 5vw 8.34vw 5vw;
}
.w-content-box {
  margin-bottom: 5vw;
}
.w-content-box-1 .w-content-box_left {
  background-image: url(../../image/info/img-box-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.w-content-box-2 .w-content-box_left {
  background-image: url(../../image/info/img-box-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.w-content-box-3 .w-content-box_left {
  background-image: url(../../image/info/img-box-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.w-content-box_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32vw;
  height: 27.5vw;
  /* box-shadow: rgb(82 177 255) 0vw -0.3vw 0.3vw 0.2vw, rgb(54 114 166) 0vw 0.3vw 0.2vw 0.1vw; */
  border-radius: 20px;
  /* border: 5px solid #e6e6e6; */
}

.div-box-link {
  width: 30vw;
  height: 24.85vw;
  border-radius: 40px;
  /* border: 1px solid; */
  position: relative;
}
.box-link {
  margin: 3.34vw;
}
.box-link-title {
  line-height: 2.5vw;
}
.box-link-arrow img {
  width: 2.5vw;
  margin-right: 1vw;
}

.w-content-box_right {
  padding-top: 3vw;
  width: 57vw;
  margin-left: 4px;
}
.w-content-box_right-title {
  padding-left: 4.2vw;
  position: relative;
  margin-bottom: 2.5vw;
  letter-spacing: 0.25vw;
  width: 58vw;
}
.bullet {
  min-width: 0.5vw;
  min-height: 2.5vw;
  background-color: #489ae1;
  border-radius: 30px;
  margin-right: 1.7vw;
}
/* .w-content-box_right-title::before {
    content: "";
    width: 0.5vw;
    height: 2.5vw;
    left: 0;
    background-color: #489ae1;
    position: absolute;
    border-radius: 30px;
    left: 4.2vw;
} */
.div-w-content-box_right-boxtext {
  border-top: 4px dotted #e6e6e6;
}
.w-content-box_right-boxtext {
  padding-left: 4.2vw;
  width: 58vw;
  padding-top: 1.8vw;
}
.boxtext_title {
  margin-bottom: 1.6667vw;
  letter-spacing: 0.1667vw;
}
.boxtext-text {
  letter-spacing: 0.125vw;
  line-height: 1.8;
}
.box-new {
  box-shadow: 2px 2px 4px 2px #d6d4d4;
  position: absolute;
  width: 7.67vw;
  height: 7.67vw;
  background-color: #f64f4f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  right: -1vw;
  top: -1.5vw;
}

/* btn */
.div-btn-content-5 {
  display: flex;
  margin-top: 2vw;
  padding-left: 4.2vw;
}
.link-btn-c-5 {
  width: 18.333vw;
  height: 4.2vw;
  display: flex;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
  background-color: var(--color-bg-btn-orange);
}
.link-btn-c-5:hover {
  background-color: var(--bg-section-gray-double);
  border-color: var(---color-boder-btn);
}
.link-btn-c-5:hover .div-arrow-img img {
  filter: hue-rotate(190deg);
}
.arrow-img-c-5 {
  width: 1.7vw;
  height: 1.7vw;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5vw;
  margin-right: 2vw;
}
.div-arrow-img img {
  width: 1vw;
}

.btn-c-5-text p {
  color: #fff;
}
/* section-gray */

section.section-gray-double {
  background-color: var(--bg-section-gray-double);
  width: 100%;
  height: auto;
}
section.section-gray-double .title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 60px 0 40px 0;
}
section.section-gray-double .title h1 {
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
}
section.section-gray-double .all-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
section.section-gray-double .all-box .box-1:hover {
  box-shadow: 0 0 1.6px 8px #368cd7 inset, rgb(82 177 255) 0 -4.8px 4.8px 3.2px, rgb(54 114 166) 0 4.8px 3.2px 1.6px;
}
section.section-gray-double .all-box .box-1:hover .icon-arrow {
  background-color: var(--color-btn-active);
}
@media (min-width: 720px) {
  section.section-gray-double .all-box {
    width: 720px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  section.section-gray-double .all-box {
    width: 1080px;
    margin: auto;
  }
}
section.section-gray-double .all-box a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
section.section-gray-double .all-box .box-1 {
  background-color: white;
  width: 330px;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 20px;
  box-shadow: rgb(82 177 255) 0 -4.8px 4.8px 3.2px, rgb(54 114 166) 0 4.8px 3.2px 1.6px;
}
section.section-gray-double .all-box .box-1 .title-box-1 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 75px;
  margin-left: 50px;
}
.title-box-2 {
  margin-left: 40px !important;
}
.title-box-3-1 {
  margin-left: 25px !important;
}
section.section-gray-double .all-box .box-1 .title-box-3-1 h1 {
  position: relative;
  top: 14px;
}
section.section-gray-double .all-box .box-1 .icon-arrow {
  width: 19.2px;
  height: 19.2px;
  background-color: var(--color-bg-btn-orange);
  padding: 16px;
  border-radius: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  position: relative;
  top: 0.5px;
}
section.section-gray-double .all-box .box-1 .icon-arrow img {
  width: 16px;
}
section.section-gray-double .all-box a.first .box-1 .title-box-1 .lorem {
  position: relative;
  /* top: -16px; */
}
section.section-gray-double .all-box .box-1 .title-box-1 h1 {
  font-size: 22px;
  line-height: 1.25;
}
section.section-gray-double .all-box .box-1 .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
section.section-gray-double .all-box .box-1 .image img {
  width: 144px;
  position: relative;
  top: -10px;
}
.lorem-span {
  padding-top: 5px;
}

/* section 5 */
section.section-5 {
  display: flex;
  flex-wrap: wrap;
  padding: 1.3vw 0;
}
section.section-5 {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
  padding-bottom: 80px;
  /* border-top: 4px dotted rgb(211, 211, 211); */
}

section.section-5 .title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
section.section-5 .title .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.section-5 .title img {
  width: 48px;
  margin-right: 8px;
}
section.section-5 .title h1 {
  font-size: 24px;
  margin-bottom: 0 !important;
  letter-spacing: 3px;
}
section.section-5 .lorem {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 32px 0 48px 0;
}
section.section-5 .lorem span {
  font-size: 13.5px;
  letter-spacing: 1px;
  line-height: 28px;
}
section.section-5 .btn-out {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn-center {
  display: flex;
  align-items: center;
  width: 304px;
  height: 80px;
  border-radius: 160px;
  border: 7px solid var(--color-boder-btn-orange);
  padding: 18px;
  box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
  background-color: var(--color-bg-btn-orange);
}
.btn-center:hover {
  background-color: var(--bg-section-gray-double);
  border-color: var(---color-boder-btn);
}
.btn-center:hover .icon-arr img {
  filter: hue-rotate(190deg);
}
section.section-5 .btn-out .icon-arr {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;

  border-radius: 80px;
  width: 32px;
  height: 32px;
  margin-right: 35px;
  padding: 9.6px;
}
section.section-5 .btn-out .icon-arr img {
  width: 32px;
  padding: 8px;
}
.btn-center .lorem-btn {
  display: flex;
  align-items: center;
}
section.section-5 .btn-out span {
  font-size: 20px;
  left: 2vw;
  letter-spacing: 3px;
  color: white;
}

/* exam */
.image-title-exam img {
  width: 34vw;
}
.exam {
  width: 90%;
	margin: 8vw auto 0px;
	padding-bottom: 5vw;
  text-align: center;
  border-bottom: 1vw dotted rgb(211, 211, 211);
}
.exam h2 {
	font-size: 6.4vw;
  letter-spacing: 0.6vw;
	margin-bottom: 1vw;
}
.exam p {
  font-size: 4.2vw;
  letter-spacing: 0.6vw;
}
.exam-btn {
	margin-top: 5vw;
}
.link-btn-exam {
  width: 83%;
  height: 12vw;
  display: flex;
  align-items: center;
  margin: 0 auto 3vw;
  border-radius: 50vw;
  box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
  background-color: var(--color-bg-btn-orange);
}
.link-btn-exam:hover {
  background-color: var(--bg-section-gray-double);
  border-color: var(---color-boder-btn);
}
.link-btn-exam:hover img {
  filter: hue-rotate(190deg);
}
.arrow-img-exam {
  margin-right: 20vw;
  margin-left: 6vw;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 7vw;
}
