nav.link-resource {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 48px;
    background-color: #e6e6e6;
}

nav.link-resource .all-link a:not(:last-child):hover {
    opacity: 0.5;
}

@font-face {
    font-family: "mplus 1p bold";
    src: url("/_newAssets/fonts/mplus-1p-bold.ttf");
}

@font-face {
    font-family: "mplus 1p regular";
    src: url("/_newAssets/fonts/mplus-1p-regular.ttf");
}

@font-face {
    font-family: "mplus 1p heavy";
    src: url("/_newAssets/fonts/mplus-1p-heavy.ttf");
}

@font-face {
    font-family: "mplus 1p medium";
    src: url("/_newAssets/fonts/mplus-1p-medium.ttf");
}

@font-face {
    font-family: "mplus 2p bold";
    src: url("/_newAssets/fonts/mplus-2p-bold.ttf");
}

@font-face {
    font-family: "mplus 2p heavy";
    src: url("/_newAssets/fonts/mplus-2p-heavy.ttf");
}

@font-face {
    font-family: "mplus 1p light";
    src: url("/_newAssets/fonts/mplus-1p-light.ttf");
}

@font-face {
    font-family: "mplus 1p medium";
    src: url("/_newAssets/fonts/mplus-1p-medium.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/_newAssets/fonts/Roboto-Bold.ttf");
}

.font_roboto {
    font-family: "Roboto-Bold" !important;
}

.font_bold {
    font-family: "mplus 1p bold" !important;
}

.font_heavy {
    font-family: "mplus 1p heavy" !important;
}

.font_regular {
    font-family: "mplus 1p regular" !important;
}

.font_medium {
    font-family: "mplus 1p medium" !important;
}

.font_light {
    font-family: "mplus 1p light" !important;
}

.font_bold_2 {
    font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
    font-family: "mplus 2p heavy" !important;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* font-family: "mplus 1p light"; */
}

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0;
}


/* all-link  */
.link-resource {
    height: 35px;
    /* letter-spacing: 1.2px; */
}

.link-resource {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: flex;
    align-items: center;
}

nav.link-resource .all-link a {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
    display: flex;
}

.content {
    width: 100%;
}

/* nav.link-resource .all-link a:first-child {
      text-decoration: 1px underline;
      text-underline-offset: 1px;
  } */

nav.link-resource .all-link .line_a {
    text-decoration: 1px underline;
    text-underline-offset: 0.2vw;
}

nav.link-resource .all-link a {
    color: black;
    font-size: 12px;
}

nav.link-resource .all-link span {
    font-size: 15px;
    margin: 0 8px;
}

nav.link-resource .all-link a:last-child {
    text-decoration: 1.5px underline;
    text-underline-offset: 0.2vw;
}

nav.link-resource .all-link span {
    font-size: 15px;
    font-weight: 100;
}

nav.link-resource .all-link span {
    margin: 0 8px;
    display: block;
}

.all-link {
    display: flex;
}

#modal-zoom-image {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    overscroll-behavior: contain;
}

#modal-zoom-image>.background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#modal-zoom-image>.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#modal-zoom-image>.modal-content {
    margin: auto;
    display: block;
    /* width: 80%; */
    max-width: 800px;
    overflow: scroll;
}

#modal-zoom-image>.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* main image  */
.c-main-image {
    width: 100%;
    max-width: 2500px;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.c-main-image img {
    width: 150%;
    margin: auto;
    max-width: 2000px;
    height: auto;
}


.categories {
    display: flex;
    background-color: #e6e6e6;
    border-bottom: 6px #ec6168 solid;
    flex-wrap: wrap;
}

.categories .all-box-title {
    width: 1080px;
    margin: auto;
    justify-content: start;
    margin-bottom: -1px;
}

.category-wapper {
    background-color: white;
    border-radius: 25px;
    margin: 10px 5px;
    font-size: 14px;
    margin-top: 15px;
}

.category-wapper {
    background-color: white;
    font-size: 14px;
    margin-right: 9px;
}

.category-wapper.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.category-wapper.active {
    background-color: #ec6168;
    color: white;
    margin-bottom: 0;
    border-bottom: 10px solid #ec6168;
    font-size: 14px;
    margin-left: 5px !important;
}

.category-wapper.active p {
    color: white;
}

.category-wapper p {
    margin: 0;
    padding: 12px 60px 12px 60px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 15px;
    color: black;
}

.category-wapper a:hover {
    text-decoration: none !important;
}

.category-wapper:hover {
    opacity: 0.8;
}

.category-wapper.active:hover {
    opacity: 1;
}

.span-mobile {
    display: none;
}

.but {
    border-radius: 20px;
    background-color: orange;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-left: 15px;
}

.cate-btn {
    border-radius: 20px;
    position: absolute;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    filter: brightness(3000%);
}

.category-wapper.active .but {
    border-radius: 20px;
    background-color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.category-wapper.active .cate-btn {
    border-radius: 20px;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    position: absolute;
    filter: none;
}

.search-title {
    display: flex;
    align-items: center;
}

.search-container {
    background-image: url("/image/elementary-school/bg5.png");
    padding: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.search-container .other-documents {
    font-size: 1.5rem;
}

.search-container img {
    width: 64px;
    height: 64px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: -10px;
}

.content-sp {
    display: none;
}

/* new code  */
section.content-bg-top {
    width: 100%;
    background-color: #eab4ad;
    padding: 11px 0;
    display: flex;
    margin-bottom: 70px;
}

/* section.content-bg-top .cotent-bg .bg-radius {
    width: 90px;
    height: 90px;
    background-color: white;
    background-image: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}


section.content-bg-top .cotent-bg .bg-radius .border-radius {
    width: 83px;
    height: 83px;
    border-radius: 100%;
    border: 2.2px solid #ec6168;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.content-bg-top .cotent-bg .bg-radius h1 {
    font-size: 25px;
    margin-bottom: 0;
    color: #ec6168;
}


section.content-bg-top .cotent-bg .title-bg img {
    width: 50%;
}

section.content-bg-top .cotent-bg {
    display: flex;
    align-items: center;
    width: 1080px;
    max-width: 1080px;
    margin: auto;
    position: relative;
}

section.content-bg-top .cotent-bg .image-bg img {
    width: 340px;
    position: absolute;
    right: 100px;
    right: 0;
    top: 0;
} */

.section-content {
    max-width: 1080px;
    margin: auto;
}

.section-content .content-stage .background-title {
    border-radius: 12px;
    color: white;
}

.content-stage .box-number {
    font-size: 45px;
    width: 80px;
    border-right: 1px solid white;
    padding-right: 15px;
}

.content-stage .text-top {
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 18px;
}

.content-stage .box-number .number h1 {
    font-size: 45px;
    margin-bottom: 0;
}

.content-stage .text-top span {
    font-size: 16px;
}

.content-stage .box-number {
    font-size: 45px;
    width: 80px;
    border-right: 1px solid white;
    padding-right: 15px;
}

.content-stage .box-title h1 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-left: 20px;
}

.section-content .background-title {
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 15px 20px;
    position: relative;
}

.bg-title-japanese {
    background-color: #ec6168;
}

.content-stage-1 .body-content {
    padding: 0 20px;
}

.content-stage-1 .body-content .all-box {
    display: flex;
    margin-bottom: 55px;
}

.content-stage-1 .body-content .all-box .box-left {
    width: 48%;
    padding-top: 10px;
}


.content-stage-1 .body-content .all-box .box-right {
    position: relative;
    width: 52%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.content-stage-1 .body-content .all-box .box-right .icon-wrapper {
    background-color: rgb(64, 64, 64);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 45px;
    height: 45px;
    opacity: 0.9;
    cursor: pointer;
    right: -10px;
    bottom: 0;
}

.content-stage-1 .body-content .all-box .box-right .icon-wrapper-no-sub {
    right: -10px;
    bottom: -10px;
}

.content-stage-1 .body-content .all-box .box-right img {
    width: 92.5%;
}

.content-stage-1 .body-content .all-box .box-right .title-on-image .logo-step {
    display: flex;
    justify-content: end;
}

.content-stage-1 .body-content .all-box .box-right .title-on-image .logo-step img {
    width: 92.5%;
}

.content-stage-1 .body-content .all-box .box-right .icon-wrapper img {
    width: 50%;
}

.content-stage-1 .body-content .all-box .box-left .title-top h1 {
    font-size: 21px;
    letter-spacing: 1.7px;
    margin-bottom: 15px;
    color: #e25151;
}

.content-stage-1 .body-content .all-box .box-left .title-top span {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -.5px;
}

.content-stage-1 .body-content .all-box .box-left .box-profile .title-profile h1 {
    font-size: 18px;
    letter-spacing: 0px;
    margin-bottom: 5px;
}

.content-stage-1 .body-content .all-box .box-left .box-profile .title-profile {
    width: 100%;
    border-bottom: 2px dotted gray;
    margin-bottom: 10px;
}

.content-stage-1 .body-content .all-box .box-left .box-profile .lorem span {
    font-size: 16px;
    line-height: 27px;
}

.content-stage-1 .body-content .all-box .box-left .box-profile {
    border-radius: 20px;
    border: 2.5px solid #42b1e8;
    background-color: #f1faff;
    display: flex;
    padding: 20px;
    margin-top: 33px;
}


.content-stage-1 .body-content .all-box .box-left .box-profile .box-left {
    padding: 0;
    width: 100px;
    margin-right: 25px;
}

.content-stage-1 .body-content .all-box .box-left .box-profile .box-left img {
    width: 105px;
}

.content-stage-1 .body-content .all-box .box-left .box-profile .box-right {
    justify-content: start;
    width: 100%;
    align-items: center;
    flex-direction: column;
}


.content-stage-2 .background-title {
    margin-bottom: 100px;
}

.content-stage-2 .background-title .lorem-radius {
    position: absolute;
    left: 100px;
    top: 95px;
    border: 2px solid #ec6168;
    width: 960px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding-left: 20px;
}

.content-stage-2 .background-title .lorem-radius h1 {
    font-size: 21px;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: #e25151;

}


.content-stage-2 .background-title .image-title-2 {
    position: absolute;
    width: 190px;
    right: 25px;
    top: 5px;
}

.content-stage-2 .body-content .all-box .box-right {
    position: relative;
}

.content-stage-2 .body-content .all-box .box-right .image-point-2-step-1 {
    height: 90%;
}

.content-stage-2 .body-content .all-box .box-right .btn-sky {
    width: 225px;
    height: 120px;
    border-radius: 20px;
    border: 6px solid #bbe8fa;
    background-color: #6dc2e4;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5px;
    cursor: pointer;
}

.content-stage-2 .body-content .all-box .box-right .btn-sky:hover {
    opacity: .8;
}

.content-stage-2 .body-content .all-box .box-right .btn-sky h1 {
    font-size: 14px;
    color: white;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.content-stage-2 .body-content .all-box .box-right .btn-sky img {
    width: 60px;
    height: 60px;
}

section.content-bg-top .cotent-bg .title-bg h1 {
    font-size: 27px;
    color: white;
    letter-spacing: 2.5px;
    margin-bottom: 0;
    text-shadow: 0 -2.2px 0px #ec6168, 2.2px 0 0px #ec6168, -2.2px 0 0px #ec6168, 0 2.2px 0px #ec6168, 2.2px 2.2px 0px #ec6168, -2.2px 2.2px 0px #ec6168, -2.2px -2.2px 0px #ec6168, 2.2px -2.2px 0px #ec6168;
}

@media (max-width: 670px) {

    .content-sp {
        display: block !important;
    }

    .content-pc {
        display: none !important;
    }

    .content-stage-1 .background-title {
        margin-top: 0 !important;
    }

    .c-main-image img {
        width: 100%;
    }

    .content-stage-winning-finish .content-stage-2 .box-left .lorem span:last-child {
        display: flex !important;
    }

    .category-wapper.active {
        background-color: #e25151;
        color: white;
        margin-bottom: 0;
        border-bottom: none;
        margin-left: 0 !important;
        border-radius: 40vw !important;
        display: flex;
        align-items: center;
    }

    .categories {
        padding: 6vw 0;
        border-bottom: none;
        padding-bottom: 2vw;
    }

    .category-wapper p {
        margin: 0;
        padding: 3.5vw 7.5vw;
        font-size: 4.3vw;
        cursor: pointer;
        margin-left: 5vw;
    }

    .categories .all-box-title {
        width: 90vw;
        margin: auto;
        justify-content: start;
        column-gap: 1.9vw;
    }

    .but {
        border-radius: 40vw;
        width: 6vw;
        height: 6vw;
        margin-top: 0;
        margin-left: 3.6vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category-wapper.active .cate-btn {
        border-radius: 40vw;
        position: absolute;
        width: 2.2vw;
        padding: 0;
    }

    .category-wapper.active .but {
        border-radius: 40vw;
        width: 6vw;
        height: 6vw;
        margin-top: 0;
        margin-left: 3.6vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cate-btn {
        border-radius: 40vw;
        position: absolute;
        width: 2.2vw;
        padding: 0;
    }

    .category-wapper {
        margin: 0 !important;
        display: flex;
        align-items: center;
        margin-bottom: 3vw !important;
        border-radius: 40vw !important;
    }

    .section-content .content-stage .background-title {
        border-radius: 0;
    }

    .content-stage .box-number {
        width: 18vw;
        padding-right: 4vw;
    }

    .content-stage .text-top {
        border-radius: 40vw;
        padding: 0;
        width: 10vw;
    }

    .content-stage .text-top span {
        font-size: 4vw;
    }

    .content-stage .box-number .number h1 {
        font-size: 9vw;
        margin-bottom: 0;
    }

    .content-stage .box-title h1 {
        font-size: 4.7vw;
        letter-spacing: 0.4vw;
        margin-bottom: 0;
        margin-left: 4vw;
        line-height: 6.5vw;
        width: 100%;
    }

    .content-stage-1 .body-content .all-box {
        flex-wrap: wrap;
        padding: 0 3vw;
    }

    .content-stage-1 .body-content .all-box .box-left {
        width: 100%;
        padding-top: 0;
    }

    .section-content .background-title {
        margin: 0;
        padding: 4vw 5vw;
        margin-top: 15vw;
        padding-right: 0;
    }

    .content-stage-1 .body-content {
        width: 100%;
        font-size: 4vw;
        padding: 6vw;
        letter-spacing: -0.1vw;
        line-height: 7.5vw;
    }

    .content-stage-1 .body-content .all-box .box-left .title-top h1 {
        font-size: 5.5vw;
        margin-bottom: 2.5vw;
        margin-left: -3vw;
        letter-spacing: 0;
    }

    .content-stage-1 .body-content .all-box .box-left .title-top span {
        font-size: 4vw;
        line-height: 7.5vw;
        letter-spacing: 0.15vw;
    }

    .content-stage-1 .body-content .all-box .box-left .box-profile {
        border-radius: 2vw;
        border: .5vw solid #42b1e8;
        padding: 3vw;
        margin-top: 2.5vw;
        margin-bottom: 5vw;
        flex-wrap: wrap
    }

    .content-stage-1 .body-content .all-box .box-left .box-profile .box-left {
        width: 100%;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-stage-1 .body-content .all-box .box-left .box-profile .box-left img {
        width: 30%;
    }

    .content-stage-1 .body-content .all-box .box-left .box-profile .title-profile h1 {
        font-size: 5.5vw;
        line-height: 8.5vw;
        margin-bottom: 1vw;
    }

    .content-stage-1 .body-content .all-box .box-left .box-profile .title-profile {
        border-bottom: .5vw dotted gray;
        margin-bottom: 1vw;
    }

    .content-stage-1 .body-content .all-box .box-left .box-profile .box-right {
        width: 100%;
    }

    .content-stage-1 .body-content .all-box .box-left .box-profile .lorem span {
        font-size: 4vw;
        line-height: 7.5vw;
        letter-spacing: 0.15vw;
    }

    .content-stage-1 .body-content .all-box .box-right {
        width: 100%;
    }

    .content-stage-1 .body-content .all-box .box-right img {
        width: 100%;
    }

    .content-stage-1 .body-content .all-box .box-right .icon-wrapper {
        width: 12vw !important;
        height: 12vw !important;
        top: unset !important;
        right: -2vw;
        bottom: -2vw;
        border-radius: 3vw 0 3vw 0;
        left: unset !important;

    }

    #modal-zoom-image>.background {
        overscroll-behavior: contain;
        overscroll-behavior: none;
    }

    #modal-zoom-image>.modal-content {
        width: 90%;
        margin: auto;
        position: relative;
        top: 20%;
        overscroll-behavior: none;
    }

    #modal-zoom-image>.modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    #modal-zoom-image>.close {
        position: absolute;
        top: 10vw;
        right: 5vw;
        color: rgb(241, 241, 241);
        font-size: 7vw;
        font-weight: bold;
        transition: all 0.3s ease 0s;
    }

    .content-stage-2 .background-title {
        margin-bottom: 20vw;
    }

    .content-stage-2 .background-title .image-title-2 {
        width: 30vw;
        right: 3vw;
        top: 5vw;
    }

    .content-stage-2 .background-title .lorem-radius {
        left: 6vw;
        top: 31vw;
        border: none;
        width: 92vw;
        height: auto;
        border-radius: 0 0 2vw 2vw;
        padding-left: 0;
    }

    .content-stage-2 .background-title .lorem-radius h1 {
        font-size: 4.5vw;
        letter-spacing: .5vw;
    }

    .content-stage-2 .body-content .all-box .box-right .image-point-2-step-1 {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }

    .content-stage-2 .body-content .all-box .box-right .btn-sky {
            width: 37vw;
            height: 20vw;
            border-radius: 3vw;
            border: 1vw solid #bbe8fa;
            padding-top: 0.5vw;
    }

    .content-stage-2 .body-content .all-box .box-right .btn-sky h1 {
        font-size: 2.5vw;
    }

    .content-stage-2 .body-content .all-box .box-right .btn-sky img {
        width: 9vw;
        height: 9vw;
    }

    .content-stage-1 .body-content .all-box .box-right .title-on-image .logo-step img {
        width: 100%;
    }

    section.content-bg-top .cotent-bg .bg-radius .border-radius {
        width: 16vw;
        height: 16vw;
        border: .4vw solid #ec6168;
    }

    section.content-bg-top .cotent-bg .bg-radius {
        width: 17vw;
        height: 17vw;
        margin-right: 3vw;
    }

    section.content-bg-top {
        padding: 3vw 0;
        margin-bottom: 0;
    }

    section.content-bg-top .cotent-bg .image-bg img {
        width: 22vw;
        right: 5vw;
        top: 14vw;
        z-index: 10;
    }

    section.content-bg-top .cotent-bg {
        padding-left: 5vw;
    }

    section.content-bg-top .cotent-bg .title-bg h1 {
        line-height: 6.5vw;
        font-size: 4.5vw;
        letter-spacing: .5vw;
        text-shadow: 0 -.5vw 0px #ec6168, .5vw 0 0px #ec6168, -.5vw 0 0px #ec6168, 0 .5vw 0px #ec6168, .5vw .5vw 0px #ec6168, -.5vw .5vw 0px #ec6168, -.5vw -.5vw 0px #ec6168, .5vw -.5vw 0px #ec6168;
    }

    section.content-bg-top .cotent-bg .bg-radius h1 {
        font-size: 4vw;
    }

    .text-underline {
        text-underline-offset: -0.7vw;
        text-decoration-thickness: 2vw;
    } 
}



@media (min-width: 1200px) {
    .categories {
        padding-left: 0 !important;
    }

    .circle-icon {
        background-color: white;
        border-radius: 100%;
        width: 19.15px;
        height: 19.648px;
        margin-right: 1vw;
    }

    .circle-icon img {
        width: 50px;
    }


}