    body,
    html {

        max-width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    nav.link-resource {
        height: 35px;
        display: flex;
        align-items: center;
        padding: 0 48px;
        background-color: #e6e6e6;
    }

    nav.link-resource .all-link a:not(:last-child):hover {
        opacity: .5;
    }

    @font-face {
        font-family: "mplus 1p bold";
        src: url("../../../../_newAssets/fonts/mplus-1p-bold.ttf");
    }

    @font-face {
        font-family: "mplus 1p regular";
        src: url("../../../../_newAssets/fonts/mplus-1p-regular.ttf");
    }

    @font-face {
        font-family: "mplus 1p heavy";
        src: url("../../../../_newAssets/fonts/mplus-1p-heavy.ttf");
    }

    @font-face {
        font-family: "mplus 1p medium";
        src: url("../../../../_newAssets/fonts/mplus-1p-medium.ttf");
    }

    @font-face {
        font-family: "mplus 2p bold";
        src: url("../../../../_newAssets/fonts/mplus-2p-bold.ttf");
    }

    @font-face {
        font-family: "mplus 2p heavy";
        src: url("../../../../_newAssets/fonts/mplus-2p-heavy.ttf");
    }

    @font-face {
        font-family: "mplus 1p light";
        src: url("../../../../_newAssets/fonts/mplus-1p-light.ttf");
    }

    @font-face {
        font-family: "Roboto-Medium";
        src: url("../../../../_newAssets/fonts/Roboto-Medium.ttf");
    }

    @font-face {
        font-family: "Roboto-Black";
        src: url("../../../../_newAssets/fonts/Roboto-Black.ttf");
    }

    @font-face {
        font-family: "Roboto-Regular";
        src: url("../../../../_newAssets/fonts/Roboto-Regular.ttf");
    }


    @font-face {
        font-family: "Roboto-Bold";
        src: url("/_newAssets/fonts/Roboto-Bold.ttf");
    }

    .font_roboto {
        font-family: "Roboto-Bold" !important;
    }

    .font_bold {
        font-family: "mplus 1p bold" !important;
    }

    .font_heavy {
        font-family: "mplus 1p heavy" !important;
    }

    .font_light {
        font-family: "mplus 1p light" !important;
    }

    .font_bold_2 {
        font-family: "mplus 2p bold" !important;
    }

    .font_heavy_2 {
        font-family: "mplus 2p heavy" !important;
    }

    .font_regular {
        font-family: "mplus 1p regular" !important;
    }

    .font_light {
        font-family: "mplus 1p light" !important;
    }

    .font_bold_2 {
        font-family: "mplus 2p bold" !important;
    }

    .font_heavy_2 {
        font-family: "mplus 2p heavy" !important;
    }

    body {
        margin: 0;
        padding: 0;
        /* font-family: "mplus 1p light"; */
    }

    * {
        box-sizing: border-box;
    }



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    body,
    html {
        /* height: 100%; */
        max-width: 100%;
    }


    /* all-link  */
    .link-resource-sp {
        display: none;
    }

    .link-resource {
        display: block;
    }

    .link-resource {
        height: 35px;
        /* letter-spacing: 1.2px; */
    }

    .link-resource {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        display: flex;
        align-items: center;
    }

    nav.link-resource .all-link a {
        text-decoration: 1px underline;
        text-underline-offset: 2px;
    }

    nav.link-resource .all-link a:hover {
        opacity: .5;
    }

    nav.link-resource .all-link a:last-child:hover {
        opacity: 1;
    }

    nav.link-resource .all-link .line_a {
        text-decoration: 1px underline;
        text-underline-offset: 0.2vw;
    }

    nav.link-resource .all-link a {
        color: black;
        font-size: 12px;
    }

    nav.link-resource .all-link span {
        font-size: 15px;
        margin: 0 8px;
    }

    nav.link-resource .all-link a:last-child {
        text-decoration: 1.5px underline;
        text-underline-offset: 0.2vw;
    }

    /* code content  */

    .part-left {
        margin-left: calc((100% - var(--max-width)) / 2);
        margin-top: 41px;
        width: 48%;
        z-index: 20;
    }

    .part-right {
        width: 52%;
    }

    .slider {
        position: relative;
    }

    .inner-wrapper {
        background-color: rgb(255, 255, 255);
        border-radius: 20.25px;
        position: relative;
    }

    .carousel {
        position: unset;
    }


    .part-right-width {
        /* margin-left: calc((100% - var(--max-width)) / 2 + 425.5px + 83px);
        width: calc(var(--max-width) - 425.5px - 83px); */
        padding: 45px 0px 0px;
    }

    .part-right-width.product-detail {
        padding-bottom: 8px;
        margin-top: 0px !important;
    }

    .product-detail {
        font-size: 16px;
        color: rgb(34, 34, 34);
    }

    .part-right-width.product-detail {
        padding-bottom: 8px;
        margin-top: 0px !important;
    }

    .part-right-width.product-detail .container {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .object-row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .product-detail-key {
        background-color: rgb(242, 242, 242);
        padding: 22px 22px 19px 24px;
        width: 105px;
        min-width: 105px;
        line-height: 1.357;
        font-size: 14px;
        font-family: "mplus 1p bold";
        align-items: center;
    }

    .product-detail-val {
        padding: 10px 0 10px 14px;
        display: flex;
        align-items: center;
    }

    section.content-slide {
        max-width: 1080px;
        margin: auto;
    }

    section.content-slide .brief-desc {
        justify-content: center;
    }

    #carouselExampleIndicators .detail .slider-image-preview {
        width: 330px;
    }

    .object-row:last-child>.product-detail-val {
        align-items: flex-end;
    }

    .level-list {
        display: flex;
        justify-content: space-between;
        border-radius: 9px;
        padding: 11px 10px 8px;
        background-color: rgb(240, 240, 240);
    }

    .level-list-item {
        margin-right: 7px;
    }

    .level-list-item p {
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
    }

    .colors {
        display: flex;
        justify-content: space-between;
    }

    .level {
        height: 11.5px;
        width: 71.32px;
        border-radius: 5.5px;
    }

    .level-list-item:last-child {
        margin-right: 0px;
    }

    .level-list-item-disable {
        color: rgb(177, 177, 177);
    }

    .level-list-item-disable .level {
        background-color: white;
    }

    .level-1 {
        background-color: rgb(28, 88, 139);
    }

    .level-2 {
        background-color: rgb(28, 88, 139);
    }

    .level-3 {
        background-color: rgb(28, 88, 139);
    }

    .product-detail .option-item {
        background-color: rgb(8, 54, 94);
        line-height: 1.875;
        letter-spacing: 2px;
        color: white;
        padding: 0px 12px;
        border-radius: 7.5px;
        font-size: 16px;
        height: 35px;
    }

    .product-detail .option-item-2 {
        background-color: rgb(72, 154, 225);
        line-height: 1.875;
        letter-spacing: 2px;
        color: white;
        padding: 0px 5px;
        height: 35px;
        border-radius: 6.75px;
        font-size: 14.4px;
        display: flex;
        align-items: center;
    }

    .object-row:last-child {
        border-bottom: 0px;
    }

    .button-file-excel {
        background-color: #009944;
        color: #ffffff;
        border-radius: 22.2px;
        width: 180px;
        height: 45px;
        border: 0px;
        cursor: pointer;
    }

    .button-file-excel img {
        margin-left: 17px;
        margin-right: 30px;
        width: 25px;
    }

    .button-file-pdf {
        background-color: #ad3e3e;
        color: #ffffff;
        border-radius: 22.5px;
        width: 180px;
        height: 45px;
        border: 0px;
        cursor: pointer;
        margin-right: 30px;
    }

    .button-file-pdf img {
        margin-left: 17px;
        margin-right: 15px;
        width: 21px;
    }

    .content-button a:hover {
        text-decoration: none;
        opacity: 0.8;
    }

    .content-button {
        margin: 20px 0;
    }


    .content-stage .box-number {
        font-size: 45px;
        width: 80px;
        border-right: 1px solid white;
        padding-right: 15px;
    }

    .content-stage .text-top {
        border: 1px solid white;
        border-radius: 20px;
        padding: 0px 15px;
        display: flex;
        align-items: center;
        height: 18px;
    }


    .content-stage .box-number .number h1 {
        font-size: 45px;
        margin-bottom: 0px;
    }

    .content-stage .box-title h1 {
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .content-stage .text-top span {
        font-size: 12px;
    }


    .content-stage .image-content-1 img {
        width: 100%;
        margin-bottom: 30px;
    }


    /* mobile  */


    .content-pc {
        display: block;
    }

    .content-sp {
        display: none;
    }


    .hint {
        background: url("/_newAssets/image/product/detail/bg-piece-2.png") center top repeat;
        width: 1080px;
        margin: 0 auto;
        margin-bottom: 74px;
        padding: 40px 0px 40px 0px;
        border-radius: 20px;
        margin-top: 80px;
    }


    .den {
        z-index: 1;
        width: 64px;
        height: 64px;
    }

    .img-bg {
        left: 13.5px;
        top: 3px;
        z-index: -1;
        position: absolute;
        width: 37px;
        height: 41px;
    }

    .hint .hint-text {
        font-size: 24px;
        font-family: "mplus 1p heavy";
        line-height: 1.875;
        letter-spacing: 3px;
        margin: auto;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 5px;
    }

    .hint .myBtn {
        margin-left: 10px;
        box-shadow: rgba(255, 255, 255, 0.9) 0px -4px 2px 0px, rgba(75, 67, 67, 0.2) 0px 4px 4px 0px;
        justify-content: start;
    }

    .arrow-wrapper {
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 158, 33);
    }

    .myBtn p {
        margin: 0px 0px 0px 22px;
        color: white;
        display: inline;
        font-size: 19.8px;
    }

    .myBtn {
        cursor: pointer;
        background-color: orange;
        padding: 15px;
        width: 167px;
        height: 55px;
        box-shadow: rgba(0, 0, 0, 0.35) 4px 2px 15px;
        border-radius: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .box_btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25px;
    }

    .hint .box-led {
        width: 100%;
    }

    .btn-in-box {
        /* width: 100%; */

    }

    .btn-in-box-2 {
        column-gap: 30px;
        margin: auto;
    }

    .text-in-leb {
        row-gap: 20px;
        width: 100%;
    }

    .btn-in-box-2 {
        column-gap: 30px;
    }

    a:hover {
        text-decoration: none !important;
        opacity: 0.8;
    }

    /* new code pages  */
    .section-title-top {
        max-width: 1080px;
        margin: auto;
        background-color: #2fb8ab;
        align-items: center;
        justify-content: center;
        border-radius: 20px 20px 0 0;
        padding: 30px 0;
        margin-top: 60px;
    }

    .section-title-top .image {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-title-top .image img {
        width: 5%;
    }

    .section-content .content-stage .background-title {
        border-radius: 12px;
        color: white;
        padding: 25px 0 25px 25px;
    }

    .section-title-top .title h1 {
        font-size: 24px;
        color: white;
        letter-spacing: 2.5px;
        margin-bottom: 0;
    }


    .section-title-top .title {
        width: 100%;
        justify-content: center;
        margin-top: 5px;
    }

    .color-einstone-primary {
        background-image: linear-gradient(to right, #83cb53, #aff880);
    }

    .color-einstone-science-primary {
        background-image: linear-gradient(to right, #f6b23c, #fdce7b);

    }

    .color-einstone-japanese-primary {
        background-image: linear-gradient(to right, #f76b86, #fd9daf);
    }

    .color-einstone-math-primary {
        background-image: linear-gradient(to right, #2385db, #6cbbfe);
    }

    .content-einstone-japanese-primary .all-box {
        flex-direction: row-reverse;
    }

    .content-einstone-japanese-primary .box-first {
        margin-bottom: 50px;
    }

    .section-content .background-title {
        margin-top: 60px;
        margin-bottom: 30px;
        padding: 15px 20px;
    }

    .section-content {
        max-width: 1080px;
        margin: auto;
    }

    .content-stage-2 .all-box {
        position: relative;
    }

    .content-stage-winning-finish .content-stage-2 .all-box .box-left {
        width: 53%;
    }

    .content-stage-winning-finish .content-stage-2 .all-box .box-left {
        padding: 0 20px;
        padding-right: 10px;
    }

    .content-stage-2 .all-box .box-left {
        font-size: 13px;
        padding: 0 30px;
        letter-spacing: 0.5px;
        line-height: 30px;
    }

    .content-stage-2 .all-box .box-left span {
        font-size: 16px;
    }

    .content-stage-winning-finish .content-stage-2 .lorem-green h1 {
        font-size: 24px;
        color: #08365e;
        width: 100%;
        border-bottom: 4px dotted #08365e;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content-stage-2 .all-box .box-right {
        width: 66%;
    }

    .content-stage-2 .all-box .box-right img {
        width: 100%;
    }

    .content-stage-1 .all-box-content-1 .box-1 {
        margin-bottom: 50px;
    }

    .content-stage-1 .all-box-content-1 .box-1 .box-left {
        width: 40% !important;
        padding: 0 20px;
    }

    .content-stage-1 .all-box-content-1 .box-1 .box-double .box-left {
        width: 30% !important;
    }

    .content-stage-1 .all-box-content-1 .box-2 .box-right img {
        width: 95%;
    }

    .content-stage-1 .all-box-content-1 .box-2 .box-right {
        display: flex;
        justify-content: end;
    }

    a button:focus {
        outline: none;
        border: none;
    }

    .content-stage-2-math .all-box .box-right {
        display: flex;
        justify-content: end;
    }

    .content-stage-2-math .all-box .box-right img {
        width: 95%;
    }

    .text-in-leb .box-on p {
        width: 100%;
        text-align: center;
    }

    .text-in-leb a {
        display: flex;
        width: 167px;
        margin: auto;
    }


    .text-in-leb {
        row-gap: 20px;
        width: 100%;
    }

    .den-container {
        position: relative;
        margin-left: 30px;
        margin-right: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .myBtn .arrow-wrapper img {
        rotate: 90deg;
        width: 13px;
    }

    @media(max-width:670px) {

        .content-einstone-japanese-primary .content-stage-2 .box-2 .all-box .box-left {
            padding: 0 5vw !important;
        }

        .section-content .content-stage .background-title {
            padding: 5vw 0 5vw 3vw;
        }

        .part-right-width {
            padding: 5vw 0px 0px;
        }

        .image-main {
            justify-content: start !important;
            flex-direction: unset !important;
            margin-left: 5vw;
        }

        .content-pc {
            display: none !important;
        }

        .content-sp {
            display: block !important;
        }

        nav.link-resource {
            display: none;
        }

        nav.link-resource-sp {
            display: block;
        }

        section.content-slide .brief-desc {
            flex-wrap: wrap;
        }

        .part-left {
            margin-left: 0;
            margin-top: 5vw;
            width: 100%;
        }

        .part-right {
            margin-top: 5vw 0 0 0;
            width: 100%;
        }

        .part-right-width.product-detail .container {
            margin: 0;
        }


        .product-detail-key {
            background-color: #f2f2f2;
            padding: 4vw 1vw 4vw 4vw;
            width: 5vw;
            min-width: 23vw;
        }

        .product-detail-key span {
            display: flex;
            align-self: flex-start;
            font-size: 3.7vw;
        }

        .product-detail-val {
            padding: 2.7vw 2vw;
            display: flex;
            align-items: center;
            padding-right: 0;
            font-family: "mplus 1p heavy";
        }

        .product-detail-val span {
            font-size: 4.2vw;
            letter-spacing: 0.2vw;
        }

        .product-detail-val p {
            font-size: 4vw;
            letter-spacing: 0.2vw;
            line-height: 7vw;
            margin-bottom: 0;
            font-family: "mplus 1p heavy";
        }

        .level {
            height: 2.5vw;
            width: 15vw;
            border-radius: 5vw;
        }

        .object-row .product-detail-val {
            width: 66vw;
        }

        .container {
            max-width: 100%;
        }

        .content-button {
            margin: 5vw 0;
            column-gap: 4vw;
            justify-content: center;
        }

        .button-file-pdf span {
            font-size: 3.5vw;
            margin-left: 0;
        }

        .button-file-excel span {
            font-size: 3.5vw;
            margin-left: 0;
        }

        .button-file-pdf img {
            margin: 0;
            width: 4.5vw;
            margin-right: 4vw;
            margin-left: 3vw;
            height: auto;
        }

        .button-file-excel img {
            margin: 0;
            width: 4.5vw;
            margin-right: 9vw;
            margin-left: 3vw;
            height: auto;
        }

        .button-file-pdf {
            border-radius: 20vw;
            width: 43vw;
            height: 11vw;
            margin-right: 0;
            justify-content: start;
        }

        .button-file-excel {
            border-radius: 20vw;
            width: 43vw;
            height: 11vw;
            margin-right: 0;
            justify-content: start;
        }


        .content-stage .box-number {
            width: 18vw;
            padding-right: 4vw;
        }

        .content-stage .text-top {
            border-radius: 40vw;
            padding: 0px;
            height: 4vw;
            width: 10vw;
        }

        .content-stage .box-number .number h1 {
            font-size: 9vw;
            margin-bottom: 0px;
        }

        .content-stage .text-top span {
            font-size: 2.8vw;
            padding-top: 0.2vw;
        }

        .content-stage .box-title h1 {
            font-size: 4.7vw;
            letter-spacing: 0.4vw;
            margin-bottom: 0px;
            margin-left: 4vw;
            line-height: 5vw;
            width: 100%;
        }

        .content-stage .image-content-1 {
            display: flex;
            justify-content: center;
        }

        .content-stage .image-content-1 img {
            width: 90%;
            margin: 5vw 0;
        }


        .content-stage .image-content-2 img {
            width: 100%;
        }

        .hint {
            padding: 5vw 4vw !important;
            margin: 0px 4vw !important;
            width: auto !important;
            margin-bottom: 30vw !important;
            margin-top: 24vw !important;
            justify-content: center !important;
        }

        .box-led {
            width: 100%;
            margin-bottom: 3.5vw;
            justify-content: center !important;
        }

        .den {
            width: 12vw;
            height: auto;
        }

        .img-bg {
            left: 2vw;
            top: 1vw;
            width: 8vw;
            height: 8vw;
        }

        .hint .hint-text-sp {
            margin-left: 4vw;
            font-size: 4.6vw;
            line-height: 1.3 !important;
        }


        .myBtn {
            padding: 3vw;
            width: 26vw;
            height: 12vw;
            border-radius: 20vw;
            justify-content: start;
        }

        .myBtn .arrow-wrapper {
            width: 5vw !important;
            height: 5vw !important;
        }

        .myBtn .arrow-wrapper img {
            width: 2vw !important;
        }

        .hint .myBtn p {
            letter-spacing: 0.5vw;
            font-size: 4.2vw;
            margin-left: 2vw;
        }

        .box_btn {
            width: 100%;
        }

        .btn-in-box-2 {
            column-gap: 3vw;
        }

        .section-title-top {
            border-radius: 0;
            padding: 5vw 0;
            margin-top: 8vw;
        }

        .section-title-top .image {
            margin-bottom: 0;
        }

        .section-title-top .image img {
            width: 9%;
            margin-right: 2vw;
        }

        .section-title-top .title h1 {
            font-size: 4.8vw;
            letter-spacing: 0.2vw;
            width: 75vw;
            text-align: center;
            width: 100%;
        }

        .section-title-top .title {
            width: auto !important;
            margin-top: 0 !important;
        }


        .section-content .content-stage .background-title {
            border-radius: 0;
            margin-bottom: 6vw;
        }

        .section-content .background-title {
            margin: 0;
            padding: 4vw 5vw;
            margin-top: 15vw;
            padding-right: 0;
        }

        .content-stage .box-number .number h1 {
            font-size: 9vw;
            margin-bottom: 0;
        }

        .content-stage .box-title h1 {
            font-size: 4.7vw;
            letter-spacing: 0.4vw;
            margin-bottom: 0;
            margin-left: 4vw;
            line-height: 5vw;
            width: 100%;
        }

        .content-stage .content-stage-1.content-stage-2 .background-title {
            margin-top: 0;
        }

        .content-stage-2 .all-box .box-left span {
            font-size: 3.5vw;
            line-height: 8vw;
        }

        .content-stage-winning-finish .content-stage-2 .lorem-green h1 {
            font-size: 5.7vw;
            border-bottom: 1.2vw dotted #08365e;
            padding-bottom: 1vw;
            margin-bottom: 2vw;
        }

        .content-stage-2 .all-box {
            position: relative;
            flex-wrap: wrap;
        }

        .content-stage-2 .all-box .box-left {
            width: 100% !important;
            margin-bottom: 5vw;
        }

        .content-stage-2 .all-box .box-right {
            width: 100% !important;
            display: flex !important;
            justify-content: center !important;
        }

        .content-stage-2 .all-box .box-right img {
            width: 90% !important;
        }

        .content-stage-1 .all-box-content-1 .box-2 .box-right img {
            width: 100% !important;
        }

        .content-stage-winning-finish .content-stage-2 .box-2 .all-box .box-left {
            padding: 0;
        }

        .content-stage-1 .all-box-content-1 .box-1 .box-left {
            width: 100% !important;
            padding: 0 5vw;
        }

        .content-stage-1 .all-box-content-1 .box-1 {
            margin-bottom: 10vw;
        }

        .content-stage-1 .all-box-content-1 .box-1 .box-double {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
        }

        .content-stage-1 .all-box-content-1 .box-2 .all-box {
            padding: 0 5vw;
        }

        .content-stage-winning-finish .content-stage-2 .all-box .box-left {
            padding: 0 5vw;
        }

        #carouselExampleIndicators .detail .slider-image-preview {
            width: 45vw;
        }

        .content-stage-1 .all-box-content-1 .box-1 .box-double .box-left {
            width: 100% !important;
        }

        .content-stage-2-math .content-stage-2 .all-box .box-right img {
            width: 100%;
        }

        .all-box-primary-japanese {
            flex-wrap: wrap-reverse !important;
        }

        .content-einstone-japanese-primary .box-first {
            margin-bottom: 8vw;
        }

        .content-einstone-japanese-primary .content-stage-2 .box-2 .all-box .box-left {
            margin-bottom: 0;
        }

        .all-box-primary-japanese .box-right {
            margin-bottom: 3.5vw;
        }

        .all-box-primary-japanese .box-left {
            margin-bottom: 0 !important;
        }


        .box-in {
            flex-wrap: wrap;
        }

        .hint .hint-text-sp {
            margin: auto;
            margin-bottom: 3vw !important;
        }

        .btn-in-box-2 {
            margin: 0;
        }

        .text-in-leb .box-on .hint-text {
            margin: 0 !important;
            margin-bottom: 3vw !important;
            /* width: 65vw; */
        }


        .box-on {
            flex-wrap: wrap;
        }

        .text-in-leb {
            width: 100%;
            row-gap: 5vw;

        }

        .text-in-leb .box-on p {
            margin-right: 0;
        }

        .den-container {
            margin-bottom: 3vw;
        }

        .box_btn {
            width: 100%;
            margin-top: 5vw;
        }

        .text-in-leb a {
            width: 26vw;
        }

    }