nav.link-resource {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 48px;
    background-color: #e6e6e6;
}

nav.link-resource .all-link a:not(:last-child):hover {
    opacity: 0.5;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

@font-face {
    font-family: "mplus 1p bold";
    src: url("../../fonts/mplus-1p-bold.ttf");
}

@font-face {
    font-family: "mplus 1p regular";
    src: url("../../fonts/mplus-1p-regular.ttf");
}

@font-face {
    font-family: "mplus 1p heavy";
    src: url("../../fonts/mplus-1p-heavy.ttf");
}

@font-face {
    font-family: "mplus 1p medium";
    src: url("../../fonts/mplus-1p-medium.ttf");
}

@font-face {
    font-family: "mplus 2p bold";
    src: url("../../fonts/mplus-2p-bold.ttf");
}

@font-face {
    font-family: "mplus 2p heavy";
    src: url("../../fonts/mplus-2p-heavy.ttf");
}

@font-face {
    font-family: "mplus 1p light";
    src: url("../../fonts/mplus-1p-light.ttf");
}

@font-face {
    font-family: "mplus 1p medium";
    src: url("../../fonts/mplus-1p-medium.ttf");
}

@font-face {
    font-family: "roboto black";
    src: url("../../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: "BIZ-UDGOTHICB";
    src: url("../../fonts/BIZ-UDGOTHICB.ttf");
}


@font-face {
    font-family: "A-OTF-Jun501Pro-Bold";
    src: url("../../fonts/A-OTF-Jun501Pro-Bold.ttf");
}


.font-jun34-bold {
    font-family: "A-OTF-Jun501Pro-Bold";
}

.font_biz_gothic_cb {
    font-family: "BIZ-UDGOTHICB" !important;
}

.font_bold {
    font-family: "mplus 1p bold" !important;
}

.font_heavy {
    font-family: "mplus 1p heavy" !important;
}

.font_regular {
    font-family: "mplus 1p regular" !important;
}

.font_medium {
    font-family: "mplus 1p medium" !important;
}

.font_light {
    font-family: "mplus 1p light" !important;
}

.font_bold_2 {
    font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
    font-family: "mplus 2p heavy" !important;
}

.font_roboto {
    font-family: "roboto black";
}

body {
    margin: 0;
    padding: 0;
    /* font-family: "mplus 1p light"; */
}

* {
    box-sizing: border-box;
}

.img-top img {
    width: 100%;
    position: absolute;
}

.all-box {
    position: relative; 
    margin: auto;
    flex-wrap: wrap;
}

.all-box .big-image { 
    width: 100%; 
}

.all-box .big-image img {
    width: 150px;
}

.btn-top:hover {
    opacity: .8;
}


.btn-top {
    width: 220px; 
    background-color: #BCE2E6;
    display: flex;
    justify-content: center; 
    padding: 15px;
    border-radius: 50px; 
    margin-top: auto;
}

.btn-top .logo {
    display: flex;

}

.btn-top .logo img {
    width: 50px;
}

.btn-top .title h1 {
    font-size: 22px;
    color: #286F8C;
    margin-bottom: 0;
}

.btn-top .bg-btn {
    align-items: center;
}

a {
    text-decoration: none !important;
}

.paper-blue {
    background-color: #3494BA;
    width: 200px;
    height: 50px;
    position: absolute; 
    top: -50px; 
}

.paper-blue h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 0;
    text-decoration: none !important;
}

.paper-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    left: -1px;
    top: -1px;
    transform: scaleX(-1);
}

.paper-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    right: -1px;
    top: -1px;
}

.paper-yellow {
    background-color: #FFFFE7;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 30px;
    position: relative; 

    box-shadow: 2px 2px 10px 3px #c7f7fb;

}

/* .paper-botom-right {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 55px solid white;
    border-left: 55px solid transparent;
    bottom: -5px;
    right: -5px;
    box-shadow: 20px 20px 0px 20px white; 
}  */

.paper-botom-right {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 80px solid white;
    border-left: 80px solid transparent;
    bottom: -18px;
    right: -18px;
    box-shadow: 20px 20px 0px 20px white;
}

.color-black {
    color: rgb(80, 80, 80) !important;
    margin-right: 0 !important;
}

.line-shadow {
    width: 75px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 16px;
    right: -31px;
    transform: rotate(314deg);
    z-index: 1;
    box-shadow: -7px -20px 5px 3px #dbfbff;
}
 

.paper-botom-left {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid #CDCDBA;
    right: -3.5px;
    bottom: 23.5px;
    transform: rotate(315deg); 

    filter: drop-shadow(2px 6px 4px #b9f8ff);  

}
 

.paper-yellow span {
    color: #12DA9C;
    margin-right: 5px;
}

.paper-yellow h1 {
    font-size: 20px;
    display: flex;
    text-decoration: 3px underline;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #3494BA;
    text-underline-offset: 5px;
    margin-bottom: 0;
    line-height: 40px;
}

.all-box-top {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 80px;
}

.title-box {
    margin-bottom: 20px;
}

.title-box img {
    width: 240px;
}

.box-right {
    margin-left: 40px;
    margin-top: 20px;
}

.text-sp {
    display: none !important; 
}

.text-pc {
    position: relative;
}

.span-sp-dad{
    position: relative;
    color: rgb(80, 80, 80) !important;
    margin-right: 0 !important;
}

.span-small-pc {
    position: absolute;
    left: 0;
    top: -24px;
    font-size: 9px;
    color: rgb(80, 80, 80) !important;
    margin-right: 0 !important;
}

.span-small-sp {
    position: absolute;
    left: 0;
    top: -5vw;
    font-size: 1.8vw;
    color: rgb(80, 80, 80) !important;
}

@media (max-width: 670px) {

    .text-sp {
        display: flex !important;
    }

    .text-pc {
        display: none !important;
    }

    .box-top img {
        width: 20vw;
        margin-top: 7vw;
    }

    .all-box { 
        margin-bottom: 20vw; 
    }
 
    .paper-yellow {
        width: 82%;
    } 

    .btn-top .title h1 {
        font-size: 5vw; 
        line-height: 4vw;
    }

    .btn-top .logo img {
        width: 10vw;
        margin-right: 2vw;
    }

    .btn-top {
        width: 50vw;
        padding: 3vw 2vw;
    } 

    .all-box .big-image img {
        width: 30vw;
    }

    .paper-blue { 
        width: 40vw;
        height: 10vw; 
        top: -10vw;
    }

    .paper-yellow h1 {
        font-size: 3.8vw;
        line-height: 8vw;
    }

    .paper-yellow { 
        padding: 3vw 3.5vw; 
    }

    .btn-top { 
        margin-bottom: 3vw;
    }

    .all-box {
        margin-bottom: 5vw;
    }

    .all-box-top {
        margin-top: 20vw;
        margin-bottom: 15vw;
    }

    .title-box img {
        width: 50vw;
    }

    .box-right {
        margin-left: 3vw;
        margin-top: 3vw;
    }

    .title-box {
        margin-bottom: 3vw;
    }

    .paper-yellow span { 
        margin-right: 0;
    }

}