body,
html {
  max-width: 100%;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

nav.link-resource {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
  background-color: #e6e6e6;
}

nav.link-resource .all-link a:not(:last-child):hover {
  opacity: 0.5;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("/_newAssets/fonts/mplus-1p-bold.ttf");
}

@font-face {
  font-family: "mplus 1p regular";
  src: url("/_newAssets/fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("/_newAssets/fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p medium";
  src: url("/_newAssets/fonts/mplus-1p-medium.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("/_newAssets/fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("/_newAssets/fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("/_newAssets/fonts/mplus-1p-light.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/_newAssets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("/_newAssets/fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/_newAssets/fonts/Roboto-Regular.ttf");
}

.text-medium-1 {
  font-family: "mplus 1p medium";
}

.text-bold {
  font-family: "mplus 1p bold";
}

.text-heavy {
  font-family: "mplus 1p heavy";
}

.font-light {
  font-family: "mplus 1p light";
}

.font-heavy {
  font-family: "mplus 1p heavy";
}

.text-regular {
  font-family: "mplus 1p regular";
}

.text-medium {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.text-black {
  font-family: "Roboto-Black";
  font-weight: 500;
}

.text-rbt-regular {
  font-family: "Roboto-Regular";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "mplus 1p light"; */
}

* {
  box-sizing: border-box;
}

.bg-light {
  background-color: white !important;
}

.navbar-nav,
.mr-auto {
  margin-right: unset !important;
  /* margin-left: auto; */
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  /* font-weight: bold; */
  font-size: 1.1rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item a {
  font-size: 10.8px;
  color: #222222;
  text-decoration: underline;
  line-height: 2.5;
}

.breadcrumb-item.active {
  font-size: 10.8px;
  color: black;
  font-weight: bold;
  line-height: 2.5;
}

.breadcrumb-item::before {
  padding: 0px 6.3px !important;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 1rem 50px;
}

.breadcrumb-unset-bgcolor {
  background-color: unset;
}

a:hover {
  text-decoration: none;
}

.grid {
  display: grid;
  place-items: center;
}

:root {
  ---color-boder-btn: #99c6ee;
  --color-bg-btn-orange: #ff9e21;
  --color-boder-btn-orange: #ffbb64;
  --color-bg-section-2: #489ae1;
  --color-text-active: #309bd5;
  --box-shadow: 0 0.3vw 0.4vw 0.1vw rgba(177, 177, 177, 0.25);
  --max-width: 1080px;
  --color-btn-active: rgb(71, 153, 225);
  --bg-cl-btn-slide: #f5f5f5;
  --color-three-box-1: #abd1f3;
  --color-three-box-2: #489ae1;
  --color-three-box-3: #1c588b;
  --color-three-box-4: #08365e;
  --color-three-box-5: #f2f2f2;

  --color-box-sky-product: #2171b7;
  --color-box-skys-product: #489ae1;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

.font_regular {
  font-family: "mplus 1p regular" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

/* all-link  */
.link-resource {
  height: 35px;
  /* letter-spacing: 1.2px; */
}

.link-resource {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  display: flex;
  align-items: center;
}

nav.link-resource .all-link a {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

nav.link-resource .all-link a:hover {
  opacity: 0.5;
}

nav.link-resource .all-link a:last-child:hover {
  opacity: 1;
}

nav.link-resource .all-link .line_a {
  text-decoration: 1px underline;
  text-underline-offset: 0.2vw;
}

nav.link-resource .all-link a {
  color: black;
  font-size: 12px;
}

nav.link-resource .all-link span {
  font-size: 15px;
  margin: 0 8px;
}

nav.link-resource .all-link a:last-child {
  text-decoration: 1.5px underline;
  text-underline-offset: 0.2vw;
}


.page-content {
  max-width: 1080px;
  margin: auto;
}

.content-main {
  display: flex;
  padding-bottom: 0;
}

.content-main img {
  width: 480px;
}

.content-main .image-main-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #00164a;
  padding: 30px 0;
  margin-bottom: 40px;
}

.content-main .image-main-2 h1 {
  font-size: 45px;
  color: white;
  margin: 0;
}

.title-main {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-left: 10px;
}


.title-main h1 {
  font-size: 20px;
  margin: 0;
  /* color: #565656; */
}

.all-box-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-bottom: 100px;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 40px;
}


.all-box-book .box {
  display: flex;
  background-color: white;
  width: 192px;
  box-shadow: 2px 2px 6px 2px rgb(163, 163, 163);
}

.all-box-book .box img {
  width: 100%;
}

.all-box-book .box:hover {
  opacity: .8;
}

.all-box-book .box h1 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.all-box-book .box span {
  font-size: 14px;
  color: #565656;
  display: flex;
}

.all-box-book .box .box-right {
  display: flex;
}

.all-box-book .box .box-right img {
  width: 90px;
}

/* hoang long  */

@media (max-width: 670px) {

 
  .content-main img {
    width: 83vw;
  }

  .title-main h1 {
    font-size: 3vw;
    margin-left: 6vw;
  }

  .title-main {
    margin-left: 0;
}

  .all-box-book {
    padding-bottom: 20vw;
    justify-content: center;
    column-gap: 6vw;
    row-gap: 6vw;
    margin-top: 6vw;
  }


  .all-box-book .box { 
    width: 25vw;
    box-shadow: 0.5vw 0.5vw 1vw 0.5vw rgb(200 199 199);
  }


  .all-box-book .box h1 {
    font-size: 5.2vw;
    margin-bottom: 3vw;
    letter-spacing: .2vw;
    margin-top: 2vw;
  }

  .all-box-book .box span {
    font-size: 3.5vw;
    letter-spacing: .15vw;
    line-height: 5vw;
  }

  .all-box-book .box .box-right img {
    width: 22vw;
  }

  .content-main .image-main-2 img {
    width: 55vw;
    margin-left: 1.5vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  .content-main .image-main-2 h1 {
    font-size: 5vw;
  }
   
  .content-main .image-main-2 {
    border-radius: 0;
    padding: 3vw 0;
    margin-bottom: 5vw;
}
}

