
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content=""
    />
    <!-- boostrap -->
    <link rel="stylesheet" href="../_newAssets/bootstrap-4.0.0/dist/css/bootstrap.min.css" />

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>コンポーネント一覧</title>
    <link rel="icon" type="image/x-icon" href="../_newAssets/icon/favicon.png" />
    <link rel="stylesheet" href="../_newAssets/css/header.css" />
    <link rel="stylesheet" href="../_newAssets/css/footer.css" />
    <link rel="stylesheet" href="../_newAssets/css/component/component.css" />

    <script src="../_newAssets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../_newAssets/js/popper.min.js"></script>
    <script src="../_newAssets/js/jquery.min.js"></script>
    <script src="../_newAssets/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="../_newAssets/js/lodash.min.js"></script>
  </head>

  <body>
    
    <!-- nav -->
    <nav class="link-resource">
      <div class="all-link font_regular d-flex">
        <a class="breadcrumb-item" href="/">トップページ</a>
        <span>/</span>
         <a class="breadcrumb-item" href="../supporttools/">教材サポート</a>
        <span>/</span>
       <a class="breadcrumb-item font_heavy m-0" style="transform: none; text-decoration: unset">新ワーク（概要）</a>
      </div>
    </nav>

    <nav class="link-resource link-resource-sp">
      <div class="all-link d-flex font_bold font_bold_sp">
        <a href="/">TOP</a>
        <span></span>
        <a href="../supporttools/">教材サポート</a>
        <span></span>
        <a>新ワーク（概要）</a>
      </div>
      <div class="bg-gray"></div>
    </nav>
    
    <!-- 01 title-l -->
    <div class="title-l title-blue">
      <p>01 タイトル。01 title-large。タイトルが入ります。</p>
    </div>

    <!-- wrap -->
    <div class="wrap">
      <!-- 02 title-m -->
      <div class="title-m title-blue">
        <div class="bulleted-1"></div>
        <p class="mb-0">02 見出し。02 title-medium。</p>
      </div>

      <!-- 03 title-s -->
      <div class="title-s text-blue">
        <p>03 小見出し。03 title-small。</p>
      </div>

      <!-- 04 text -->
      <div class="text">
        <p>
          04 テキスト。04 テキスト。04 テキスト。04 text。04 text。04 text。 <br />04
          テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </p>
      </div>

      <!-- 05 text&image -->
      <div class="text-img">
        <p>
          05 テキスト＋イメージ。05 テキスト＋イメージ。05 テキスト＋イメージ。05 text＋image。05 text＋image。05 text＋image。
          <br />テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </p>

        <div class="txt-tmg">
          <img src="../_newAssets/image/ict/eizo-winning/image-video-1.jpg" style="width: 100%" />
          <img src="../_newAssets/image/ict/eizo-winning/zoom.png" class="icon-zoom icon-wrapper-zoom" />
          <img src="../_newAssets/image/ict/eizo-winning/image-video-1.jpg " style="display: none" class="w-100 img-tab-1 img-desc image-zoom" />
        </div>
      </div>

      <!-- 06 image&text -->
      <div class="img-text">
        <div class="txt-tmg">
          <img src="../_newAssets/image/ict/eizo-winning/image-video-1.jpg " style="width: 100%" />
          <img src="../_newAssets/image/ict/eizo-winning/zoom.png" class="icon-zoom icon-wrapper-zoom" />
          <img src="../_newAssets/image/ict/eizo-winning/image-video-1.jpg " style="display: none" class="w-100 img-tab-1 img-desc image-zoom" />
        </div>
        <p>
          06 イメージ＋テキスト。06 イメージ＋テキスト。06 イメージ＋テキスト。06 image＋text。06 image＋text。06 image＋text。
          <br />テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </p>
      </div>

    <!-- zoom -->
      <div id="modal-zoom-image" class="modal">
        <div class="background"></div>
        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="image-will-be-zoomed" src="../_newAssets/image/common/bg-radius.png" />

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
      
    </div>
  </body>

  <script>
    var modalZoomImage = $("#modal-zoom-image");
    var imageWillBeZoom = $("#image-will-be-zoomed");
    let overflowOrigin = $("body").css("overflow");
    $(".icon-wrapper-zoom").click(function (e) {
      e.preventDefault();

      $("body").css("overflow", "hidden");
      let self = $(this);
      let zoomImage = self.parent().find(".image-zoom");
      console.log(zoomImage);
      if (!zoomImage) return;

      modalZoomImage.css("display", "block");
      imageWillBeZoom.attr("src", zoomImage.attr("src"));
    });

    $("#modal-zoom-image > .close, #modal-zoom-image > .background").click(function (e) {
      e.preventDefault();

      modalZoomImage.css("display", "none");
      imageWillBeZoom.attr("src", "");
      $("body").css("overflow", overflowOrigin);
    });
  </script>
</html>
