@media (max-width: 670px) {
    .colum-title {
        width: 90% !important;
        margin: 0 auto 4vw;
    }

    .colum-folder {
        flex-wrap: wrap;
    }

    .color-top {
        height: 20vw !important;
    }

    .color-top h1 {
        font-size: 5vw !important;
    }

    .title-logo p {
        font-size: 3.8vw !important;
        margin: 1vw 0 0 0 !important;
    }

    .title-logo p span {
        font-size: 8vw !important;
    }

    .title-logo img {
        width: 18vw !important;
    }

    .box-left .stt {
        width: 8vw !important;
        height: 8vw !important;
        margin-right: 0 !important;
        margin-right: 2vw !important;
    }

    .colum-folder .colum .button-width-set {
        width: auto !important;
        margin: 3.5vw 5.5vw !important;
        box-shadow: 0px 0px 20px rgba(9, 42, 72, 0.06);
        border-radius: 2vw !important;
        padding: 4vw 3vw !important;
        margin-top: 0 !important;
    }

    .colum-folder .colum {
        justify-content: center !important;
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .colum-title {
        margin-top: 5vw;
    }

    .colum-title:first-child {
        margin-top: 0;
    }

    /* .colum-folder .colum-3:nth-child(3) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-3:nth-child(6) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-3:nth-child(9) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-3:nth-child(12) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-3:nth-child(15) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-3:nth-child(18) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-3:nth-child(21) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-2:nth-child(2) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-2:nth-child(4) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-2:nth-child(6) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-2:nth-child(8) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-2:nth-child(10) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-2:nth-child(12) {
        margin-bottom: 8vw !important;
    }

    .colum-folder .colum-2:nth-child(14) {
        margin-bottom: 8vw !important;
    } */

    .box-left div {
        margin-right: 0 !important;
    }

    .box-left div.title-orange {
        width: 18vw !important;
    }

    .box-left div.stt span {
        font-size: 4.6vw !important;
    }

    .box-right div.content span {
        font-size: 3.5vw !important;
    }

    .box-left div.title-orange span {
        font-size: 3.5vw !important;
    }

    .box-left div.title-descrp span {
        font-size: 3.8vw !important;
        width: 50vw !important;
    }
    .button-width-set .box-left div.title-descrp span{
        width: 64vw !important;
        padding-left: 1.5vw !important;
    }


    .colum-folder .colum .button-width-auto {
        margin: 3.5vw 5.5vw !important;
        margin-top: 0 !important;
        width: auto !important;
        box-shadow: 0px 0px 20px rgba(9, 42, 72, 0.06);
        border-radius: 2vw !important;
        padding: 4vw 2.2vw !important;
    }

    .content-pc {
        display: none !important
    }

    .content-sp {
        display: block !important
    }

    .title-top {
        height: 16vw !important;
    }

    .image_popup {
        width: 20vw !important;
        height: 12vw !important;
        bottom: 7vw !important;
        right: 18vw !important;
    }

    .image_popup p {
        font-size: 3.8vw !important;
    }


    .header {
        padding-bottom: 5vw;
    }

    .colum-title.active .status-drop{
        width: 4.5vw !important;
        height: 4.5vw !important;
    }
    
    .colum-title .status-drop{
        width: 4.5vw !important;
        height: 0.7vw !important;
    }
}

@media (min-width: 1080px) {
    html {
        overflow-y: scroll !important;
    }
}