@font-face {
    font-family: "mplus 1p bold";
    src: url("/_newAssets/fonts/mplus-1p-bold.ttf");
}

@font-face {
    font-family: "mplus 1p heavy";
    src: url("/_newAssets/fonts/mplus-1p-heavy.ttf");
}

@font-face {
    font-family: "mplus 1p medium";
    src: url("/_newAssets/fonts/mplus-1p-medium.ttf");
}

@font-face {
    font-family: "mplus 2p bold";
    src: url("/_newAssets/fonts/mplus-2p-bold.ttf");
}

@font-face {
    font-family: "mplus 2p heavy";
    src: url("/_newAssets/fonts/mplus-2p-heavy.ttf");
}

@font-face {
    font-family: "mplus 1p light";
    src: url("/_newAssets/fonts/mplus-1p-light.ttf");
}

.font_bold {
    font-family: "mplus 1p bold" !important;
}

.font_heavy {
    font-family: "mplus 1p heavy" !important;
}

#zoom-container {
    overflow-x: hidden !important;
}

#relative-container {
    overflow-x: hidden !important;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

html {
    overflow-x: hidden !important;
}

.bg-orange {
    background-color: #FFF6EF;
}
.bg-blue {
    background-color: #e9f3ff;
}

.color-top {
    height: 100px;
    background-color: #ff5437;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    padding-bottom: 100px;
    width: 100%;
}

.color-top h1 {
    color: white;
    font-size: 26px;
    position: absolute;
    margin-bottom: 0;
}

.title-logo {
    color: #ff5437;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    max-width: 1080px;
}

.title-logo p span {
    font-size: 30px;
    margin: 0 10px;
}

.title-logo p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-logo .title {
    width: 100%;
    margin: 10px 0 0 0;
}

.title-logo img {
    width: 80px;
}

.colum-title {
    width: 100%;
    background-color: #467dbe;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    justify-content: space-between;
}

.colum-title:hover {
    cursor: pointer;
}

.colum-title h2 {
    font-size: 20px;
    padding: 15px 30px;
    margin-bottom: 0;
}

.colum-folder {
    display: flex;
    max-width: 1080px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-2-collum {
    width: 46% !important;
}

.colum a {
    width: 100%;
}

.colum-folder .colum {
    width: 30%;
    height: auto;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    align-self: baseline;
}

/* .colum-folder .colum:nth-last-child(2) {
    width: 100%;
    height: 300px;
    background-color: blue;
} */

.colum-folder .colum a {
    text-decoration: none !important;
    color: black;
}

.colum-folder .colum .button-width-auto {
    width: 490px;
    height: 62px;
    background-color: gray;
    margin: 10px auto;
    background: #FBFBFB;
    box-shadow: 0px 0px 20px rgba(9, 42, 72, 0.06);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
}

.d-flex {
    display: flex;
}

.colum-folder .colum .button-width-set {
    width: 323px;
    height: 62px;
    background-color: gray;
    margin: 10px auto;
    background: #FBFBFB;
    box-shadow: 0px 0px 20px rgba(9, 42, 72, 0.06);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
}

.colum-folder .colum .button-width-set:hover {
    opacity: 0.6;
}

.colum-folder .colum .button-width-auto:hover {
    opacity: 0.6;
}

.box-left {
    align-items: center;
}

.box-left div {
    width: 40px;
    margin-right: 12px;
}

.box-left div.stt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.box-left div.stt span {
    font-size: 20px;
}

.box-left .stt-orange {
    background-color: #ff5437;
    color: #fff;
}

.box-left .stt-blue {
    background-color: #467dbe;
    color: #fff;
}

.box-left div.title-orange span {
    font-size: 16px;
    color: #ff5437;
    display: flex;
}

.box-left div.title-orange {
    width: 115px;
    display: flex;
    align-items: center;
}

.box-left div.title-descrp span {
    font-size: 16px;
    line-height: 1.2;
}

.box-left div.title-descrp {
    width: auto;
    display: flex;
    align-items: center;
}



.box-right div.content span {
    font-size: 16px;
}

.box-left div:last-child {
    margin-right: 12px;
}

.content-sp {
    display: none
}

.image_popup {
    background-image: url("/core/image/popup.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 97px;
    height: 58px;
    position: absolute;
    bottom: 26px;  
    right: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_popup p {
    color: #ff5437;
    margin-bottom: 0 !important;
}

/* ma  */

.button-width-set .box-left div.title-descrp {
    width: auto;
}

.button-width-set .box-left div.title-orange {
    width: 70px;
}

.colum-title.active .status-drop{
    background-image: url("/core/image/plus.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.colum-title .status-drop{
    background-image: url("/core/image/subtraction.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 5px;
}