@font-face{
  font-family: 'mplus-2p-regular';
  src:  url('../font/mplus-2p-regular-sub.eot');
  src:  url('../font/mplus-2p-regular-sub.eot?#iefix') format('embedded-opentype'),
        url('../font/mplus-2p-regular-sub.woff') format('woff'),
        url('../font/mplus-2p-regular-sub.ttf') format('truetype');
}
@font-face{
  font-family: 'mplus-2p-bold';
  src:  url('../font/mplus-2p-bold-sub.eot');
  src:  url('../font/mplus-2p-bold-sub.eot?#iefix') format('embedded-opentype'),
        url('../font/mplus-2p-bold-sub.woff') format('woff'),
        url('../font/mplus-2p-bold-sub.ttf') format('truetype');
}
@font-face{
  font-display: swap;
  font-family: 'mplus-2p-heavy';
  src:  url('../font/mplus-2p-heavy-sub.eot');
  src:  url('../font/mplus-2p-heavy-sub.eot?#iefix') format('embedded-opentype'),
        url('../font/mplus-2p-heavy-sub.woff') format('woff'),
        url('../font/mplus-2p-heavy-sub.ttf') format('truetype');
}

@font-face{
  font-family: "mplus 1p bold";
  src: url("./../../fonts/mplus-1p-bold.ttf");
}

.font-bold {
  font-family: "mplus 1p bold" !important;
}



img {
  /* zoom: 0.5; */
  vertical-align: middle;
  border:none;
}

h1, h2, h3, h4, h5,ul,li {
  padding: 0;
  margin: 0;
}

.dot {}
.dot:after{
    display:block;
    content:"";
    width:100%;
    height:12px;
    background: radial-gradient(circle farthest-side, #b0f4e6, #b0f4e6 50%, #fff 50%, #fff);
    background-size: 12px 12px;
}

body {
  /* zoom: 0.5; */
  padding: 35px 35px 0 35px;
  /* padding: 0; */
  margin: 0;
  background-image: url(../img/bg.png);
  background-size: 15px 15px;
  font-size: 28px;
  font-family: "mplus-2p-bold",sans-serif;
  line-height: 1.8;
  letter-spacing: 0.06em;
  min-width: 680px;
  color: #000000;
  text-align: center;
}
header {
  display: block;
  vertical-align: middle;
  background-color: #ffffff;
  width: 680px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 0;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
header h1 img {
  margin: 0 auto;
  margin-top: 62px;
}

header nav a{
  display: block;
}
header nav a:hover{
  opacity: 0.7;
}
header nav img {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 90px;
}

main {
  margin: 0 auto;
  display: block;
  width: 680px;
}
main section{
  display: block;
  vertical-align: middle;
  background-color: #ffffff;
  width: 580px;
  margin: 0 ;
  padding: 65px 50px  50px  50px;
  border-radius: 20px;
  margin-bottom: 35px;
  text-align: left;
}
main section.issueList{
  border-radius: 0 0 20px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 60px;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  display: block;
  width: auto;
}

.issueList{
    font-family: "mplus-2p-regular", sans-serif;
}
.issueList p {
  text-align: center;
  letter-spacing: 0;
  line-height: 1.5;
}
.issueList nav{
  display: block;
  margin-bottom: 60px;
}
.issueList nav:last-child{
  margin-bottom: 0;
}
.issueList nav ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 60px 0;
  /* border-bottom: dotted 6px #77d5cd; */
}

.issueList nav li {
  /* flex-basis: 50%; */
  width: 182px;
}
.issueList nav li:nth-child(2) {
  margin: 0 18px;
}
.issueList nav a {
  display: inline-block;
  padding: 0 0 60px 0;
}
.issueList nav a:hover{
  opacity: 0.7;
}
.issueList nav:last-child a {
  padding: 0;
}
.issueList nav ul a {
  padding: 0;
}


.descript ul{
  padding: 0;
  list-style: none;
}

.descript ul li{
  display: block;
  padding-left: 1.5em;
  text-indent: -1.6em;
  padding-bottom: 1.5em;
  font-family: "mplus-2p-bold";
  /* font-weight: bold; */
}
.descript ul li::before{
  content: "●";
  color: #b0f4e6;
  font-size: 50px;
  line-height: 100%;
  padding-right: 0.2em;
  vertical-align: bottom;
}
.descript ul li table{
  /* border-collapse: collapse; */
	border-spacing: 0;
  overflow: hidden;
  border-radius: 10px;
  border: solid 4px  #77d5cd;
  /* margin-left: 0.5em; */
  margin-top: 10px;
  font-size: 24px;
}
.descript ul li table th{
  background-color:  #77d5cd;
  color: #ffffff;
  font-weight: normal;
  font-family: "mplus-2p-heavy";
  border-bottom: dotted 4px #ffffff;
  text-indent: 0;
  padding: 15px;
  line-height: 100%;

}
.descript ul li table td{
  background-color:  #ffffff;
  /* color: #77d5cd; */
  font-weight: normal;
  font-family: "mplus-2p-heavy";
  border-bottom: dotted 4px #77d5cd;
  /* border-right: solid 4px #77d5cd; */
  text-indent: 0;
  padding: 15px;
  line-height: 100%;
}
.descript ul li table tr:last-child th,
.descript ul li table tr:last-child td{
  border-bottom: 0;
}

.howto ul{
  list-style-type: none;
  padding: 0 0 0 1em;
  margin: 0;
  text-indent: -1em;
}
.howto ul li{
  /* position: relative; */
  margin-bottom: 20px;
}
/* .howto ul li::before{
  content: "●";
  color: #000000;
  font-size: 26px;
  line-height: 100%;
  padding-right: 0.2em;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  left: -48px;
} */
/* .howto ul li::marker{
  color: #ffffff;
  font-size: 18px;
  position: relative;
} */


section.teach{
  text-align: center;
}

section.books{
  padding: 65px 40px 40px 40px;
  width: 600px;
}
section.books ul{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 602px;*/
    list-style-type: none;
    justify-content: space-between;
    align-content:space-between;
    /*margin-bottom: 46px;*/
}
section.books ul li{
  /* margin: 0 42px 0 0; */
  /* padding: 0 0 42px 0; */
  margin-bottom: 46px;
}
section.books ul li a, section.books ul li p{
  border: 1px solid #77d5cd;
  border-radius: 10px;
  display: block;
  padding: 30px;
  text-align: center;
  color: #77d5cd;
  text-decoration: none;
  line-height: 1.3;
  min-width: 217px;
  height: 218px;
  margin: 0px;
}
section.books ul li a:hover{
  /* opacity: 0.7; */
  background-color: #ecfffb;
}
section.books ul li a span, section.books ul li p span{
  display: block;
  margin-top: 20px;
}
section.books ul li a span.sl{
  margin-top: 40px;
}
footer{
  display: block;
  text-align: center;
  padding: 0 0px 40px 0px;
  margin: 0 auto;
  width: 680px;
}
a{
  transition: opacity 1s;
  transition: background-color 1s;
}
a:hover{
  /* opacity: 0.2; */
  transition: opacity 0.3s;
  -webkit-transition: opacity 1s;

  transition: background-color 0.3s;
}

.link-network {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;
}

.all-link-network{
  border: 4px solid rgb(210, 210, 210);
  padding: 20px 40px;
  border-radius: 20px;
}

.link-network .title { 
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.link-network .title h1 {
  font-size: 22px; 
  color: rgb(130, 130, 130);
  font-family: "mplus-2p-bold";
  font-weight: unset;
}

.all-link {
  display: flex;
  justify-content: center;
}

.all-link img{
  width: 70px;
  margin: 0 30px;
}



@media screen and (min-device-width: 769px){
  /* body{zoom: 0.75;} */
  header,main,footer{zoom: 0.75;}
  body{
      background-size: 10px 10px;
  }
}
