.search .title span {
  font-size: 14px;
  letter-spacing: 3.5px;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --corlor-border-sc-1: #489ae1;
  --color-btn-orange: #ff9e21;
  --color-boder-btn-orange: #ffbb64;
  --color-text-active: #309bd5;
  --color-boder-table-gray: #e6e6e6;
  --color-btn-disable: #e6e6e6;
  --color-td-table-hover: #ecf5fc;
  --bg-section-gray-double: #489ae1;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("../../../_newAssets/fonts/mplus-1p-bold.ttf");
}

@font-face {
  font-family: "mplus 1p regular";
  src: url("../../../_newAssets/fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../../_newAssets/fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../../_newAssets/fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../../_newAssets/fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../../_newAssets/fonts/mplus-1p-light.ttf");
}

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_regular {
  font-family: "mplus 1p regular" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

h1,
p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

[class^="col-"] {
  padding: 0 !important;
}

a {
  color: black;
}

h1,
h3 {
  margin: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.section-product ul li:before {
  content: "\2022 ";
  color: gray;
  padding-right: 0.5em;
}

nav.link-resource {
  background-color: #e6e6e6;
}

nav.link-resource {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
}

nav.link-resource .all-link a {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
  color: black;
  font-size: 12px;
}

nav.link-resource .all-link a:hover {
  opacity: 0.5;
}

nav.link-resource .all-link a:last-child:hover {
  opacity: 1;
}

nav.link-resource .all-link a:last-child {
  text-decoration: none;
}

nav.link-resource .all-link span {
  font-size: 15px;
  margin: 0px 8px;
}
.modal-show {
  background-image: url(../../../_newAssets/image/common/bg_title.png);
}
.search-container .search-title {
  font-size: 24px;
  margin: 0;
  letter-spacing: 3.5px;
  position: relative;
  top: -2px;
  left: -3px;
}

.search {
  height: 100px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.search-img {
  width: 50px;
  margin-right: 20px;
}

/* section-1  */
section.section-1 {
  max-width: 100%;
  margin: auto;
  margin-bottom: 50px;
  height: auto;
  background-image: url(../../../_newAssets/image/supporttools/index/bg-filter.jfif);
  background-size: cover;
  background-repeat: no-repeat;
}

section.section-1 .sc1-lorem {
  font-size: 1.2vw;
  letter-spacing: 1px;
}

section.section-1 .sc1-content {
  padding: 3vw 0 3vw 4vw;
  letter-spacing: 0.5vw;
  color: white;
}
section.section-1 .sc1-title {
  margin-bottom: 2vw;
  font-size: 3vw;
  letter-spacing: 1px;
}
.img1 {
  position: absolute;
  width: 15%;
  margin-left: 82vw;
  margin-top: -26vw;
}
.img2 {
  position: absolute;
  width: 15%;
  margin-left: 64vw;
  margin-top: -17vw;
}
.img3 {
  position: absolute;
  width: 15%;
  margin-left: 78vw;
  margin-top: -3vw;
}
section.section-1 .btn-out {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 0vw;
  margin-bottom: 4vw;
  margin-left: 3vw;
}
section.section-1 .sc1-button {
  width: 37%;
  display: flex;
  justify-content: space-between;
}
section.section-1 .btn-out .icon-arr img {
  width: 2.3px;
  border-radius: 5px;
  padding: 0.7px;
}

section.section-1 .btn-out .btn-center:hover .icon-arr img {
  filter: hue-rotate(190deg);
}

section.section-1 .btn-out .btn-center:hover {
  background-color: var(--color-btn-active);
  border: 7px solid var(---color-boder-btn);
  cursor: pointer;
}

section.section-1 .btn-out span {
  font-size: 1.5vw;
  margin-left: 2vw;
  letter-spacing: 1px;
}

section.section-1 .btn-out .icon-arr img {
  width: 1.3vw;
}
section.section-1 .btn-out .icon-arr {
  width: 0.5vw;
  height: 0.5vw;
  background-color: white;
  padding: 1.5vw;
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.section-1 .lorem {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 3vw 0;
}

section.section-1 .btn-center {
  background-color: var(--color-bg-btn-orange);
  width: 30vw;
  height: 7vw;
  border-radius: 50px;
  border: 0.7vw solid var(--color-boder-btn-orange);
  color: white;
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 1.5vw;
  box-shadow: rgb(45 45 45 / 25%) 0px 4.8px 4.8px 0px;
}

section.section-1 .btn-center .lorem-btn {
  display: flex;
  align-items: center;
}
/* section-1  */

/* section 2 */

.categories {
  display: flex;
  background-color: #e6e6e6;
  border-bottom: 6px #489ae1 solid;
  flex-wrap: wrap;
}

.categories .all-box-title {
  width: 1080px;
  margin: auto;
  justify-content: center;
  margin-bottom: -1px;
}

.category-wapper {
  display: flex;
  background-color: white;
  border-radius: 25px;
  margin: 1vw;
  font-size: 14px;
  align-items: center;
}

.category-wapper:hover {
  cursor: pointer;
}

.cate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: orange;
  width: 20px;
  height: 20px;
  margin-right: 1vw;
}

.cate-btn img {
  width: 10px;
  transform: rotate(90deg);
  filter: brightness(100);
}

.category-wapper .body-bt {
  display: flex;
  padding: 13px 35px 13px 15px;
  align-items: center;
}

.category-wapper .body-bt p {
  font-size: 15px;
}

.category-wapper.active .but {
  border-radius: 20px;
  background-color: white;
  width: 20px;
  height: 20px;
}

.category-wapper.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #489ae1;
  color: white;
  margin-bottom: 0;
  border-bottom: 1vw solid #489ae1;
}

.category-wapper.active .cate-btn {
  border-radius: 20px;
  padding: 5px;
  background-color: white;
}

.category-wapper.active .cate-btn img {
  filter: none;
}

/* section product  */

section.section-product .title-1 h1 {
  font-size: 2.5vw;
  text-align: center;
  margin-bottom: 10px;
}
section.section-product .lorem-1 span {
  font-size: 1.8vw;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
section.section-product .title-section-product {
  position: relative;
  overflow: hidden;
  margin: 60px 0 40px 30px;
}

section.section-product .bg-radius {
  background-image: url(../../../_newAssets/image/supporttools/index/bg-radius.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 6vw;
  position: absolute;
  left: 4vw;
  z-index: -1;
}

section.section-product .title-section-product .bg-logo {
  background-color: var(--corlor-border-sc-1);
  width: 8vw;
  height: 8vw;
  border-radius: 150px;
  border: 0.6vw solid white;
}

section.section-product .title-section-product .bg-logo img {
  width: 4vw;
}

section.section-product .title-section-product h1 {
  font-size: 1.7vw;
  letter-spacing: 0.3vw;
  margin: 2vw;
}

section.section-product .title h3 {
  font-size: 1.2vw;
  letter-spacing: 0.2vw;
  margin-left: 2vw;
}

section.section-product .title span {
  background-color: #a7a7a7;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  margin: 3px;
}

section.section-product .title span {
  font-size: 14px;
}

section.section-product .title img {
  width: 80px;
}

section.section-product .all-box {
  display: flex;
  width: 250px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 8px;
}

section.section-product .all-box a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  margin-bottom: 28px;
}

section.section-product .all-box a.box-gray {
  background-color: #f2f2f2;
}

section.section-product .all-box .box {
  width: 250px;
  border-radius: 20px;
  background-color: white;
  border: 0.5px solid rgb(220, 220, 220);
  position: relative;
  padding-bottom: 1px;
  box-shadow: 0 6.4px 6.4px 0 rgb(106 106 106 / 25%);
}

section.section-product .all-box .box.box-gray {
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

section.section-product .all-box .box.box-gray .title-top {
  background-color: #f2f2f2;
}

section.section-product .all-box .box.box-gray .image {
  height: 52.6125px;
}

section.section-product .all-box .box img.img-title {
  position: absolute;
  top: -9px;
  left: 203.2px;
  width: 33px;
}

section.section-product .all-box .box .title-top {
  display: flex;
  background-color: var(--corlor-border-sc-1);
  align-items: center;
  width: 100%;
  /* height: 48px; */
  padding: 15px 0px;
  border-radius: 20px 20px 0 0;
  color: white;
}

section.section-product .all-box .box .title-top h1 {
  font-size: 15px;
  margin-left: 11px;
  width: 150px;
  line-height: 22px;
  align-self: flex-start;
}

section.section-product .all-box .box .title-top.no-img h1 {
  margin-left: 10px;
  width: 190px;
  line-height: 22px;
  align-self: flex-start;
}

section.section-product .all-box .box .title-top .bg-img {
  background-color: var(--color-bg-btn-orange);
  height: 24px;
  width: 24px;
  border-radius: 80px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

section.section-product .all-box .box .body-all-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  height: 100%;
}

section.section-product .all-box .box .body-all-box .all-box-small {
  justify-content: center;
  align-self: flex-start;
}

section.section-product .all-box .box .body-all-box .image {
  display: flex;
  width: 190px;
  margin: 25px;
}

section.section-product .all-box .box .body-all-box .image img {
  width: 100%;
  height: 52.6px;
}

section.section-product .all-box .box .body-all-box .lorem {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 0 0 20px 20px;
  width: 92%;
  padding: 10px;
  height: 120px;
}

section.section-product .all-box .box .body-all-box .lorem ul li {
  font-size: 14px;
  display: flex;
}

ul li:first-child::before {
  content: "";
  padding: 0;
}

section.section-product .all-box .box .body-all-box .lorem ul li:first-child {
  color: gray;
  position: relative;
  left: -5px;
}

section.section-product .all-box .lorem-span {
  display: flex;
  align-items: center;
  width: 80%;
}

section.section-product .all-box .lorem-span span {
  font-size: 2.65px;
  letter-spacing: -0.25px;
  padding: 1px 0;
}

/* section product 2 */
section.section-product-2 .title-section-product {
  position: relative;
  overflow: hidden;
  margin: 60px 0 40px 30px;
}
section.section-product-2 {
  margin: auto;
  margin-bottom: 80px;
}
section.section-product-2 .bg-radius {
  background-image: url(../../../_newAssets/image/supporttools/index/bg-radius.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 6vw;
  position: absolute;
  left: 4vw;
  z-index: -1;
}

section.section-product-2 .title-section-product .bg-logo {
  background-color: var(--corlor-border-sc-1);
  width: 8vw;
  height: 8vw;
  border-radius: 150px;
  border: 0.6vw solid white;
}

section.section-product-2 .title-section-product .bg-logo img {
  width: 4vw;
}

section.section-product-2 .title-section-product h1 {
  font-size: 1.7vw;
  letter-spacing: 0.3vw;
  margin: 2vw;
}

section.section-product-2 .title h3 {
  font-size: 1.2vw;
  letter-spacing: 0.2vw;
  margin-left: 2vw;
}

section.section-product-2 .title span {
  background-color: #a7a7a7;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  margin: 3px;
}

section.section-product-2 .title span {
  font-size: 14px;
}

section.section-product-2 .title img {
  width: 80px;
}

/* section product 2 */

.row {
  display: flex;
  margin-left: 40px;
  margin-bottom: 20px;
}
.btn-file.btn-gray {
  background-color: var(--color-btn-orange);
  width: 27vw;
  height: auto;
  padding: 1.5vw;
  border-radius: 50vw;
  color: white;
  margin-right: 2vw;
}
.icon1 {
  background-color: white;
  width: 2.5vw;
  padding: 0.7vw;
  border-radius: 50vw;
  margin-right: 1vw;
}
.icon2 {
  display: none;
  background-color: white;
  width: 2.5vw;
  padding: 0.7vw;
  border-radius: 50vw;
  margin-right: 1vw;
}
.btn-file.btn-gray span {
  font-size: 1.5vw;
}
.btn-file.btn-gray:hover {
  background-color: gray;
}
.btn-file.btn-gray:hover .icon2 {
  display: block;
}
.btn-file.btn-gray:hover .icon1 {
  display: none;
}
/* section-gray-double */

section.section-gray-double {
  background-color: var(--bg-section-gray-double);
  width: 100%;
  height: auto;
}

section.section-gray-double .title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 60px 0 40px 0;
}

section.section-gray-double .title h1 {
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
}

section.section-gray-double .all-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

section.section-gray-double .all-box .box-1 {
  background-color: white;
  width: 330px;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 20px;
  box-shadow: rgb(82 177 255) 0 -4.8px 4.8px 3.2px, rgb(54 114 166) 0 4.8px 3.2px 1.6px;
}

section.section-gray-double .all-box a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

section.section-gray-double .all-box .box-1 .icon-arrow {
  width: 19.2px;
  height: 19.2px;
  background-color: var(--color-bg-btn-orange);
  padding: 16px;
  border-radius: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  position: relative;
  /* top: -4px; */
}

/* section.section-gray-double .all-box a:first-child .box-1 .icon-arrow {
  margin-right: 10px;
} */

section.section-gray-double .all-box .box-1:hover .icon-arrow {
  background-color: var(--color-btn-active);
}

section.section-gray-double .all-box .box-1:hover {
  box-shadow: 0 0 1.6px 8px #368cd7 inset, rgb(82 177 255) 0 -4.8px 4.8px 3.2px, rgb(54 114 166) 0 4.8px 3.2px 1.6px;
}

section.section-gray-double .all-box .box-1 .icon-arrow img {
  width: 16px;
}

section.section-gray-double .all-box .box-1 .image img {
  width: 144px;
  position: relative;
  top: -10px;
}

section.section-gray-double .all-box .box-1 .title-box-1 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 75px;
  margin-left: 50px;
}

section.section-gray-double .all-box .box-1 .title-box-3-1 h1 {
  position: relative;
  top: 12px;
}

section.section-gray-double .all-box .box-1 .title-box-2 {
  margin-left: 40px;
}

section.section-gray-double .all-box .box-1 .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.section-gray-double .all-box a.first .box-1 .title-box-1 .lorem {
  position: relative;
  /* top: -16px; */
}

section.section-gray-double .all-box a.second .box-1 .title-box-1 .lorem {
  position: relative;
  /* top: -16px; */
}

section.section-gray-double .all-box .box-1 .title-box-1 span {
  font-size: 14px;
}

section.section-gray-double .all-box .box-1 .title-box-1 h1 {
  font-size: 22px;
}

section.section-gray-double .all-box .box-1 .title-box-3-1 {
  margin-left: 25px;
}

/* section-5  */

section.section-5 .title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2px;
}

section.section-5 .title img {
  width: 48px;
  margin-right: 8px;
}
section.section-5 .title h1 {
  font-size: 24px;
  margin-bottom: 0 !important;
  letter-spacing: 3px;
}

section.section-5 .lorem {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 3px 0;
}
section.section-5 .lorem span {
  font-size: 13.5px;
  letter-spacing: 1px;
  line-height: 28px;
}

section.section-5 .btn-out {
  display: flex;
  width: 100%;
  justify-content: center;
}

section.section-5 .btn-out .icon-arr img {
  width: 2.3px;
  border-radius: 5px;
  padding: 0.7px;
}

section.section-5 .btn-out .btn-center:hover .icon-arr img {
  filter: hue-rotate(190deg);
}

section.section-5 .btn-out .btn-center:hover {
  background-color: var(--color-btn-active);
  border: 7px solid var(---color-boder-btn);
  cursor: pointer;
}

section.section-5 .btn-out span {
  font-size: 2.2vw;
  margin-left: 3vw;
  letter-spacing: 3px;
}

section.section-5 .btn-out .icon-arr img {
  width: 1.3vw;
}
section.section-5 .btn-out .icon-arr {
  width: 0.5vw;
  height: 0.5vw;
  background-color: white;
  padding: 1.5vw;
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.section-5 .lorem {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 3vw 0;
}
section.section-5 {
  display: flex;
  flex-wrap: wrap;
  padding: 3vw 0 5vw 0;
}

section.section-5 .btn-center {
  background-color: var(--color-bg-btn-orange);
  width: 30vw;
  height: 8vw;
  border-radius: 50px;
  border: 0.7vw solid var(--color-boder-btn-orange);
  color: white;
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 1.5vw;
  box-shadow: rgb(45 45 45 / 25%) 0px 4.8px 4.8px 0px;
}

section.section-5 .btn-center .lorem-btn {
  display: flex;
  align-items: center;
}

/* title no-search  */

.result-search-ct {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100px;
  font-size: 18px;
  letter-spacing: 1px;
}

/* section-5  */

@media (min-width: 575px) {
  .bg-section-tabs {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  section.section-product .all-box {
    display: flex;
    width: 560px;
    margin: auto;
  }

  section.section-product .all-box a {
    margin-left: 13px;
    margin-right: 13px;
  }

  section.section-gray-double .all-box {
    width: 720px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  section.section-3 .all-box {
    width: 800px;
    margin: auto;
  }

  section.section-product .all-box .box {
    margin-top: 0;
  }

  section.section-product .all-box {
    display: flex;
    width: 840px;
    margin: auto;
  }

  .col-lg-4 {
    flex: 0 0 30% !important;
  }

  section.section-product .all-box a {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (min-width: 1200px) {
  section.section-1 .sc1 {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  section.section-1 .sc1-content {
    padding: 60px 0 60px 30px;
    letter-spacing: 3px;
    color: white;
  }
  section.section-1 .sc1-title {
    margin-bottom: 30px;
    font-size: 36px;
  }
  section.section-1 .sc1-lorem {
    font-size: 16px;
  }
  section.section-product .title-1 h1 {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
  }
  section.section-product .lorem-1 span {
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  section.section-1 .sc1-button {
    width: 34%;
    display: flex;
  }
  .img1 {
    width: 210px;
    position: absolute;
    margin-top: -320px;
    margin-left: 875px;
  }
  .img2 {
    width: 185px;
    position: absolute;
    margin-top: -250px;
    margin-left: 650px;
  }
  .img3 {
    width: 185px;
    position: absolute;
    margin-top: -50px;
    margin-left: 820px;
  }
  section.section-1 .box-center .btn-center .lorem-btn span {
    font-size: 20px;
    margin-left: 50px;
  }
  section.section-1 .sc1-button {
    margin-left: -30px;
  }
  .bg-section-1 .btn-center {
    background-color: var(--color-bg-btn-orange);
    width: 309px;
    height: 85px;
    border-radius: 50px;
    border: 7px solid var(--color-boder-btn-orange);
    padding: 20px;
    top: 350px;
    left: 385px;
  }

  section.section-1 .box-center .btn-center .icon-arr {
    margin-right: 10px;
    width: 8px;
    height: 8px;
    padding: 15px;
  }

  section.section-1 .box-center .btn-center .icon-arr img {
    width: 20px;
  }

  section.section-1 .btn-center {
    display: flex;
    align-items: center;
    width: 350px;
    height: 80px;
    border-radius: 160px;
    border: 7px solid var(--color-boder-btn-orange);
    padding: 18px;
    box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
  }

  section.section-1 .btn-out span {
    font-size: 18px;
    letter-spacing: 1px;
  }

  section.section-1 .title h1 {
    font-size: 24px;
    margin-bottom: 0 !important;
    letter-spacing: 3px;
  }

  section.section-1 .title img {
    width: 48px;
    margin-right: 8px;
  }

  section.section-1 .lorem {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 32px 0 48px 0;
  }

  section.section-1 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  section.section-1 .btn-out {
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 30px;
  }
  section.section-1 .btn-out .icon-arr img {
    width: 26px;
    padding: 8px;
  }

  section.section-1 .btn-out .icon-arr {
    width: 32px;
    height: 32px;
    padding: 8px;
  }

  section.section-1 .btn-out span {
    margin-left: 16px;
  }

  section.section-product .all-box a {
    margin-left: 13px;
    margin-right: 13px;
  }

  section.section-product .all-box {
    width: 100%;
  }

  section.section-product {
    width: 1105px;
    margin: auto;
    margin-bottom: 60px;
  }
  section.section-product-2 {
    width: 1105px;
  }
  .col-xl-3 {
    flex: 0 0 22.6% !important;
    max-width: 23%;
  }

  section.section-gray-double .all-box {
    width: 1080px;
    margin: auto;
  }

  /* section contact  */

  /* section-5  */

  section.section-5 .box-center .btn-center .lorem-btn span {
    font-size: 20px;
    margin-left: 50px;
  }

  .bg-section-4 .btn-center {
    background-color: var(--color-bg-btn-orange);
    width: 304px;
    height: 85px;
    border-radius: 50px;
    border: 7px solid var(--color-boder-btn-orange);
    padding: 20px;
    top: 350px;
    left: 385px;
  }

  section.section-5 .box-center .btn-center .icon-arr {
    margin-right: 10px;
    width: 8px;
    height: 8px;
    padding: 15px;
  }

  section.section-5 .box-center .btn-center .icon-arr img {
    width: 20px;
  }

  section.section-5 .btn-center {
    display: flex;
    align-items: center;
    width: 304px;
    height: 80px;
    border-radius: 160px;
    border: 7px solid var(--color-boder-btn-orange);
    padding: 18px;
    box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
  }

  section.section-5 {
    padding: 50px 0 80px 0;
  }

  section.section-5 .btn-out span {
    font-size: 20px;
  }

  section.section-5 .title h1 {
    font-size: 24px;
    margin-bottom: 0 !important;
    letter-spacing: 3px;
  }

  section.section-5 .title img {
    width: 48px;
    margin-right: 8px;
  }

  section.section-5 .lorem {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 32px 0 48px 0;
  }

  section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  section.section-5 .btn-out .icon-arr img {
    width: 32px;
    padding: 8px;
  }

  section.section-5 .btn-out .icon-arr {
    width: 32px;
    height: 32px;
    padding: 8px;
  }

  section.section-5 .btn-out span {
    margin-left: 40px;
  }

  .row1 {
    display: flex;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .row2 {
    display: flex;
    margin-left: 41px;
  }
  .btn-file.btn-gray {
    background-color: var(--color-btn-orange);
    width: 320px;
    height: auto;
    padding: 15px;
    border-radius: 50px;
    color: white;
    margin-right: 30px;
  }
  .icon1 {
    background-color: white;
    width: 30px;
    padding: 9px;
    border-radius: 30px;

    margin-right: 20px;
  }
  .icon2 {
    display: none;
    background-color: white;
    width: 30px;
    padding: 9px;
    border-radius: 30px;

    margin-right: 20px;
  }
  .btn-file.btn-gray:hover {
    background-color: gray;
  }
  .btn-file.btn-gray:hover .icon2 {
    display: block;
  }
  .btn-file.btn-gray:hover .icon1 {
    display: none;
  }
  .btn-file.btn-gray span {
    font-size: 18px;
    letter-spacing: 1px;
  }
}
