@media (max-width: 375px) {
  html {
    font-size: 12px;
  }

  .category-wapper-active {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  nav.link-resource .all-link a:last-child {
    text-decoration: none;
  }

  section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  section.section-5 .btn-out span {
    font-size: 2vw;
    left: 2vw;
    margin-left: 2vw;
    letter-spacing: 0.2vw;
    color: white;
  }
  section.section-gray-double .title h1 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
  }
  .header-img {
    width: 47px;
    height: 42px;
    margin-right: 14px;
    margin-left: -17px;
  }
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .category-wapper-active {
    background-color: #489ae1;
    color: white;
    font-size: 14px;
    margin-bottom: 9px;
    border-bottom: 0px solid #489ae1;
  }
  .category-wapper p {
    margin: 0;
    padding: 12px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
  }
  .cate-btn {
    position: absolute;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .circle-icon img {
    margin-top: -0.7vw;
    padding: 0.1vw;
  }
}
@media (min-width: 376px) and (max-width: 575.99px) {
  html {
    font-size: 12px;
  }

  .category-wapper-active {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .category-wapper p {
    margin: 0;
    padding: 12px 17px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
  }
  .category-wapper-active {
    background-color: #489ae1;
    color: white;
    font-size: 14px;
    margin-bottom: 9px;
    border-bottom: 0px solid #489ae1;
  }
  .cate-btn {
    position: absolute;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }
  section.section-gray-double .title h1 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
  }
  section.section-4 .all-box {
    justify-content: center;
  }

  section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  section.section-5 .btn-out span {
    font-size: 2vw;
    left: 2vw;
    margin-left: 2vw;
    letter-spacing: 0.2vw;
    color: white;
  }
  .header-img {
    width: 47px;
    height: 42px;
    margin-right: 14px;
    margin-left: -17px;
  }
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .circle-icon img {
    margin-top: -0.7vw;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .category-wapper p {
    margin: 0;
    padding: 12px 13px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 40px;
  }
  .cate-btn {
    position: absolute;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }

  section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  section.section-5 .btn-out span {
    font-size: 2vw;
    left: 2vw;
    margin-left: 3vw;
    letter-spacing: 0.2vw;
    color: white;
  }
  .header-img {
    width: 47px;
    height: 42px;
    margin-right: 14px;
    margin-left: -17px;
  }
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .circle-icon img {
    margin-top: -0.7vw;
  }
}
@media (min-width: 769px) and (max-width: 788px) {
  .category-wapper p {
    margin: 0;
    padding: 12px 14px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 38px;
  }

  section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  section.section-5 .btn-out span {
    font-size: 2vw;
    left: 2vw;
    margin-left: 3vw;
    letter-spacing: 0.2vw;
    color: white;
  }
  .header-img {
    width: 47px;
    height: 42px;
    margin-right: 14px;
    margin-left: -17px;
  }
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .bg-header {
    padding: 30px 50px;
  }
}
@media (min-width: 789px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  section.section-5 .btn-out span {
    font-size: 2vw;
    left: 2vw;
    margin-left: 3vw;
    letter-spacing: 0.2vw;
    color: white;
  }
  .header-img {
    width: 47px;
    height: 42px;
    margin-right: 14px;
    margin-left: 0px;
  }
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .bg-header {
    padding: 30px 50px;
  }

  section.section-footer .all-box .box-1 .lorem-ft span {
    margin-left: 15px;
  }
  section.section-footer .all-box .box-1 .title-ft img {
    margin-left: 15px;
  }
  section.section-footer .all-box .box-1 .title-ft span {
    margin-left: 15px;
    margin-right: -10px;
  }
}

@media (min-width: 1025px) and (max-width: 1339.98px) {
  html {
    font-size: 12px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 30px;
  }

  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .breadcrumb {
    padding: 1rem 50px;
  }
  .bg-header {
    padding: 30px 50px;
  }

  section.section-5 .lorem span {
    font-size: 13.5px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  section.section-5 .btn-out span {
    font-size: 20px;
    left: 2vw;
    margin-left: 0;
    letter-spacing: 0.2vw;
    color: white;
  }
  .header-img {
    width: 47px;
    height: 42px;
    margin-right: 14px;
    margin-left: -12px;
  }
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media (min-width: 1340px) {
  html {
    font-size: 12px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 30px;
  }

  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .breadcrumb {
    padding: 1rem 50px;
  }
  .bg-header {
    padding: 30px 50px;
  }
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 1700px) {
  .header-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: -93px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media (min-width: 350px) and (max-width: 575.99px) {
  .circle-icon img {
    width: 50px;
    padding: 6.56px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 990.98px) {
  .cate-btn {
    position: absolute;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .categories {
    padding: 0rem 2vw;
  }
  section.section-5 .btn-out span {
    font-size: 2vw;
    left: 2vw;
    margin-left: 3vw;
    letter-spacing: 0.2vw;
    color: white;
  }
}
@media (min-width: 1151px) and (max-width: 1250px) {
  .categories {
    padding: 0rem 0px;
  }
}

@media (min-width: 1030px) {
  .bg-header {
    padding: 2rem 70px !important;
  }
}
@media (min-width: 1100px) {
  .bg-header {
    padding: 2rem 70px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .circle-icon img {
    width: 50px;
    padding: 7.56px;
  }
}
@media (max-width: 670px) {
  .title-img {
    width: 9vw !important;
    margin-right: 3vw !important;
  }

  .title-container .title span {
    font-size: 3.5vw !important;
    letter-spacing: 0;
  }

  .title-container .search-title {
    font-size: 6vw !important;
    letter-spacing: 0;
  }
  .title-bg {
    padding: 0 4.8vw;
    height: 20vw;
  }
  .categories {
    display: none;
  }
  .box-2-sp {
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 0;

    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .box-2-sp .title-select {
    width: 100%;
    background-color: #e6e6e6;
    /* border-radius: 20px 20px 0 0; */
    height: 13.3vw;
  }
  .box-2-sp h1.title {
    display: flex;
    padding-right: 0;
    font-size: 1.5vw;
    width: 9vw;
    align-self: flex-start;
    font-size: 4.3vw;
    width: 100%;
    padding: 3vw 0 3vw 6vw;
    margin: 0;
    height: 100%;
    align-items: center;
  }
  .checkBox-item .bg-checkBox {
    border-radius: 8vw;
    border: none;
    color: white;
  }
  section.section-gray-double .title {
    padding: 9vw 18vw 7vw 18vw !important;
  }
  section.section-gray-double .title h1 {
    line-height: 1.5;
    flex-direction: column;
    text-align: center;
    font-size: 5.6vw !important;
    letter-spacing: 0.6vw !important;
  }
  section.section-gray-double .all-box .box-1 {
    border-radius: 5vw !important;
    width: 42vw !important;
    height: 57vw !important;
    padding: 0 !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-1 h1 {
    padding-top: 0vw;
    font-size: 4.2vw !important;
    letter-spacing: 0.3vw !important;
    line-height: 1.6;
  }
  section.section-gray-double .all-box .box-1 .image img {
    width: 28vw !important;
    top: 0 !important;
  }
  section.section-gray-double .all-box .box-1 .icon-arrow {
    width: 6vw !important;
    height: 6vw !important;
    padding: 1vw;
    margin: 0 !important;
    margin-right: 1.5vw !important;
    top: 0.3vw !important;
  }
  section.section-gray-double .all-box .box-1 .icon-arrow img {
    width: 2vw !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-3-1 h1 {
    top: 0;
    flex-direction: column;
  }
  section.section-gray-double .all-box {
    /* justify-content: space-around; */
    width: 90% !important;
    margin: auto !important;
    padding-bottom: 2vw !important;
    gap: 0 5.6vw;
    display: flex;
    flex-wrap: wrap;
  }
  section.section-gray-double .all-box a {
    width: auto !important;
    padding: 0;
  }
  .lorem-pc {
    display: none;
  }
  .lorem-sp {
    display: block;
  }
  section.section-gray-double .all-box .box-1 .title-box-1 {
    align-items: flex-start;
    padding: 4.2vw 1vw 2vw 4vw !important;
    margin: 0 !important;
    height: 10vw !important;
  }
  .btn-orange {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 13vw;
  }
  .box-2-sp .title-select .bg-btn-select-sp {
    background-color: #c1c1c1;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 0 20px 0 0; */
  }
  .box-2-sp .title-select .bg-btn-select-sp img {
    width: 3.2vw;
  }
  .box-2-sp .form-btn-sp {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 1vw;
    border-left: 0.2vw solid rgb(237, 237, 237);
    margin: 0;

    border: none;
    width: 100%;
    justify-content: center;
  }
  .box-2-sp .form-btn-sp .btn-1 {
    /* padding-left: 16px; */

    margin: 2.5vw 4vw;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 90vw;
  }
  .box-2-1-sp .form-btn-sp .btn-1:nth-child(1) {
    /* border-bottom: 1px solid rgb(220, 220, 220); */
    padding-bottom: 3vw;
  }
  .box-2-sp .form-btn-sp .btn-1 .big-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 12vw;
  }

  .box-2-sp .form-btn-sp .btn-1 .btn-1-2 .bg-img {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50px;
    margin-right: 1vw;
    transform: rotate(90deg);
    border-radius: 20px;
    background-color: white;
  }
  .box-2-sp .form-btn-sp .btn-1 .big-box .btn-1-2 .bg-img {
    margin-right: 32vw;
  }
  .box-2-sp .form-btn-sp .btn-1 .big-box .btn-1-2 {
    width: 90vw;
    padding: 3.733vw 3.2vw;
  }
  .box-2-sp .form-btn-sp .btn-1 .big-box {
    margin-top: 2vw;
  }
  .box-2-sp .form-btn-sp .btn-1 .btn-1-2 h1 {
    z-index: 10;
    margin-bottom: 0;
    font-size: 14px;
  }
  .box-2-sp .form-btn-sp .btn-1 .small-box {
    display: flex;
    flex-wrap: wrap;
  }

  .box-2-sp .form-btn-sp .btn-1 label {
    padding: 3vw 1vw;
    text-decoration: none;
    color: #489ae1;
    display: flex;
    align-items: center;
    border-radius: 8vw;
    font-size: 3.2vw;
    box-shadow: 0 0.2vw 0.3vw 0.1vw rgb(89 89 89 / 25%);
    margin-bottom: 5px;
    margin-left: 0;
    /* margin-right: 5px; */
  }
  /* .box-2-sp .form-btn-sp .btn-1 .small-box label{
      justify-content:center;
    } */
  .box-2-sp .form-btn-sp .small-box .btn-1-2 {
    margin-right: 2.4vw;
    margin-top: 2vw;
  }
  .box-2-sp .form-btn-sp .small-box .box-small:nth-child(even) {
    margin-right: 2vw;
  }
  .box-2-sp .form-btn-sp .small-box .box-big:last-child {
    margin-right: 0;
  }
  .box-2-sp .form-btn-sp .small-box .box-small {
    width: 27vw;
  }
  .box-2-sp .form-btn-sp .small-box .box-big {
    width: 43.5vw;
    margin-top: 3vw;
  }
  .box-2-sp .form-btn-sp .btn-1 .btn-1-2 h1 {
    z-index: 10;
    color: white;
    margin-bottom: 0;
    font-size: 3.5vw;
  }
  .checkBox-item .check-box:checked ~ h1 {
    color: #222222 !important;
  }
  .checkBox-item .check-box:checked ~ .bg-img img {
    filter: brightness(100) !important;
    width: 2vw;
  }
  .checkBox-item .check-box ~ .bg-img img {
    /* filter: brightness(100) !important; */
    width: 2vw;
    /* filter:  hue-rotate(90deg)!important; */
  }

  section.table .td-table .tab-right {
    padding-left: 9vw;
  }

  section.table .td-table a span {
    font-size: 3.5vw;
  }

  section.section-gray-double .title h1 {
    font-size: 4vw;
  }
  section.table .td-table .col-9 {
    padding-left: 2vw;
  }
  section.table .btn-gray-in-table .bg-btn {
    background-color: gray;
    color: white;
    padding: 4vw;
    border-radius: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vw;
  }
  .circle-icon {
    width: 6vw;
    height: 6vw;
  }  
  section.table .btn-gray-in-table .bg-btn span {
    letter-spacing: 3px;
    font-size: 4vw;
  }
  section.section-5 .title img {
    width: 8.6667vw;
  }
  section.section-5 .title h1 {
    font-size: 4.8vw !important;
    margin-bottom: 0 !important;
    letter-spacing: 0.5vw !important;
  }
  .span-mobile {
    display: block;
    font-size: 3.7vw !important;
  }
  /* fiter */
  .filter-sp {
    padding: 0 5vw;
    /* height: 45px; */
  }
  .filter-sp p {
    margin: 0;
    font-size: 3.5vw;
    padding: 2vw 2.5vw;
    color: black;
    text-decoration: underline;
    text-underline-position: under;
  }

  .filter-sp p:hover {
    text-decoration: none;
    background-color: #489ae1;
    color: white;
    margin: 0;
    font-size: 3.5vw;
    padding: 2vw 2.5vw;

    border-radius: 13vw;
    cursor: pointer;
  }

  .filter-sp .filter-first {
    margin-right: 2vw;
    color: white;
    font-size: 3.5vw;
    width: 18.4vw;
    padding: 2vw 3vw;
    background-color: #489ae1;
    border-radius: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-sp .filter-wapper {
    display: flex;
    align-items: center;
    height: 13vw;
  }

  .filter-sp p.filter-first:hover {
    opacity: 1;
    cursor: default;
  }

  .filter-value {
    text-decoration: underline;
    text-underline-position: under;
  }

  .filter-value-wapper-active-sp .filter-content {
    text-decoration: none;
    background-color: #489ae1;
    color: white;
    margin: 0;
    font-size: 3.5vw;
    padding: 2vw 2.5vw;
    border-radius: 13vw;
  }

  .filter-value-wapper-active-sp .filter-content:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .filter-value-wapper {
    width: 100%;
    margin: 0 10px;
  }
  .filter-value {
    padding: 0;
  }
  #filter-hr {
    margin-top: 0;
  }
  #filter-hr {
    margin-top: 2vw;
    margin-bottom: 5vw;
  }
  .filter-hr-close {
    border: none;
  }
  .box-2-sp .checkBox-item .check-box:checked ~ .bg-img {
    background-color: white !important;
  }
  .box-2-sp .checkBox-item .check-box:checked ~ .bg-img img {
    filter: none !important;
  }
  .box-2-sp .checkBox-item .check-box:checked ~ h1 {
    color: white !important;
  }
  .box-2-sp .form-btn-sp .btn-1 label:checked {
    background-color: #489ae1;
  }
  .box-2-sp .checkBox-item .bg-checkBox {
    background-color: white;
  }
  .box-2-sp .form-btn-sp .btn-1 .btn-1-2 h1 {
    color: #222222;
  }
  .box-2-sp .checkBox-item .check-box ~ .bg-img img {
    filter: brightness(100);
  }
  .box-2-sp .form-btn-sp .btn-1 .btn-1-2 .bg-img {
    background-color: orange;
  }
  .box-2-sp .form-btn-sp .btn-1 .box-small .bg-img {
    margin-right: 5vw;
    margin-left: 1vw;
  }
  .checkBox-item .check-box {
    display: none;
  }
  .box-2-sp .checkBox-item .check-box:checked ~ .bg-checkBox {
    background-color: #489ae1;
  }
  section.table .in-table {
    margin: 0;
    width: 100%;
  }
  section.table .th-table {
    border-radius: 0;
    padding: 4vw;
  }
  section.table .in-table .td-table:last-child {
    border-radius: 0;
  }
  section.table .th-table h1 {
    font-size: 4.5vw;
    padding-left: 0;
  }
  section.table .td-table {
    padding: 0 0 0 2vw !important;
  }
  section.table .td-table h1 {
    padding-left: 2vw;
    font-size: 4vw;
  }
  section.table .td-table span {
    font-size: 3.8vw;
    margin: 0;
    padding-right: 2.3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  section.table .td-table .tab-right {
    padding-left: 2vw;
  }

  section.table .td-table a span {
    font-size: 3.8vw;
  }

  section.section-gray-double .title h1 {
    font-size: 4vw;
  }
  section.table .td-table .col-9 {
    padding-left: 2vw;
  }
  section.table .btn-gray-in-table .bg-btn {
    width: 80vw;
    height: 14vw;
    border-radius: 20vw !important;
    justify-content: start !important;
    padding: 3.5vw !important;
    background-color: gray;
    color: white;
    margin-top: 8vw;
    box-shadow: 0 0.3rem 0.51rem 0.05rem rgb(190 190 190);
  }
  .circle-icon {
    width: 6vw;
    height: 6vw;
  }
  section.table .btn-gray-in-table .bg-btn img {
    width: 6vw;
    margin-left: -0.4vw;
    margin-top: 0vw;
  }
  section.table .btn-gray-in-table .bg-btn:hover img {
    width: 3vw;
    margin-top: 0vw;
  }
  section.table .btn-gray-in-table .bg-btn span {
    letter-spacing: 0vw;
    font-size: 4.2vw;
    margin-left: 2vw;
  }
  section.section-5 .title img {
    width: 8.6667vw;
  }
  section.section-5 .title h1 {
    font-size: 4.8vw !important;
    margin-bottom: 0 !important;
    letter-spacing: 0.5vw !important;
  }
  section.section-5 .lorem {
    padding: 0;
  }
  .span-mobile {
    display: block;
    font-size: 3.7vw !important;

    line-height: 1.8 !important;
    margin-top: 8vw;
    margin-bottom: 4vw;
  }

  .span-pc {
    display: none;
  }
  section.section-5 .btn-center {
    width: 74vw;
    height: 18.6667vw;
    border-radius: 120px;
    border: 1.066667vw solid var(--color-boder-btn-orange);
    background-color: var(--color-bg-btn-orange);
    color: white;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 1.5vw;
    box-shadow: rgb(45 45 45 / 25%) 0px 4.8px 4.8px 0px;
  }
  section.section-5 .btn-center:hover {
    background-color: var(--color-btn-active) !important;
    border: 1.066667vw solid var(---color-boder-btn) !important;
    cursor: pointer;
  }
  section.section-5 .btn-out .icon-arr {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-right: 8vw;
    margin-left: 2.66667vw;
    background-color: white;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.section-5 .btn-out .icon-arr img {
    border-radius: 5px;
    width: 2.6vw !important;
  }
  section.section-5 .btn-out span {
    font-size: 4.8vw;
    margin-left: 3vw;
    letter-spacing: 0.5vw;
  }
  section.section-5 .btn-out {
    margin-top: 5.333vw;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 11vw;
  }
  .checkBox-item .bg-checkBox {
    width: 100%;
    height: 100%;
    background-color: #489ae1;
    border: 0.3vw solid #489ae1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
  }
  .checkBox-item .bg-checkBox {
    border: 3.2px solid #489ae1;
  }
  .checkBox-item .bg-checkBox {
    border-radius: 8vw;
    border: none;
    color: white;
  }
  .checkBox-item {
    position: relative;
  }

  .checkBox-item.act .bg-checkBox {
    background-color: #489ae1 !important;
  }
  .checkBox-item.act .bg-img {
    background-color: #fff !important;
  }
  .checkBox-item.act .bg-img img {
    filter: none !important;
  }
  .checkBox-item.act h1 {
    color: #fff !important;
  }
  .in-table .td-table .col-2 {
    max-width: 15% !important;
  }

  section.section-gray-double .title {
    padding: 9vw 0 7vw 0 !important;
  }
  section.section-gray-double .title h1 {
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
    font-size: 5.6vw !important;
    letter-spacing: 0.6vw !important;
    font-family: "mplus 1p heavy" !important;
  }
  section.section-gray-double .all-box {
    /* justify-content: space-around; */
    width: 90% !important;
    margin: auto !important;
    padding-bottom: 2vw !important;
    gap: 0 5.6vw;
  }
  section.section-gray-double .all-box a {
    margin: 0 !important;
    width: auto !important;
    padding: 0;
  }
  section.section-gray-double .all-box .box-1 {
    border-radius: 5vw !important;
    width: 42vw !important;
    height: 57vw !important;
    padding: 0 !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-1 {
    align-items: flex-start;
    padding: 4.2vw 1vw 2vw 6vw !important;
    margin: 0 !important;
    height: 10vw !important;
  }
  section.section-gray-double .all-box .box-1 .icon-arrow {
    width: 6vw !important;
    height: 6vw !important;
    padding: 1vw;
    margin: 0 !important;
    margin-right: 1.5vw !important;
    top: 0.3vw !important;
  }
  section.section-gray-double .all-box .box-1 .icon-arrow img {
    width: 2vw !important;
  }
  section.section-gray-double .all-box a:first-child .box-1 .title-box-1 .lorem {
    width: 26vw !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-1 h1 {
    padding-top: 0vw;
    font-size: 4.2vw !important;
    letter-spacing: 0.3vw !important;
    line-height: 1.6;
    font-family: "mplus 1p heavy" !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-2 h1 {
    letter-spacing: -0.1vw !important;
    top: 2vw !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-1 .lorem-pc {
    display: none;
  }
  section.section-gray-double .all-box .box-1 .title-box-2 .lorem-sp {
    display: flex;
    flex-direction: column;
    margin-top: 0vw;
  }
  section.section-gray-double .all-box .box-1 .image img {
    width: 28vw !important;
    top: 0 !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-3-1 {
    padding: 4.2vw 1vw 2vw 4vw !important;
  }
  section.section-gray-double .all-box .box-1 .title-box-3-1 h1 {
    top: 0vw !important;
    display: flex;
    flex-direction: column;
  }
  section.section-gray-double .all-box .box-1 .title-box-1 span {
    font-size: 4.2vw;
  }
  .section-gray-h1-mobile {
    display: flex;
  }
  .section-gray-h1-pc {
    display: none;
  }
}

@media (min-width: 671px) {
  section.section-gray-double .all-box .box-1 .title-box-1 .lorem-pc {
    display: flex;
  }
  section.section-gray-double .all-box .box-1 .title-box-2 .lorem-sp {
    display: none;
  }
  section.section-gray-double .all-box .box-1 .title-box-2 .lorem-mobile {
    display: none;
  }
  .section-gray-h1-mobile {
    display: none;
  }
  .section-gray-h1-pc {
    display: flex;
  }
}
