body,
html {
  max-width: 100%;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

nav.link-resource {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
  background-color: #e6e6e6;
}

nav.link-resource .all-link a:not(:last-child):hover {
  opacity: 0.5;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("../../../fonts/mplus-1p-bold.ttf");
}

@font-face {
  font-family: "mplus 1p regular";
  src: url("../../../fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../../fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p medium";
  src: url("../../../fonts/mplus-1p-medium.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../../fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../../fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../../fonts/mplus-1p-light.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../../../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../../../../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../../../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "yu-gothic-bold";
  src: url("../../../fonts/yugothib.ttf");
}

.font_yugo {
  font-family: 'yu-gothic-bold', sans-serif;
}

.text-medium-1 {
  font-family: "mplus 1p medium";
}

.text-bold {
  font-family: "mplus 1p bold";
}

.text-heavy {
  font-family: "mplus 1p heavy";
}

.font-light {
  font-family: "mplus 1p light";
}

.font-heavy {
  font-family: "mplus 1p heavy";
}

.text-regular {
  font-family: "mplus 1p regular";
}

.text-medium {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

.text-black {
  font-family: "Roboto-Black";
  font-weight: 500;
}

.text-rbt-regular {
  font-family: "Roboto-Regular";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "mplus 1p light"; */
}

* {
  box-sizing: border-box;
}

.bg-light {
  background-color: white !important;
}

.navbar-nav,
.mr-auto {
  margin-right: unset !important;
  /* margin-left: auto; */
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  /* font-weight: bold; */
  font-size: 1.1rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item a {
  font-size: 10.8px;
  color: #222222;
  text-decoration: underline;
  line-height: 2.5;
}

.breadcrumb-item.active {
  font-size: 10.8px;
  color: black;
  font-weight: bold;
  line-height: 2.5;
}

.breadcrumb-item::before {
  padding: 0px 6.3px !important;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 1rem 50px;
}

.breadcrumb-unset-bgcolor {
  background-color: unset;
}

a:hover {
  text-decoration: none;
}

.grid {
  display: grid;
  place-items: center;
}

:root {
  ---color-boder-btn: #99c6ee;
  --color-bg-btn-orange: #ff9e21;
  --color-boder-btn-orange: #ffbb64;
  --color-bg-section-2: #489ae1;
  --color-text-active: #309bd5;
  --box-shadow: 0 0.3vw 0.4vw 0.1vw rgba(177, 177, 177, 0.25);
  --max-width: 1080px;
  --color-btn-active: rgb(71, 153, 225);
  --bg-cl-btn-slide: #f5f5f5;
  --color-three-box-1: #abd1f3;
  --color-three-box-2: #489ae1;
  --color-three-box-3: #1c588b;
  --color-three-box-4: #08365e;
  --color-three-box-5: #f2f2f2;

  --color-box-sky-product: #2171b7;
  --color-box-skys-product: #489ae1;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

.font_regular {
  font-family: "mplus 1p regular" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

/* all-link  */
.link-resource {
  height: 35px;
  /* letter-spacing: 1.2px; */
}

.link-resource {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  display: flex;
  align-items: center;
}

nav.link-resource .all-link a {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

nav.link-resource .all-link a:hover {
  opacity: 0.5;
}

nav.link-resource .all-link a:last-child:hover {
  opacity: 1;
}

nav.link-resource .all-link .line_a {
  text-decoration: 1px underline;
  text-underline-offset: 0.2vw;
}

nav.link-resource .all-link a {
  color: black;
  font-size: 12px;
}

nav.link-resource .all-link span {
  font-size: 15px;
  margin: 0 8px;
}

nav.link-resource .all-link a:last-child {
  text-decoration: 1.5px underline;
  text-underline-offset: 0.2vw;
}


.section {
  max-width: 1080px;
  margin: auto;
}

.section-top {
  background-color: #f4f5f6;
  padding: 50px 0;
}

.section-top .content-top .image-text-top {
  display: flex;
  justify-content: center;
}

.section-top .content-top .image-text-top img {
  margin-bottom: 23px;
  width: 365px;
}

.section-top .content-top .button-blue {
  background-color: #2980b9;
  border-radius: 20px;
  border: 3px solid #cfdbe2;
  padding: 4px 25px;

}

.section-top .content-top .out-button {
  display: flex;
  justify-content: center;
  margin: auto;
}

.section-top .content-top .button-blue span {
  font-size: 14px;
  color: white;
  letter-spacing: 3px;
}

.section-top .content-top .title-top h1 {
  font-size: 29px;
  letter-spacing: 1px;
  color: #07365e;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  margin-bottom: 55px;
}

.section-top .content-top .title-top .span-number {
  font-size: 32px;
}

.section-top .content-top .image-libary-top {
  display: flex;
  justify-content: center;
}

.section-top .content-top .image-libary-top img {
  width: 98%;
}

.text-underline {
  border-bottom: 8px solid #f9bdc0;
  height: 32px;
}


.content-sp {
  display: none;
}

.title-content {
  background-color: #2980b9;
  border-radius: 10px;
  margin-top: 68px;
  align-items: center;
  padding: 5px 0;
}

.title-content .block-number {
  background-image: url("../../../image/special/core/index/image_block_number.png");
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: -14px;
  left: 25px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  padding-top: 13px;
  font-family: "mplus 1p bold";
}


.title-content .block-number-one {
  padding-right: 0;
}

.title-content .block-number h1 {
  font-size: 38px;
  margin: 0;
  color: #2980b9;
}

.title-content .title h1 {
  font-size: 23.5px;
  color: white;
  margin: 0;
}

.section .body-box {
  padding: 30px 20px;
  column-gap: 41px;
  row-gap: 35px;
  padding-bottom: 0;
}

.section .body-box .box {
  width: 48%;
}

.section .body-box .box .top-box {
  background-color: #eef7fd;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 100%;
}

.section .body-box .box .top-box .title-box h1 {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.section .body-box .box .top-box .lorem-box {
  margin: 10px 0;
}

.section .body-box .box .top-box .lorem-box span {
  font-size: 14px;
}

.section .body-box .box .bottom-box span {
  font-size: 15.5px;
  color: white;
}

.section .body-box .box .tag-box {
  background-color: #7e8488;
  width: 105px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
}

.section .body-box .box .people {
  position: absolute;
  bottom: 0;
  right: 25px;
}

.section .body-box .box .people img {
  height: 120px;
}

.section .body-box .box .bottom-box {
  background-color: #5c9ac1;
  padding: 20px;
  border-radius: 0 0 10px 10px;

}

.span-cl-sky {
  color: #2980b9;
}

.section .content-2 .body-box .box {
  border: 2px solid #5c9ac1;
  border-radius: 10px;
  padding: 25px;
  display: flex;
}


.section .content-2 .body-box .box .box-left {
  width: 70px;
  background-color: #5c9ac1;
  color: white;
  border-radius: 10px;

}

.section .content-2 .body-box .box .box-left .point {
  padding: 10px;
}

.section .content-2 .body-box .box .box-left .point h1 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: 0;
}

.section .content-2 .body-box .box .box-left .point span {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.section .content-2 .body-box .box .box-right {
  width: 75%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.section .content-2 .body-box .box .box-right h1 {
  font-size: 16.5px;
  line-height: 30px;
  margin: 0;
}


.section .content-2 .image-bottom img {
  width: 100%;
  margin-top: 20px;
}

.section .content-2 .image-bottom {
  padding: 0 20px;
}

.section .content-3 .body-box img {
  width: 100%;
}

.section .content-3 .title-bottom {
  background-color: #eef7fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  margin-top: 60px;
  border-radius: 10px;
}

.section .content-3 .title-bottom h1 {
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0;
}

.section .content-3 .button-bottom {
  display: flex;
  justify-content: center;
}

.section .content-3 .button-bottom .out-btn {
  border: 7px solid #ffcf90;
  display: flex;
  background-color: #ff9e21;
  border-radius: 50px;
  padding: 20px;
  padding-right: 30px;
  margin: 90px 0;
  box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
}

.section .content-3 .button-bottom .out-btn:hover {
  opacity: .8;
  cursor: pointer;
}

.section .content-3 .button-bottom .out-btn .bg-arrow {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .content-3 .button-bottom .out-btn .title-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .content-3 .button-bottom .out-btn h1 {
  font-size: 20px;
  letter-spacing: 1.5px;
  color: white;
  margin: 0;
  margin-left: 18px;
}

.section .content-1 .title-bottom {
  background-color: #eef7fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
}

.section .content-1 .title-bottom h1 {
  font-size: 29px;
  letter-spacing: 1px;
  margin: 0;
}

.image-arr {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.image-arr img {
  width: 50px;
}

.section .content-1 .title-bottom .logo-radius {
  background-color: #F35C72;
  border-radius: 100%;
  width: 155px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 182px;
}

.section .content-1 .title-bottom .logo-radius h1 {
  color: white;
  text-align: center;

}

.section .content-1 .title-bottom .logo-radius h1 {
  font-size: 30px;
}

/* css new  */

.section .content-2 .body-box .box-left {
  width: 59%;
}

.section .content-2 .body-box .box-right-book {
  width: 34%;
}

.section .content-2 .title span {
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  margin-bottom: 4px;
}

.section .content-2 .title-top h1 {
  font-size: 28px;
  letter-spacing: 1px;
}

.section .content-2 .title-top {
  border-bottom: dotted 3.8px black;
  margin-bottom: 20px;
}

.section .content-2 .lorem {
  display: flex;
  flex-wrap: wrap;
}

.section .content-2 .lorem .span-fisrt {
  margin-bottom: 20px;
}

.section .content-2 .lorem span {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 30px;
}

.section .content-2 .table {
  margin-top: 55px;
  margin-bottom: 0;
}

.section .content-2 .table .colum-1 {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.section .content-2 .table .colum-1:nth-child(1) {
  border-bottom: none;
}

.section .content-2 .table .colum-1:nth-child(2) {
  border-bottom: none;
}

.section .content-2 .table .colum-1 .box-left {
  background-color: #f2f2f2;
  width: 16%;
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.section .content-2 .table .colum-1 .box-right {
  width: 84%;
  padding: 13px;
  padding-left: 30px;
  display: flex;
  column-gap: 8px;
}


.section .content-2 .table .colum-1 .box-left span {
  font-size: 14px;
}

.section .content-2 .table .colum-1 .box-right .box-blue {
  background-color: #08365e;
  padding: 6px;
  width: 52px;
  border-radius: 5px;
}

.section .content-2 .table .colum-1 .box-right .box-sky {
  background-color: #489ae1;
  padding: 7px;
  width: 35px;
  border-radius: 5px;
}

.section .content-2 .table .colum-1 .box-right .box-blue span {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
}

.section .content-2 .table .colum-1 .box-right .box-sky span {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
}

.section .content-2 .table .colum-1 .box-right .level-list {
  display: flex;
  justify-content: space-between;
  border-radius: 9px;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  column-gap: 8px;
}

.section .content-2 .table .colum-1 .box-right .level-list-item p {
  margin-bottom: 2px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.section .content-2 .table .colum-1 .box-right .level-list-item.disabled p {
  color: #b1b1b1;
}

.section .content-2 .table .colum-1 .box-right .colors {
  display: flex;
  justify-content: space-between;
}

.section .content-2 .table .colum-1 .box-right .level {
  height: 9px;
  width: 62px;
  border-radius: 5.5px;
}

.section .content-2 .table .colum-1 .box-right .level-0 {
  background-color: white;
}

.section .content-2 .table .colum-1 .box-right .level-1 {
  background-color: #1c588b;
}

.section .content-2 .body-box .box-right-book .all-book {
  row-gap: 20px;
  column-gap: 20px;
  justify-content: end;
  padding-top: 10px;
}

.section .content-2 .body-box .box-right-book .all-book img {
  width: 157px;
}

.all-table-point {
  padding: 0 40px;
  margin-top: 65px;
}

.all-table-point .table-point-1 {
  border-radius: 20px;
  border: 2px solid #5c9ac1;
  margin-bottom: 50px;
}

.all-table-point .table-point-1 .title-point-1 {
  background-color: #5c9ac1;
  border-radius: 18px 18px 0 0;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.all-table-point .table-point-1 .title-point-1 .logo-point {
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px 10px;
  margin-right: 20px;
}

.all-table-point .table-point-1 .title-point-1 h1 {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

.all-table-point .table-point-1 .title-point-1 h1:first-child {
  margin-right: 5px;
}


.all-table-point .table-point-1 .title-point-1 span {
  font-size: 20px;
  letter-spacing: .5px;
  color: white;
  align-self: center;
}

.all-table-point .table-point-1 .in-table-point .colum-point .title-radius {
  border: 6px solid #1d4a77;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
}

.all-table-point .table-point-1 .in-table-point .colum-point .title-radius span {
  font-size: 14px;
  color: #1d4a77;
  line-height: 15px;
}

.all-table-point .table-point-1 .in-table-point .colum-point {
  padding: 40px 35px;
  padding-bottom: 20px;
}

.all-table-point .table-point-1 .in-table-point .colum-point:last-child {
  padding-bottom: 57px;
}

.all-table-point .table-point-1 .in-table-point .colum-point .title {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #1d4a77;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.all-table-point .table-point-1 .in-table-point .colum-point .title-lorem h1 {
  margin-bottom: 0;
  font-size: 26px;
  letter-spacing: 4px;
  color: white;
  margin-left: 12px;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row {
  padding: 0 20px;
  display: flex;
  margin-bottom: 50px;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row:last-child {
  margin-bottom: 0;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-left {
  width: 50%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right {
  width: 50%;
  display: flex;
  justify-content: end;
  position: relative;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right.box-right-small {
  margin-right: 100px;
  width: 40%;
}


.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-left .title-box h1 {
  font-size: 27px;
  line-height: 42px;
  margin-bottom: 20px;
  letter-spacing: 2.5px;
}

.all-table-point .table-point-2 .in-table-point .colum-point .box-row .box-left .title-box h1 {
  letter-spacing: 1.5px;
}


.all-table-point .table-point-1 .in-table-point .colum-point-blue .box-row .box-left .title-box h1 {
  letter-spacing: 0;
}

.all-table-point .table-point-1 .in-table-point .colum-point-blue .box-row-title-blue .box-left .title-box h1 {
  letter-spacing: 1.5px;
}


.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-left .lorem span {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 1px;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right img {
  width: 90%;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right .img-small {
  width: 57%;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right .icon-wrapper img {
  width: 50%;
}

.all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right .icon-wrapper {
  background-color: rgb(64, 64, 64);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: unset;
  opacity: 0.9;
  cursor: pointer;
  right: -10px;
  bottom: -10px;
}

#modal-zoom-image>.background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


#modal-zoom-image {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  overscroll-behavior: contain;
}

#modal-zoom-image>.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#modal-zoom-image>.modal-content {
  margin: auto;
  display: block;
  /* width: 80%; */
  max-width: 800px;
  overflow: scroll;
}

#modal-zoom-image>.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.border-pink {
  border: 6px solid #ec6168 !important;
}

.bg-pink {
  background-image: linear-gradient(to right, #ec6168, #ec6168) !important;
}

.cl-pink {
  color: #ec6168 !important;
}

.bg-cl-pink {
  background-color: #ffe7e9 !important;
}

.border-sky {
  border: 6px solid #4ab4e9 !important;
}

.bg-sky {
  background-image: linear-gradient(to right, #4ab4e9, #42b1e8) !important;
}

.cl-sky {
  color: #42b1e8 !important;
}

.title-cl-sky {
  color: #2980b9 !important;
}

.border-rain-bow {
  border: 6px solid #f19a39 !important;
}

.bg-rain-bow {
  background-image: linear-gradient(to right, #f19a39, #90c555) !important;
}

.cl-rain-bow {
  color: #f19a39 !important;
}

.all-table-point .table-point-2 .in-table-point .colum-point .box-row .box-right img {
  width: 94%;
}

.all-table-point .table-point-2 .in-table-point .colum-point .box-row .title-box-2 h1 {
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-left: 10px;
}

.all-table-point .table-point-2 .in-table-point .colum-point .box-row .line-left {
  display: flex;
  width: 5px;
  height: 100%;
  border-radius: 20px;
  background-color: #2980b9;
}

.all-table-point .table-point-2 .in-table-point .colum-point .box-row {
  margin-bottom: 37px;
}

.tag-sky {
  background-color: #2980b9;
  display: flex;
  justify-content: center;
  width: max-content;
  border-radius: 5px;
  padding: 3px 10px;
  margin-bottom: 25px;
}

.tag-sky span {
  color: white;
  font-size: 12px;
}

.all-table-point .table-point-2 .in-table-point .colum-point .box-row .box-left .title-box h1 {
  margin-bottom: 10px;
}

.all-table-point .table-point-2 .title-box-2 {
  width: 100%;
  margin-bottom: 22px;
}

.all-table-point .table-point-2 .row-column {
  background-color: #eef7fd;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 17px;
}

.all-table-point .table-point-2 .row-column:last-child {
  margin-bottom: 0;
}

.all-table-point .table-point-2 .row-column .arrow {
  background-color: #5c9ac1;
  width: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 10px 3px 3px 10px;
}

.all-table-point .table-point-2 .row-column .arrow span {
  color: white;
  font-size: 14px;
}

.all-table-point .table-point-2 .row-column .arrow-2 {
  height: 0;
  width: 0;
  border-left: 15px solid #5c9ac1;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  position: relative;
  left: -1px;
}

.all-table-point .table-point-2 .row-column .lorem span {
  font-size: 16px;
  letter-spacing: .5px;
}

.all-table-point .table-point-3 .in-table-point .colum-point .box-row .box-left {
  width: 100%;
  padding-top: 0;
}


.all-table-point .table-point-3 .in-table-point .colum-point .box-row .box-left .lorem-span-2 span {
  font-size: 15.5px;
  margin-top: 7px;
  display: flex;
  line-height: 30px;
}

.all-table-point .table-point-2 .in-table-point .colum-point:last-child {
  padding-bottom: 40px;
  padding-top: 35px;
}

@media (min-width: 1200px) {
  .review-header-background {
    height: 520px;
    max-width: 2000px;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../../../image/special/core/index/image_main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
  }

}


@media (max-width: 670px) {

  .content-pc {
    display: none !important;
  }

  .content-sp {
    display: block !important;
  }


  .review-header-background {
    height: 139vw;
    background-image: url("../../../image/special/core/index/image_main_sp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 7vw;
    margin-bottom: 13vw;
  }


  .section-top {
    padding: 14vw 0;
    padding-bottom: 9vw;
  }

  .section-top .content-top .image-text-top img {
    margin-bottom: 7vw;
    width: 90vw;
  }


  .section-top .content-top .button-blue {
    border-radius: 10vw;
    border: .8vw solid #cfdbe2;
    padding: 2vw 7.2vw;
  }

  .section-top .content-top .button-blue span {
    font-size: 4vw;
    letter-spacing: .4vw;
  }


  .section-top .content-top .title-top h1 {
    flex-wrap: wrap;
    font-size: 6.6vw;
    letter-spacing: .2vw;
    line-height: 9.5vw;

    margin: 5vw 0;
    margin-bottom: 12vw;
  }

  .section-top .content-top .title-top .span-number {
    font-size: 7.7vw;
  }

  .text-underline {
    border-bottom: 2.5vw solid #f9bdc0;
    height: 8vw;
    letter-spacing: 0vw;
  }


  .title-content {
    border-radius: 0;
    margin-top: 16vw;
    padding: 1vw 0;
  }

  .title-content .title h1 {
    font-size: 4.7vw;
    width: 78vw;

  }

  .title-content .block-number {
    background-image: url("../../../image/special/core/index/image_block_number_sp.png");
    width: 17.5vw;
    height: 19.5vw;
    padding-top: 3vw;
    top: -3.4vw;
    left: 3vw;
    margin-right: 4vw;
    padding-right: 1.5vw;
    font-family: "mplus 1p heavy";

  }


  .title-content .block-number-one {
    padding-right: .5vw;
  }

  .title-content .block-number h1 {
    font-size: 9vw;
  }

  .section .body-box .box {
    width: 100%;
  }

  .section .body-box {
    padding: 9vw 5vw;
    column-gap: 0;
    row-gap: 7vw;
    padding-bottom: 0;
  }

  .section .body-box .box .top-box .title-box h1 {
    font-size: 5.5vw;
    line-height: 7.5vw;
  }

  .section .body-box .box .top-box {
    padding: 4vw 3vw;
    border-radius: 2vw;
    padding-bottom: 2.5vw;
  }

  .section .body-box .box .top-box .lorem-box {
    margin: 4vw 0;
    margin-bottom: 0;
    height: 28vw;
  }

  .section .body-box .box .top-box .lorem-box span {
    font-size: 3.8vw;
    display: flex;
    width: 54vw;
    line-height: 6vw;
  }

  .section .body-box .box .tag-box {
    width: 48vw;
    border-radius: 1vw;
    padding: .5vw 4vw;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
  }

  .section .body-box .box .bottom-box {
    padding: 5.5vw 4vw;
    border-radius: 0 0 1vw 1vw;
  }

  .section .body-box .box .bottom-box span {
    font-size: 4vw;
    letter-spacing: .3vw;
    line-height: 7vw;
  }

  .section .body-box .box .people img {
    height: 33vw;
  }

  .section .body-box .box .people {
    right: 6vw;
  }

  .section .body-box .box:nth-child(3) .people {
    right: 3vw;
  }

  .section .content-2 .body-box .box {
    border: .5vw solid #5c9ac1;
    border-radius: 2vw;
    padding: 5vw 2vw 5vw 5vw;
    align-items: center;
  }

  .section .content-2 .body-box .box .box-left .point {
    padding: 0.7vw;
  }

  .section .content-2 .body-box .box .box-left {
    width: 16vw;
    height: 16vw;
    border-radius: 2vw;
  }

  .section .content-2 .body-box .box .box-left .point span {
    font-size: 3.3vw;
    padding-top: 1vw;
  }

  .section .content-2 .body-box .box .box-left .point h1 {
    font-size: 8vw;
    margin-top: -1vw;
  }

  .section .content-2 .body-box .box .box-right h1 {
    font-size: 4.2vw;
    line-height: 7.5vw;
    letter-spacing: .1vw;
  }

  .section .content-2 .body-box .box .box-right {
    width: 75%;
    margin-left: 4vw;
  }

  .section .content-2 .image-bottom {
    padding: 2vw 5vw;
    padding-bottom: 0;
  }

  .section .content-3 .title-bottom {
    padding: 6vw 0;
    margin-top: 13vw;
    border-radius: 0;
  }

  .section .content-3 .title-bottom h1 {
    font-size: 4.8vw;
    letter-spacing: 0vw;
    line-height: 7vw;
    text-align: center;
  }

  .section .content-3 .button-bottom .out-btn {
    border: 1vw solid #ffcf90;
    padding: 4vw;
    padding-right: 3vw;
    margin: 20vw 0;
    box-shadow: 0 4.8px 4.8px 0 rgb(45 45 45 / 25%);
    border-radius: 10vw;

  }

  .section .content-3 .button-bottom .out-btn .bg-arrow {
    width: 6.3vw;
    height: 6.3vw;
  }

  .section .content-3 .button-bottom .out-btn .bg-arrow img {
    width: 2vw;
  }

  .section .content-3 .button-bottom .out-btn h1 {
    font-size: 4vw;
    letter-spacing: .2vw;
    margin-left: 2vw;
  }

  .section .content-1 .title-bottom {
    padding: 6vw 0;
    margin-top: 5vw;
    border-radius: 0;
    /* justify-content: start;
    padding-left: 8vw; */
  }

  .section .content-1 .title-bottom h1 {
    font-size: 4.8vw;
    letter-spacing: 0vw;
    line-height: 7vw;
    text-align: center;
  }

  .image-arr {
    margin-top: 5vw;

  }

  .image-arr img {
    width: 10vw;
  }

  .section .content-1 .title-bottom .logo-radius {
    right: 8vw;
    width: 25vw;
    height: 25vw;
  }

  .section .content-1 .title-bottom .logo-radius h1 {
    font-size: 5vw;
  }


  /* css new  */
  .section .content-2 .body-box {
    flex-wrap: wrap;
  }

  .section .content-2 .body-box .box-left {
    width: 100%;
  }

  .section .content-2 .body-box .box-right-book {
    width: 100%;
  }

  .section .content-2 .title span {
    font-size: 4.2vw;
    letter-spacing: .3vw;
    margin-bottom: 1vw;
  }

  .section .content-2 .title-top h1 {
    font-size: 7vw;
    margin-bottom: 2vw;
    letter-spacing: .18vw;
  }

  .section .content-2 .title-top {
    border-bottom: dotted 1vw black;
    margin-bottom: 5vw;
  }

  .section .content-2 .lorem {
    display: flex;
    flex-wrap: wrap;
  }

  .section .content-2 .lorem .span-fisrt {
    margin-bottom: 5vw;
  }

  .section .content-2 .lorem span {
    font-size: 4.2vw;
    letter-spacing: 0vw;
    line-height: 7.5vw;
  }

  .section .content-2 .table {
    margin-top: 8vw;
    margin-bottom: 0;
  }

  .section .content-2 .table .colum-1 {
    border-top: .3vw solid #d3d3d3;
    border-bottom: .3vw solid #d3d3d3;
  }

  .section .content-2 .table .colum-1 .box-left {
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 3vw;
  }

  .section .content-2 .table .colum-1 .box-right {
    width: 80%;
    padding: 3vw;
    padding-left: 2vw;
    column-gap: 2vw;
  }


  .section .content-2 .table .colum-1 .box-left span {
    font-size: 3.8vw;
    line-height: 4.5vw;
  }

  .section .content-2 .table .colum-1 .box-right .box-blue {
    padding: 1.5vw;
    width: 14vw;
    border-radius: 1vw;
  }

  .section .content-2 .table .colum-1 .box-right .box-sky {
    padding: 2vw 1.5vw;
    width: 9vw;
    border-radius: 1vw;
  }

  .section .content-2 .table .colum-1 .box-right .box-blue span {
    font-size: 3.7vw;
  }

  .section .content-2 .table .colum-1 .box-right .box-sky span {
    font-size: 3.2vw;
  }

  .section .content-2 .table .colum-1 .box-right .level-list {
    border-radius: 2vw;
    padding: 2.2vw;
    column-gap: 2vw;
  }

  .section .content-2 .table .colum-1 .box-right .level-list-item p {
    margin-bottom: 1vw;
    font-size: 3.5vw;
  }

  .section .content-2 .table .colum-1 .box-right .level {
    height: 2.5vw;
    width: 15vw;
    border-radius: 5vw;
  }

  .section .content-2 .body-box .box-right-book .all-book {
    justify-content: start;
    row-gap: 4vw;
    column-gap: 4vw;
    padding-top: 2vw;
  }

  .section .content-2 .body-box .box-right-book .all-book img {
    width: 43vw;
  }

  /* new css  */

  .all-table-point {
    padding: 0;
    margin-top: 5vw;
  }

  .all-table-point .table-point-1 {
    border-radius: 0;
    border: none;
  }

  .all-table-point .table-point-1 .title-point-1 {
    border-radius: 0;
    padding: 3.5vw;
    justify-content: start;
    align-items: center;
    padding-left: 5vw;
  }

  .all-table-point .table-point-1 .title-point-1 .logo-point {
    border: .5vw solid white;
    border-radius: 1vw;
    padding: 1vw 2vw;
    margin-right: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    width: 16vw;
    height: 16vw;
  }

  .all-table-point .table-point-1 .title-point-1 h1 {
    font-size: 3vw;
    display: flex;
    align-items: center;
    margin-right: 0 !important;
  }

  .all-table-point .table-point-1 .title-point-1 h1:last-child {
    font-size: 7.5vw;
  }

  .all-table-point .table-point-1 .title-point-1 span {
    font-size: 4.7vw;
    letter-spacing: .2vw;
    line-height: 6.5vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .title-radius {
    border: 1.5vw solid #1d4a77;
    width: 17vw;
    height: 17vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .title-radius span {
    font-size: 3.5vw;
    color: #1d4a77;
    line-height: 4vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point {
    padding: 9vw 6vw;
    padding-bottom: 4vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point:last-child {
    padding-bottom: 5vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .title {
    height: 11vw;
    border-radius: 10vw;
    margin-bottom: 5vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .title-lorem h1 {
    font-size: 7vw;
    letter-spacing: 3px;
    margin-left: 3vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row {
    padding: 0 3vw;
    flex-wrap: wrap;
    margin-bottom: 7vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-left {
    width: 100%;
    padding-top: 2vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right {
    width: 100%;
    margin-top: 4vw;
    justify-content: start;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right.box-right-small {
    margin-right: 0;
    width: 100%;
    justify-content: center;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-left .title-box h1 {
    font-size: 5.5vw;
    line-height: 8.5vw;
    margin-bottom: 4vw;
    letter-spacing: 0.1vw;
  }


  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-left .lorem span {
    font-size: 4vw;
    line-height: 7.5vw;
    letter-spacing: .2vw;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right img {
    width: 97%;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right .img-small {
    width: 50%;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right .icon-wrapper img {
    width: 50%;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right .icon-wrapper {
    width: 12vw !important;
    height: 12vw !important;
    bottom: 0 !important;
    top: unset !important;
    right: 0;
    border-radius: 3vw 0 3vw 0;
    left: unset !important;
  }

  .all-table-point .table-point-1 .in-table-point .colum-point .box-row .box-right.box-right-small .icon-wrapper {
    right: 18vw;
  }

  #modal-zoom-image {
    padding-top: 1px;
    max-width: 100%;
    overscroll-behavior: contain;
    overscroll-behavior: none;
  }

  #modal-zoom-image>.modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  #modal-zoom-image>.background {
    overscroll-behavior: contain;
    overscroll-behavior: none;
  }

  #modal-zoom-image>.modal-content {
    width: 90%;
    margin: auto;
    position: relative;
    top: 20%;
    overscroll-behavior: none;
  }

  #modal-zoom-image>.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .border-pink {
    border: 6px solid #ec6168 !important;
  }

  .bg-pink {
    background-color: #ec6168 !important;
  }

  .cl-pink {
    color: #ec6168 !important;
  }

  .border-sky {
    border: 6px solid #42b1e8 !important;
  }

  .bg-sky {
    background-color: #42b1e8 !important;
  }

  .cl-sky {
    color: #42b1e8 !important;
  }

  .border-rain-bow {
    border: 6px solid #f19a39 !important;
  }

  .bg-rain-bow {
    background-image: linear-gradient(to right, #f19a39, #90c555) !important;
  }

  .cl-rain-bow {
    color: #f19a39 !important;
  }

  .all-table-point .table-point-2 .in-table-point .colum-point {
    padding-top: 4vw;
  }

  .tag-sky {
    border-radius: 1vw;
    padding: 1vw 2vw;
    margin-bottom: 4vw;
  }

  .tag-sky span {
    font-size: 3vw;
  }

  .all-table-point .table-point-2 .in-table-point .colum-point .box-row .box-left .title-box h1 {
    margin-bottom: 2vw;
  }

  .all-table-point .table-point-2 .in-table-point .colum-point .box-row .title-box-2 h1 {
    font-size: 4.5vw;
    letter-spacing: .2vw;
    margin-left: 2vw;
  }

  .all-table-point .table-point-2 .in-table-point .colum-point .box-row .line-left {
    width: 1vw;
    border-radius: 3vw;
  }

  .all-table-point .table-point-2 .title-box-2 {
    margin-bottom: 5vw;
  }

  .all-table-point .table-point-2 .row-column {
    border-radius: 2vw;
    margin-bottom: 5vw;
    flex-wrap: wrap;
    padding: 4vw;
  }

  .all-table-point .table-point-2 .row-column .arrow {
    padding: 1vw 3.5vw;
    border-radius: .5vw;
    display: flex;
    justify-content: center;
    width: max-content;
    margin-bottom: 3.5vw;
  }

  .all-table-point .table-point-2 .row-column .arrow-2 {
    display: none;
  }

  .all-table-point .table-point-2 .row-column .arrow span {
    font-size: 3.5vw;
  }

  .all-table-point .table-point-2 .row-column .lorem span {
    width: 100%;
    font-size: 4vw;
    letter-spacing: 0vw;
  }

  .all-table-point .table-point-3 .in-table-point .colum-point:last-child {
    padding-bottom: 2vw;
  }

  .all-table-point .table-point-4 .in-table-point .colum-point:last-child {
    padding-bottom: 0;
  }

  
.border-pink {
  border: 1.5vw solid #ec6168 !important;
}

.border-sky {
  border: 1.5vw solid #42b1e8 !important;
}

.border-rain-bow {
  border: 1.5vw solid #f19a39 !important;
}

}