@media (max-width: 670px) {
    .colum-title {
        width: 90% !important;
        margin: 0 auto 4vw !important;
        padding-right: 4vw !important;
        border-radius: 2vw !important;
    }

    .colum-title h2 {
        font-size: 4.2vw !important;
        padding: 4vw 1vw 4vw 4vw !important;
    }

    .colum-folder {
        flex-wrap: wrap;
    }

    .color-top {
        height: 20vw !important;
    }

    .color-top h1 {
        font-size: 5vw !important;
    }

    .title-logo {
        margin-bottom: 6vw !important;
    }

    .title-logo p {
        font-size: 3.8vw !important;
        margin: 1vw 0 0 0 !important;
    }

    .title-logo p span {
        font-size: 8vw !important;
    }

    .title-logo img {
        width: 18vw !important;
    }

    .box-left .stt {
        width: 7.5vw !important;
        height: 7.5vw !important;
        margin-right: 0 !important;
        margin-right: 1.3vw !important;
    }

    div.stt-l {
        width: 9vw !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        font-size: 3.8vw !important;
    }

    div.stt-no {
        width: 1vw !important;
    }

    .colum-folder .colum .button-width-set {
        width: 89vw !important;
        margin: 3.5vw 5.5vw !important;
        box-shadow: 0px 0px 20px rgba(9, 42, 72, 0.06);
        border-radius: 2vw !important;
        padding: 4vw 3vw !important;
        margin-top: 0 !important;
    }

    .colum-folder .colum {
        justify-content: center !important;
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .colum-title {
        margin-top: 5vw;
    }

    .colum-title:first-child {
        margin-top: 0;
    }

    .box-left div {
        margin-right: 0 !important;
    }

    .box-left div.stt {
        padding: 1vw;
        margin-right: 15px;
    }

    .box-left div.stt span {
        font-size: 4.2vw !important;
    }

    .box-left div.text-red span {
        font-size: 3.6vw !important;
    }
    
    .box-left .text-red {
        width: 17vw !important;
    }
    .box-left div.red-ja4 {
        width: 25vw !important;
    }

    .box-right div.content span {
        font-size: 3.5vw !important;
    }

    .box-left div.title-descrp span {
        font-size: 3.8vw !important;
        padding-right: 1.5vw !important;
    }

    .button-width-set .box-left div.title-descrp span {
        width: 65vw !important;
        padding-left: 1.5vw !important;
    }
    
    .descrp-ja {
        width: 53vw !important;
    }
    .descrp-ja4 {
        width: 45vw !important;
    }

    .colum-folder .colum .button-width-auto {
        margin: 3.5vw 5.5vw !important;
        margin-top: 0 !important;
        width: 89vw !important;
        box-shadow: 0px 0px 20px rgba(9, 42, 72, 0.06);
        border-radius: 2vw !important;
        padding: 3vw 2vw !important;
    }

    .unit-title {
        margin: 7vw 5.5vw !important;
        margin-top: 0 !important;
        width: 89vw !important;
        box-shadow: 0px 0px 20px rgba(9, 42, 72, 0.06);
        border-radius: 2vw !important;
        padding: 3vw 2vw !important;
    }

    .content-pc {
        display: none !important
    }

    .content-sp {
        display: block !important
    }

    .title-top {
        height: 15vw !important;
    }

    .image_popup {
        width: 20vw !important;
        height: 12vw !important;
        bottom: 7vw !important;
        right: 18vw !important;
    }

    .image_popup p {
        font-size: 3.8vw !important;
    }


    .header {
        padding-bottom: 5vw !important;
    }

    .margin-top {
        margin-top: 20vw !important;
    }

    .colum-title.active .status-drop {
        width: 4.5vw !important;
        height: 4.5vw !important;
    }

    .colum-title .status-drop {
        width: 4.5vw !important;
        height: 0.7vw !important;
    }

    .unit-content {
        max-width: 85vw !important;
    }

    .sub-title {
        font-size: 5.5vw !important;
    }

    .caption {
        font-size: 3.3vw !important;
    }

    .all-box-video .box-video .title-video a {
        font-size: 3.8vw !important;
        margin-bottom: 2vw !important;
    }

    .all-box-video {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .all-box-video .box-video {
        margin-left: 0 !important;
        margin-bottom: 7vw !important;
    }

    /* .all-box-video .box-video:first-child {
        margin-top: 5vw;
    } */

    .modal-content {
        width: 80% !important;
        margin: auto;
    }
    .all-box-video .box-video .video {
        width: 100% !important;

    }

    .all-box-video .box-video .video iframe{
        width: 100% !important; 
        height: 50vw !important;
    }

    .all-box-video .box-video .video img {
        width: 100% !important;
    }

    .all-box-video .box-video .bg-play {
        top: 18vw !important;
        left: 39vw !important;
        width: 12vw !important;
        height: 12vw !important;
    }

    .all-box-video .box-video .bg-play img {
        width: 5vw !important;
    }

    .unit-content .logo-title img {
        width: 8vw !important;
        margin-right: 2vw !important;
    }

    .unit-content .title .link-lorem {
        margin-left: 0 !important;
        margin-bottom: 4vw !important;
        width: 100% !important;
        font-size: 3.6vw !important;
        border-radius: 2vw !important;
        padding:  2.5vw 2vw !important;
    }

    .all-box-video .box-video .video .video-btn {
        width: 100% !important;
    }

    .unit-content .title {
        margin-bottom: 9vw !important;
    }

    .unit-title {
        height: 11vw !important;
    }

    .unit-content .title .all-title {
        margin-bottom: 6vw !important;
    }

    .all-box-video .box-video .title-video {
        margin-bottom: 3vw !important;
    }
    
    .pre {
        padding: 2vw !important;
        border-radius: 10vw !important;
        align-items: center !important;
    }

    .pre p {
        margin: 0 5vw !important;
        font-size: 3.5vw !important;
    }

    .arrow-wrapper {
        width: 7vw !important;
        height: 7vw !important;
    }

    .fa, .fas {
        font-size: 2.5vw !important;
    }
 
    .button-back {
        justify-content: center !important;
        margin-bottom: 10vw !important;
    }

    .colum a {
        width: 100% !important;
    }
    
}

@media (min-width: 1080px) {
    html {
        overflow-y: scroll !important;
    }
}