@media (max-width: 670px) {
  .content-main {
    max-width: 90%;
    margin: auto;
    padding-bottom: 5vw;
  }

  .div-descript {
    border-radius: 0 0 32px 32px;
    padding: 0px 3px 3px 3px;
    border: 3px solid #6a53ff;
  }

  .section-contact {
    max-width: 90%;
    margin: auto;
    margin-top: 6vw;
    margin-bottom: 14vw;
  }

  .button-web {
    display: none;
  }

  .no-left-sp {
    margin-left: 0 !important;
  }

  .div-content-main-cover {
    background-image: url(../../image/ondemand/qa-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-width: 90%;
    padding-bottom: 10vw;
  }

  .b-tiny-txt2-sp {
    padding-top: 1vw !important;
  }

  .font-30 {
    font-size: 4.8vw;
  }

  .circle-number {
    width: 12vw;
    height: 12vw;
    margin-top: -3vw;
    margin-left: 2vw;
  }

  .circle-number-3 {
    margin-top: 0;
  }

  .circle-number-4 {
    margin-top: 0;
  }

  .main-title .title {
    width: 70vw;
    font-size: 3.7vw;

    padding: 2vw 0;
    line-height: 1.6;
    letter-spacing: 0vw;
    margin-left: 4vw;
  }

  .sp-des-left {
    width: 84vw !important;
    padding-left: 8vw !important;
    padding-bottom: 3vw;
    margin-top: 3vw;
  }

  .content-main-01 .sp-des-left {
    padding-left: 0;
  }

  .font-24 {
    font-size: 2.8vw;
  }

  .mar-sp-bt {
    padding-bottom: 3vw;
  }

  .font-18 {
    font-size: 2.5vw;
  }

  .cover-des {
    padding: 2vw 2vw 2.5vw 3vw;
  }

  /* .violet-dot-1-sp {
    width: 6vw !important;
  }

  .violet-dot-2-sp {
    width: 2.7vw !important;
  } */

  .section_content-main {
    background-color: #f2f2f2;
    padding-top: 6vw;
    margin-top: 0;
  }

  .cover-descript {
    background-image: none;
  }

  .cover-descript .cover-des {
    padding: 2vw 2vw 3.5vw 3vw;
    flex-direction: column;
  }

  .cover-des-3 {
    padding-bottom: 6vw !important;
  }

  .cover-des-4 {
    padding-bottom: 8vw !important;
  }

  .violet-dot {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
    margin-top: 1.5vw;
  }

  .note-content {
    margin-left: 1vw;
    line-height: 2;
    margin-top: -0.5vw;
    font-size: 3.2vw !important;
    width: 65vw;
  }

  .note {
    display: flex;
    margin-bottom: 6vw;
  }

  .sp-bottom-note {
    margin-bottom: 6vw !important;
  }

  .cover-descript-2 .list-descript {
    margin-top: 2vw;
  }

  .font-num-sp {
    font-size: 6vw;
  }

  .main-title-cover-01 .title-sp {
    padding: 2.5vw 0 !important;
  }

  .font-16 {
    font-size: 2.2vw;
  }

  .note-content-sp {
    display: block;
  }

  .note-content-pc {
    display: none;
  }

  .list-note {
    margin-top: 4vw;
  }

  .des-image {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .des-image img {
    width: 97%;
  }

  .tag-note {
    width: 14vw;
    height: 6vw;
    margin-right: 2vw;
    position: relative;
    top: 1vw;
  }

  .note {
    margin-bottom: 4vw;
  }

  .tag-note p {
    margin-left: 1vw;
    font-size: 3.7vw;
  }

  .list-descript .des-span {
    width: 80vw;
    line-height: 1.8;
    font-size: 3.7vw;
    letter-spacing: 0px;
  }

  .div-descript-2 .cover-des {
    display: block;
  }

  .left-list .list {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4vw;
  }

  .left-des,
  .right-des {
    width: 100%;
  }

  .right-des {
    margin-left: 0;
    margin-top: 4vw;
  }

  .des-span-pc {
    display: none;
  }

  .des-span-sp {
    display: block;
    width: 80vw;
    display: block;
    font-size: 3.7vw;
    line-height: 1.8;
  }

  .list-descript {
    display: flex;
    margin-bottom: 2vw;
  }

  .div-descript-2 .cover-des .descript {
    width: 90%;
  }

  .header-contact {
    height: 18vw;
    padding: 0 5vw;
  }

  .icon-contact img {
    width: 9vw;
  }

  .cover-descript {
    padding: 0;
  }

  .title-contact {
    margin-top: -1vw;
    margin-left: 4vw;
    font-size: 4.8vw;
    letter-spacing: 0.5vw;
  }

  .contact-content {
    padding: 4vw;
    padding-top: 3vw;
  }

  .contact-content .text {
    font-size: 3.2vw;
    letter-spacing: 0.1vw;
    line-height: 2;
  }

  .box-mail {
    margin: 4vw 0 0 0;
  }

  .menu-mail {
    display: block;
    flex-direction: row;
    padding: 1.5vw 0 1.5vw 0;
    margin: 0 4.5vw;
    align-items: center;
  }

  .mail-icon {
    margin-right: 1.5vw;
    margin-bottom: 2vw;
  }

  .mail-icon img,
  .phone-icon img {
    width: 6.5vw;
  }

  .mail-text {
    font-size: 4.2vw;
    letter-spacing: 0.5vw;
  }

  .mail,
  .phone {
    margin-bottom: 0vw;
    align-items: flex-start;
  }

  .mail {
    margin-left: 2vw;
    margin-top: 0vw;
  }

  .phone {
    /* margin-bottom: 2vw; */
    margin-left: 2vw;
  }

  .phone-icon {
    margin-right: 2vw;
  }

  .phone-number {
    margin-left: 0vw;
  }

  .phone-number a {
    font-size: 4.2vw;
    letter-spacing: 0.2vw;
  }

  .mail-title {
    font-size: 3.7vw;
    padding: 3.5vw 0 3vw 2vw;
    margin: 0 2.5vw;
    border-bottom: 4px dotted #f2f2f2;
  }

  .line-blue-2 .title_line-blue img {
    width: 10vw;
    margin-right: 3vw;
  }

  .sp-q2main-title .title {
    padding: 2vw !important;
  }

  .line-blue-2 {
    margin-top: 9vw;
    margin-bottom: -6vw;
    height: 30vw;
  }

  .sp-padding-bt {
    padding-bottom: 6vw;
  }

  .line-blue-2::before {
    height: 1.5vw;
    top: -1vw;
  }

  .line-blue-2 .title_line-blue {
    top: -6vw;
    bottom: 0;
  }

  .circle-number-step {
    height: 13vw;
    width: 13vw;
    border: 0.7vw solid #6a53ff;
    left: 0;
  }

  .main-title-cover-01 .title {
    margin-left: 14vw !important;
    width: 71vw;
    padding: 3.5vw 0;
    line-height: 1.6 !important;
  }

  .main-title-cover .title {
    padding: 2.2vw 0;
  }

  .line-blue-2 .title_line-blue h2 {
    font-size: 5vw;
  }

  .number-step {
    font-size: 6vw;
  }

  .content-main-01 .line-desc {
    margin-top: 3vw;
    margin-right: 3vw;
  }

  .content-main-01 .line-desc .des-span {
    font-size: 3.5vw;
  }

  .line-desc {
    margin-left: 5vw;
  }

  .smail-span {
    font-size: 3vw;
  }

  .title-sp {
    line-height: 2 !important;
  }

  .circle-number-step-sp {
    top: 0vw;
    left: 0vw !important;
  }

  .des-span-q4 {
    line-height: 1.7;
  }

  .main-title {
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 7vw 7vw 0 0;
  }

  .main-title-cover-01 {
    border-radius: 7vw;
  }

  .section-5 {
    margin: 0;
  }

  .title-sc5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2vw;
    margin: 8vw 0 19vw 0;
  }

  .section-5-02 .title-sc5 {
    margin: 8vw 0 19vw 0;
  }

  section.section-5 .btn-out {
    background-color: white;
    display: none;
  }

  .btn-center {
    display: block;
  }

  section.section-5 .btn-out span {
    font-size: 4vw;
    text-align: center;
  }

  .btn-center .lorem-btn {
    margin-left: 20vw;
    margin-top: -10vw;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
  }

  .login-tag {
    padding: 4px 19px;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 27vw;
    width: 22vw;
  }

  .login {
    text-align: center;
    font-size: 2vw;
    color: #ff884e;
    letter-spacing: 1px;
  }

  .btn-center {
    align-items: center;
    width: 79vw;
    height: 16vw;
    border-radius: 160px;
    padding: 4vw;
    background-image: linear-gradient(to right, #ff5c4e, #ff884e);
  }

  .btn-out a {
    width: 83vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.section-5 .btn-out .icon-arr {
    border-radius: 80px;
    width: 3vw;
    height: 3vw;
    margin-right: 4vw;
    padding: 4vw;
  }

  /* long  */
  .sc-bg-header .img-sc {
    display: none;
  }

  .sc-bg-header .img-sp {
    display: block;
    width: 100%;
  }

  .all-box-header {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    width: 90vw;
    margin: auto;
  }

  .button-web-sp {
    display: block;
    position: absolute;
    bottom: 11vw;
  }

  .button-web-sp .all-box-header .box {
    width: 43vw;
    height: 13vw;
    border-radius: 20vw;
    display: flex;
    align-items: center;
    padding: 4vw;
    box-shadow: 0px 2px 5px 1px #696565a8;
  }

  .button-web-sp .all-box-header .box:nth-child(1) {
    background-image: linear-gradient(to bottom right, #4d2dff, #6b4eff);
  }

  .button-web-sp .all-box-header .box:nth-child(2) {
    background-image: linear-gradient(to bottom right, #6b4eff, #6b4eff);
  }

  .button-web-sp .all-box-header .box:nth-child(3) {
    background-image: linear-gradient(to bottom right, #5f5ff8, #536bf2);
  }

  .button-web-sp .all-box-header .box:nth-child(4) {
    background-image: linear-gradient(to bottom right, #536bf2, #546bf2);
  }

  .button-web-sp .all-box-header .box:nth-child(5) {
    background-image: linear-gradient(to bottom right, #4b72ee, #4178ea);
  }

  .button-web-sp .all-box-header .box:nth-child(6) {
    background-image: linear-gradient(to bottom right, #4b72ee, #4178eb);
  }

  .button-web-sp .all-box-header .box .bg-arr {
    display: flex;
  }

  .button-web-sp .all-box-header .box .bg-arr img {
    width: 5vw;
    margin-right: 2vw;
  }

  .button-web-sp .all-box-header .box .bg-arr img:last-child {
    display: none;
  }

  .button-web-sp .all-box-header .box:hover .bg-arr img:last-child {
    display: block !important;
  }

  .button-web-sp .all-box-header .box:hover .bg-arr img:first-child {
    display: none !important;
  }

  .button-web-sp .all-box-header .box .title-button h1 {
    font-size: 3.5vw;
    margin: 0;
    color: white;
    letter-spacing: 0.2vw;
  }

  .button-web-sp .all-box-header .box:hover {
    background-color: #ffffc2;
    background-image: unset;
    border: 0.5vw solid #6a4ffe;
  }

  .button-web-sp .all-box-header .box.active {
    background-color: #ffffc2;
    background-image: unset;
    border: 0.7vw solid #6a4ffe;
  }

  .button-web-sp .all-box-header .box.active .title-button h1 {
    color: #6a4ffe;
  }

  .button-web-sp .all-box-header .box.active .bg-arr img:first-child {
    display: none;
  }

  .button-web-sp .all-box-header .box.active .bg-arr img:last-child {
    display: block;
  }

  .button-web-sp .all-box-header .box:hover .title-button h1 {
    color: #6a4ffe;
  }

  .title-buttom {
    position: absolute;
    bottom: 3vw;
  }

  .title-buttom h1 {
    font-size: 3.2vw;
    margin-bottom: 0;
  }

  .line-blue {
    margin-top: 0;
  }

  .line-blue::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 1.5vw;
    background-color: #ffff85;
    top: 0;
  }

  .line-blue {
    height: 21vw;
    width: 100%;
    position: relative;
  }

  /* long  */
  .line-blue-2 {
    height: 30vw;
  }

  /* ondemand/01/ */
  .content-main-01 .main-title-01 {
    border-radius: 7vw;
  }

  .content-main-01 .main-title-01 .title {
    padding: 3.5vw 0 3.5vw 11vw;
    letter-spacing: 0.1vw;
  }

  .content-main-01 .main-title-01 .circle-number-step .step-text {
    font-size: 2.4vw;
    margin-bottom: -2vw;
  }

  .content-main-01 .main-title-01 .circle-number-step .number-step {
    font-size: 5.6vw;
  }

  /* ondemand/03/ */
  .sc-title-1 {
    margin: 0 auto;
    width: 90%;
    padding-top: 6vw;
  }

  .sc-title-1 h1 {
    font-size: 3.5vw;
    line-height: 1.8;
    width: 80vw;
    margin: auto;
  }

  .categories {
    width: 86%;
    margin: 5vw auto 12.5vw;
  }

  .container-top {
    margin: auto;
    margin-top: 5vw;
    margin-bottom: -5vw;
  }

  .category-wapper.active {
    width: auto;
    height: 12vw;
    border-radius: 1vw 1vw 0 0;
    box-shadow: 0px 0px 0.5vw 0.5vw #817a7a36;
  }

  .sp-pp-line {
    display: block;
    background-color: #6b4efe;
    border-radius: 4vw 4vw 0 0;
    width: 100%;
    height: 2vw;
  }

  .tab-title-1 {
    width: 100%;
    padding: 3vw;
    border-radius: 4vw 4vw 0 0;
    margin: 35px auto 20px;
    background-color: #6b4efe;
  }

  .tab-noradius {
    border-radius: 0 0 0 0 !important;
  }

  .containing-btn {
    display: none;
  }

  .tab-main-content {
    display: block;
    margin: 2vw auto 0px;
  }

  #Contact .tab-main-content {
    margin-top: 8vw;
  }

  .li-pi {
    font-size: 3.5vw;
    margin-left: 1vw;
  }

  /* ondemand/03/ */

  /* ondemand/03/ */
  .sc-title-1 h1 {
    font-size: 3.5vw;
  }

  .category-wapper.active {
    width: auto;
    height: 14vw;
    border-radius: 3vw 3vw 0 0;
    box-shadow: 0px 0px 0.5vw 0.5vw #817a7a36;
    padding: 0;
  }

  .category-wapper {
    width: auto;
    height: 14vw;
    border-radius: 3vw 3vw 0 0;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category-wapper.active p {
    letter-spacing: 1px;
    font-size: 3.7vw;
    padding-top: 0;
  }

  .category-wapper p {
    padding: 0 6vw 0 6vw;
    letter-spacing: 1px;
    font-size: 3.7vw;
  }

  .cate-3 p {
    padding: 0 7.5vw 0 7.5vw;
  }

  .tab-title-1 p {
    font-size: 4.2vw;
    margin-left: 2vw !important;
  }

  .ul-main {
    margin-left: 4vw;
  }

  .tabcontent {
    background-color: white;
    width: 92%;
    height: auto;
    margin-top: -12.5vw !important;
    box-shadow: 0px 0px 6px 2px #b5afafa8;
    margin: 5vw auto 5vw;
    border-radius: 4vw;
    border: none;
    padding-bottom: 8vw;
  }

  #Contact.tabcontent {
    border-radius: 2vw;
    border: none;
    border-top: 2vw solid #6b4efe;
  }

  .content_box-top {
    padding-bottom: 5vw;
  }

  /* ondemand/03/ */

  .content-main-01 .line-desc .des-span {
    padding-left: 0vw;
  }

  .content-main-01 .step-arrow {
    width: 3vw;
    left: 5vw;
    top: 15vw;
  }

  .content-main-01 .all-box-mail {
    border: 0.7vw solid #6a53fe;
    border-radius: 3vw;
    margin: -2vw 1vw 2vw 5vw;
  }

  .content-main-01 .all-box-mail .menu-mail {
    padding: 2vw 0 0.5vw 0;
  }

  .content-main .div-descript-01 {
    margin: -2vw 0vw 5vw 5vw;
    padding: 3vw 1vw 1vw 5vw;
    border: none;
    border-radius: 3vw;
  }

  .display-st3 {
    display: block;
  }

  .content-main-01 .div-descript .descript .des-span {
    font-size: 3.2vw;
    width: 72vw;
    line-height: 1.5;
  }

  .content-main .div-descript-01-sp {
    margin: -2vw 0vw 9vw 5vw;
  }

  .content-main-01_step3 {
    padding-bottom: 4vw !important;
  }

  .content-main-01 .div-descript .descript .violet-dot {
    width: 2.5vw;
    height: 2.5vw;
  }

  .sp-last-txt {
    display: block;
    margin-top: 6vw;
  }

  .sp-last-txt-04 {
    margin-bottom: 16vw;
  }

  .sp-last-txt-03 {
    margin: 13vw 0 23vw 0vw;
  }

  .sp-last-txt h2 {
    text-align: center;
    font-size: 3.2vw;
    margin-top: 9vw;
  }

  .tab-gray-content {
    width: 90%;
    display: block;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    margin: 4vw auto 3vw;
    padding-bottom: 22vw;
    background-color: #f2f2f2;
  }

  .lis-des-sp-bot {
    padding-bottom: 2vw;
  }

  .tab-main-content {
    width: 100% !important;
  }

  .tab-main-content-book {
    width: 92% !important;
  }

  .ul-main {
    width: 90%;
    margin: auto;
  }

  .tab-main-top-sp0 {
    display: none;
  }

  .tab-main-top-sp1,
  .tab-main-top-sp2 {
    display: block;
  }

  .title_ul-row {
    font-size: 3.7vw;
    justify-content: flex-start;
    padding-left: 3vw;
    margin-bottom: 1vw;
  }

  .title-gray-txt p {
    font-size: 4vw;
  }

  .content-gray p {
    font-size: 3vw;
    line-height: 2;
  }

  .txt-tab-gray {
    width: 92%;
    margin-top: 3vw;
    margin-left: 3.5vw;
    margin-bottom: 4vw;
  }

  .img-tab-gray {
    padding-top: 0.5vw;
    width: 92%;
    height: auto;
    background-color: white;
    border-radius: 8px;
    margin-top: -14vw;
    margin-left: 3.5vw;
    padding-bottom: 2vw;
  }

  .title-img-gray {
    margin-top: 3vw;
    margin-left: 25vw;
    background-color: #e6e6e6;
    width: 60%;
    height: 5vw;
    border-radius: 30px;
  }

  .img-bot {
    width: 95%;
    margin-left: 2vw;
    margin-top: 2vw;
  }

  .title-img-gray p {
    padding-top: 2px;
    font-size: 2.5vw;
    text-align: center;
  }

  .out-btn-a .box-btn {
    width: 80vw;
  }

  .box-btn .box-icon {
    width: 4vw;
    height: 4vw;
    margin-left: -4vw;
    margin-right: 3vw;
  }

  .out-btn-a .box-btn .box-icon {
    margin-right: 6vw;
  }

  .txt-tab-gray .out-btn-a span {
    margin-left: 4vw;
    font-size: 3.5vw;
  }

  .out-btn-a a {
    position: relative;

    top: 45vw;
    display: flex;
    align-items: center;
    left: 0;
  }

  .out-btn-03 .box-btn {
    width: 80vw;
    height: 13vw;
    border-radius: 10vw;
    padding: 0;
    top: 48vw;
  }

  .out-btn-03 .box-btn .box-icon {
    margin: 0 4vw;
    width: 6vw;
    height: 6vw;
  }

  .txt-tab-gray .out-btn-03 span {
    margin-left: 2vw;
    font-size: 3.7vw;
  }

  .content-main-01_step2 .step-arrow {
    height: 164vw;
  }

  .background-main-red {
    margin: -4vw 0 6vw 0;
    height: 26vw;
  }

  .content-main-01 .line-desc h3 {
    letter-spacing: 0.5px;
    line-height: 1.8;
  }

  .red-font-pc {
    display: none;
  }

  .red-font-sp {
    display: block;
  }

  .but-sp {
    display: block;
  }

  .but-pc {
    display: none;
  }

  .st-red-sp {
    top: 22vw !important;
  }

  .background-main-red .content-main-red {
    padding: 0;
  }

  .content-main-01 {
    padding-bottom: 0;
  }

  .content-main-red .main-title-red {
    border-radius: 7vw;
  }

  .background-print {
    margin-top: -2.5vw !important;
    height: 30vw;
  }

  .content-main-red .main-title-red .circle-number-red {
    width: 14vw;
    height: 14vw;
    margin-left: 2vw;
    border-radius: 50%;
    border: 0.7vw solid #ff5c4f;
    padding: 2vw;
    align-items: center;
    left: -2vw;
  }

  .big-red-cc {
    width: 14vw !important;
    height: 19.2vw !important;
  }

  .content-main-red .main-title-red .circle-number-red .step-text {
    font-size: 2.1vw;
    margin-left: -1.2vw;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5vw;
  }

  .content-main-red .main-title-red .circle-number-red .number-step {
    font-size: 3.3vw;
    line-height: 1;
    text-align: center;
  }

  /* .sp-tit-04 {
    margin-top: -1.2vw;
  } */
  .content-main-red .main-title-red .title {
    padding-left: 11vw !important;
    width: 80vw;
    line-height: 1.4;
  }

  .title-79 {
    width: 79vw !important;
  }

  .step-arrow-red {
    left: 5vw;
    top: 17vw;
    width: 3vw;
  }

  .background-print .circle-number-red {
    border-radius: 7vw !important;
  }

  .background-print .content-main-red .main-title-red .title {
    padding-left: 11vw !important;
    width: 76vw;
    line-height: 1.4;
  }

  .line-desc .red-font {
    margin: -2vw 0 0 0vw;
    font-size: 3.7vw;
    line-height: 1.6;
    padding: 2vw 3vw;
  }

  .line-desc h5 {
    font-size: 3.2vw;
    margin: 10vw 0 23vw 5vw;
  }

  .section_content-main-01 {
    background-color: #fff;
  }

  /*05*/
  .sc-background-04 {
    /* background-color: #f8f3f3; */
    background-image: url(../../image/ondemand/05/gray-bg.png);
    margin-bottom: 2vw;
  }

  .row {
    width: 90%;
    height: auto;
    margin: 4vw auto 4vw;
  }

  .row1 {
    display: block;
  }

  .row2 {
    display: block;
  }

  .row5 {
    margin: 6vw auto 4vw;
  }

  .box-one {
    background-color: white;
    width: 100%;
    height: auto;
    margin: 4vw auto 4vw;
    border-radius: 25px;
    border: none;
    padding: 0 0 2vw 0;
  }

  .title-num {
    display: flex;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: white;
    margin-left: 4vw;
    align-items: center;
    justify-content: center;
  }

  .title-num p {
    color: #5e60f7;
    font-size: 5.5vw;
  }

  .txt-title p {
    font-size: 3.5vw;
    letter-spacing: 1px;
    color: white;
    margin-left: 2vw;
  }

  .boxone-content-txt {
    padding: 2.2vw 0 3vw 4.2vw;
    margin: 0;
  }

  .boxone-content-txt p {
    width: 37vw;
    font-size: 3.2vw;
    line-height: 1.8;
    padding-bottom: 4vw;
    letter-spacing: 0vw;
    margin-right: 0;
  }

  .img-box-row1 img {
    width: 25vw;
  }

  .book1-row1 {
    position: absolute;
    top: -42vw;
    left: 43vw;
  }

  .book2-row1 {
    position: absolute;
    top: -48vw;
    left: 62.4vw;
  }

  .sp-none {
    display: none !important;
  }

  .book3-row1 {
    position: absolute;
    top: -48vw;
    left: 45vw;
    width: 25vw !important;
  }

  .img-box-row2 img {
    width: 40vw;
  }

  .book1-row2 {
    position: absolute;
    top: -29vw;
    left: 45vw;
    width: 42vw !important;
  }

  .book2-row2 {
    position: absolute;
    top: -40vw;
    left: 46vw;
    width: 42vw !important;
  }

  .box-two {
    background-color: white;
    width: 100%;
    height: 42vw;
    border-radius: 25px;
    border: none;
  }

  .sp-box-tit-pad {
    padding: 2vw 0 !important;
  }

  .w-40 {
    width: 40vw;
  }

  .boxtwo-content-txt p {
    font-size: 3.2vw;
    line-height: 1.7;
    letter-spacing: 0;
  }

  .sp-mr-left {
    margin-left: 3.5vw !important;
  }

  .pc-none {
    display: block;
  }

  .img-box-row3 img {
    position: absolute;
    width: 40vw;
    top: -17vw;
    left: 47vw;
  }

  .blue-box-content .purple-cn p {
    font-size: 3.2vw;
    padding-top: 0.7vw;
  }

  .box-three {
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 25px;
    border: none;
  }

  .boxtwo-content-txt {
    margin: 3vw 4vw 0 4vw;
  }

  .blue-box-title {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    background-color: #beece9;
    align-items: center;
    display: flex;
    padding: 3vw 0;
  }

  .blue-box-1 {
    width: 90%;
    height: auto;
    margin: 5vw auto 4vw;
    background-image: url(../../image/ondemand/04/blue-bg.png);
    border-radius: 10px;
    padding-bottom: 3vw;
  }

  .blue-box-title p {
    font-size: 3.5vw;
    letter-spacing: 0.2vw;
    margin-left: 3vw;
  }

  .img-row-three img {
    width: 25vw;
  }

  /* edit  */
  .img-row-three .book3-r4 {
    width: 20vw;
    top: 0vw;
    left: 57vw
  }

  .img-sp {
    display: block;
  }

  .img-pc {
    display: none;
  }

  .pc-blue-box-tt {
    display: none;
  }

  .pp-cn-sp p {
    font-size: 3.5vw;
    color: white;
    padding-top: 0;
    letter-spacing: 0.3vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pp-cn-sp {
    margin-left: 2vw;
    width: 49vw !important;
  }

  .book1-r4 {
    position: absolute;
    top: -10vw;
    left: 61vw;
  }

  .book2-r4 {
    position: absolute;
    top: -19vw;
    left: 41vw;
  }

  .purple-cn {
    width: 38vw;
    height: 6vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    background-color: #5e60f7;
  }

  .pp-txt {
    display: none;
    font-size: 2.5vw;
    color: #4345c2;
  }

  .sp-pp-txt {
    font-size: 3.7vw;
    letter-spacing: 0vw;
    display: block;
    margin-bottom: 2.2vw;
  }

  .pp-txt-cover {
    display: block;
    font-size: 3.7vw;
  }

  .sp-pp-txt2 {
    margin-bottom: -1vw;
  }

  .blue-box-content {
    margin-top: 4vw;
    margin-left: 4vw;
  }

  .sp-blue-box-tt {
    display: block;
  }

  .box-title {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #5e60f7;
    border-radius: 15px 15px 0 0;
    padding: 4vw 0;
  }

  .title-num {
    display: flex;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: white;
    margin-top: 0.5vw;
    margin-left: 4vw;
    align-items: center;
    justify-content: center;
  }

  .title-num p {
    color: #5e60f7;
    font-size: 3.5vw;
  }

  .txt-title p {
    z-index: 1;
    font-size: 4vw;
    letter-spacing: 0.2vw;
    color: white;
    margin-left: 1vw;
    line-height: 1.2;
  }

  .img-box-row1 img {
    width: 30vw;
  }

  .book4-row1 {
    position: absolute;
    top: -55vw;
    left: 64vw;
    width: 25vw !important;
  }

  .img-box-row2 img {
    width: 40vw;
  }

  .pp-txt-mini {
    font-size: 3vw;
    color: #4345c2;
    margin-left: 2.5vw;
  }

  .note-x {
    width: 73vw;
    line-height: 1;
    margin-top: 4vw;
    margin-bottom: 3vw;
  }

  .sp-bow2-w {
    width: 80vw !important;
    margin-left: 4vw !important;
  }

  .title_box-top-sp {
    display: block;
  }

  .title_box-top-sp::before {
    content: "";
  }

  .title_box-top-pc {
    display: none;
  }

  .h1-txt-bl {
    font-size: 3.7vw;
    line-height: 1.65;
    width: 72vw;
    margin-bottom: 0;
  }

  .title-buttom {
    display: block;
  }

  .box-four {
    width: 100%;
    background-color: white;
    height: auto;
    border-radius: 25px;
    border: none;
  }

  .img-row-four img {
    width: 25vw;
  }

  .book1-r5 {
    position: absolute;
    top: -8vw;
    left: 61vw;
  }

  .book2-r5 {
    position: absolute;
    top: -20vw;
    left: 41vw;
  }

  /*05*/

  /* 03 */
  .sc-background-1 {
    background-image: unset;
    background-color: #f2f2f2;
    background-image: unset;
    background-color: #f2f2f2;
    margin-bottom: 5.5vw;
    padding-bottom: 1vw;
  }

  .sc-background-04 {
    margin-bottom: 2.5vw;
  }

  .sc-bg {
    margin-bottom: 0;
  }

  /* 04 */

  .sc-background-1 .sc-title-1 h1 {
    width: 100%;
    margin: auto;
    letter-spacing: 0.1vw;
  }

  .sc-background-1 .container-top {
    width: 100%;
  }

  .sc-background-1 .container-top .box-top {
    width: 90%;
    margin: auto;
  }

  .sc-background-1 .container-top .box-top .title_box-top {
    padding: 5vw 3vw;
    font-size: 4.2vw;
    border-radius: 4vw 4vw 0 0;
  }

  .sc-background-1 .container-top .content_box-top {
    flex-direction: column-reverse;
    margin-bottom: 14vw;
  }

  .sc-background-1 .container-top .content_box-top .left-list {
    width: 100%;
  }

  .sc-background-1 .container-top .content_box-top .left-list .list .number-list {
    width: 4vw;
    height: 4vw;
    margin: 0 2vw 0 0;
  }

  .left-list .list .number-list p:first-child {
    font-size: 2.8vw;
  }

  .left-list .list .text-list {
    font-size: 3.7vw;
    margin-top: -1vw;
    width: 80vw;
  }

  .purple-cn-2 {
    width: 42vw;
  }

  .des-span-pc {
    display: none;
  }

  .des-span-sp {
    display: block;
  }

  .left-list .list .text-list .text-list-2 {
    font-size: 2.9vw !important;
  }

  .sc-background-1 .container-top .content_box-top .right-image {
    position: inherit;
    top: 0;
    right: 0;
  }

  .sc-background-1 .container-top .content_box-top .right-image img {
    width: 100%;
  }

  .sc-background-1 .container-top .content_box-top .right-image .text-image {
    font-size: 3.2vw;
    line-height: 1.4;
    margin: 1vw 0 7vw 0;
    letter-spacing: -0.15vw;
  }

  .mail-text {
    margin-left: 1vw;
  }

  .cover-des-4 .list-descript {
    display: flex;
    margin-bottom: 6vw;
  }

  .sc-background-1 .categories .all-box-title-03 {
    width: 100%;
    flex-direction: row;
    padding: 0 1vw;
  }

  .sc-background-1 .categories .all-box-title-03 .category-wapper {
    width: 41vw;
  }

  .content-main-01 .line-desc .des-spanq2sp {
    padding-bottom: 3vw !important;
  }

  .content-main-01 .line-desc .des-spanq3sp {
    padding-bottom: 5vw !important;
  }

  .cover-des-1 .list-descript {
    margin-top: 2vw;
  }

  .cover-des-1 .list-descript .des-span {
    line-height: 2;
  }

  .sc-background-1 .categories .all-box-title-03 .category-wapper p {
    font-size: 3.7vw;
    padding: 1vw 3vw;
    line-height: 1.4;
  }

  .color-box img {
    width: 12vw !important;
  }

  .tabcontent-03 .tab-main-content {
    width: 100%;
    padding: 0;
  }

  .tabcontent-03 .tab-main-content .combo_color-box {
    flex-wrap: wrap;
    gap: 5vw 1vw;
    padding: 0 4vw;
  }

  .combo_color-box-2 {
    gap: 2vw;
    flex-wrap: wrap;
  }

  .under-text p {
    font-size: 3.2vw;
    padding: 0.7vw;
  }

  .div-tab {
    width: 100%;
    flex-direction: column;
  }

  .div-tab .div-tab-main {
    width: 100%;
  }

  .div-tab .div-tab-main .tab-title-1 {
    width: 100%;
    border-radius: 0;
    margin: 12.5vw 0 5vw 0;
    padding: 2.5vw;
  }

  .tab-title-2 .tab-circle-number {
    width: 4vw;
    height: 4vw;
  }

  .tab-title-2 .tab-circle-number p {
    font-size: 3vw !important;
  }

  .tab-title-2 p {
    font-size: 4.2vw !important;
  }

  .blue-box-2 {
    width: 90%;
    height: auto;
    margin: 5vw auto 4vw;
    background-image: url(../../image/ondemand/04/blue-bg.png);
    border-radius: 10px;
    padding-bottom: 2vw;
  }

  .tab-main-content {
    width: 92%;
  }

  .tabnews-sp {
    padding-top: 3vw;
  }

  .color-box-home img {
    width: 25vw !important;
  }

  .tabcontent .tab-content-text {
    position: relative;
    width: 92%;
    background-color: #ffffc2;
    margin: 6vw auto 0;
    padding: 3.5vw 33vw 2vw 3vw;
  }

  .tabcontent .content-img img {
    width: 19vw;
  }

  .tabcontent .content-img {
    position: absolute;
    right: 5vw;
    top: 4vw;
  }

  .sm-img img {
    width: 4vw !important;
    top: -1vw;
    left: -1vw;
  }

  .sp-content-text-2 {
    font-size: 3vw;
    width: 76vw;
    margin-top: 11vw;
    margin-bottom: 2vw;
    display: block;
  }

  .sp-content-text-3 {
    font-size: 3vw;
    position: absolute;
    display: block;
    left: 45vw;
    top: 33vw;
  }

  .tabcontent .content-text-1 {
    line-height: 1.7;
    letter-spacing: 0;
    font-size: 3.2vw;
  }

  .tabcontent .content-text-2 {
    display: none;
  }

  .tabcontent .content-text-3 {
    display: none;
  }

  .tab-content-title {
    font-size: 3.7vw !important;
    width: 87%;
    position: initial;
    display: flex;
    justify-content: center;
    top: -11vw;
    left: 5vw;
    line-height: 1.6;
  }

  .tab-content-title-pc {
    display: none;
  }

  .tab-content-title-sp {
    display: flex;
    z-index: 1;
  }

  .yellow-hl {
    content: "";
    position: absolute;
    background-color: yellow;
    width: 87%;
    height: 7px;
    top: 9vw;
    left: 4vw;
  }

  .yellow-span-sp {
    display: block;
    top: 15vw;

    width: 50%;
  }

  .tab-content-ttt {
    margin: 2vw 0 5vw 0;
  }

  /*02*/
  .box-content-05 {
    width: 92%;
    height: auto;
    margin: 6vw auto 6vw;
    border-radius: 25px;
    background-color: white;
    margin-top: 0;
  }

  .title-box05-1 {
    height: auto !important;
  }

  .col-pp {
    width: 5vw;
    top: 20vw;
    left: 6vw;
    height: 59vw;
  }

  .white-tg-1 {
    top: 17vw;
    left: 7.4vw;
    width: 2.5vw;
    filter: brightness(3.5) contrast(2.5);
  }

  .white-tg-2 {
    top: 22vw;
    left: 7.4vw;
    width: 2.5vw;
    filter: brightness(3.5) contrast(2.5);
  }

  .box-content-05 .circle-number-step {
    top: 2vw;
    left: 2vw;
    padding-top: 1vw;
  }

  .end-icon-pg05 {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: -4vw auto 3vw;
  }

  .end-icon-txt p {
    font-size: 3.7vw;
    margin-right: 2vw;
    letter-spacing: 1px;
    text-align: center;
  }

  .end-icon-txt-pc {
    display: none;
  }

  .end-icon-txt-sp {
    display: block;
  }

  .box-content-05-row2 {
    padding-bottom: 6vw;
  }

  .book-icon-pg05 {
    width: 26vw;
    margin-top: 6vw;
    height: auto;
    display: none;
  }

  .step-text {
    font-size: 2.5vw;
    margin-bottom: -2.5vw;
  }

  .white-tg-3 {
    top: 27vw;
    left: 7.4vw;
    width: 2.5vw;
    filter: brightness(3.5) contrast(2.5);
  }

  .col-pp-1 {
    width: 5vw;
    top: 18vw;
    left: 6vw;
    height: 69.5vw;
  }

  .cc-step-3 {
    top: 2vw;
    margin-left: 2vw;
    padding-top: 1vw;
  }

  .col-pp-3 {
    width: 5vw;
    top: 18vw;
    left: 6vw;
    height: 223vw;
  }

  .txt-05-st3 {
    margin-top: 5vw;
  }

  .txt-05-st3-new {
    margin-left: 6vw;
  }

  .box-content-05-2 {
    width: 92%;
    height: auto;
    margin: 6vw auto 6vw;
    border-radius: 25px;
    background-color: white;
    padding-bottom: 5vw;
  }

  .title-box05-txt {
    font-size: 3.7vw;
    color: white;
    padding-top: 3.5vw;
    margin-left: 18vw;
    margin-right: 1vw;
    padding-bottom: 3.5vw;
    letter-spacing: 0vw;
    width: 71vw;
    line-height: 5.5vw;
  }

  .title-box-05 {
    position: relative;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, #6b4fff, #27bae2);
    border-radius: 30px 30px 0 0;
  }

  .box-content-05-2 .circle-number-step {
    top: 2vw;
    left: 2vw;
    padding-top: 1vw;
  }

  .box05-content h1 {
    font-size: 3.7vw;
    color: black;
    margin: 2vw 4vw 0 8vw;
    letter-spacing: 0;
    line-height: 6vw;
  }

  .font_05 {
    margin-top: 3vw !important;
  }

  .sp-martop {
    margin-top: 5vw !important;
  }

  .cn-step1 {
    width: 80vw;
    height: auto;
    margin-left: 4vw;
    margin-top: 2.5vw;
    padding-bottom: 3vw;
  }

  .cn-step2 {
    width: 80vw;
    height: auto;
    margin-left: 4vw;
    margin-top: 2vw;
  }

  .box-content-05-21 {
    width: 92%;
    height: auto;
    margin: 5vw auto 5vw;
    border-radius: 25px;
    background-color: white;
    padding-bottom: 5vw;
    margin-bottom: 12vw;
  }

  .cn-step3 {
    width: 80vw;
    height: auto;
    margin-left: 4vw;
    margin-top: 2vw;
  }

  .box05-content {
    display: block;
  }

  .st1 {
    width: 77vw;
    height: auto;
    margin-left: 8vw;
    margin-top: 5vw;
  }

  .two-box-pg05 {
    width: 95%;
    margin-left: 8vw;
    margin-top: 7vw;
    display: block;
    justify-content: space-between;
  }

  .box-tiny-pg05 {
    position: relative;
    width: 88%;
    height: 72vw;
    border-radius: 10px;
    background-color: #f2f2f2;
  }

  .st1-2 {
    width: 68vw;
    height: auto;
    margin-top: 5vw;
    margin-left: 4vw;
  }

  .box-tiny-pg05 h1 {
    padding-top: 6vw;
    color: #503bd3;
    width: 60vw;
    margin-left: 19vw;
  }

  .hv-pp-tiny {
    width: 13vw;
    height: 13vw;
    border-radius: 4vw;
    background-color: #5e60f7;
    position: absolute;
    top: -2vw;
    left: 4vw;
  }

  .hv-pp-tiny .hv-tiny-txt {
    font-size: 2.5vw;
    color: white;
    padding-top: 2vw;
    margin-left: 0;
    text-align: center;
  }

  .lit-num-sp {
    width: 4vw;
    height: 4vw;
  }

  .lit-num-sp p {
    color: #5e60f7;
    font-size: 3.5vw;
  }

  .hv-pp-tiny .title-num {
    position: absolute;
    top: 6vw;
    left: 0.5vw;
  }

  .gr1 {
    width: 76vw;
  }

  .st2-1 {
    width: 80vw;
    height: auto;
    margin-left: 6vw;
    margin-top: 5vw;
  }

  .contact-mail {
    background-color: #6a53ff;
    background-image: unset;
  }

  .txt-05-st3 .note-x p {
    font-size: 4vw;
    letter-spacing: -0.25vw;
    width: 80vw;
    line-height: 1.4;
  }

  .txt-05-st3 .note-x .pc-none1 {
    margin-bottom: -1vw;
  }

  .blue-box-content .note-x p {
    font-size: 3.2vw;
    letter-spacing: -0.1vw;
    line-height: 1.9;
  }

  .word-pc-none {
    line-height: 1.5 !important;
  }

  .b-tiny-txt1-sp {
    margin-left: 11vw !important;
    font-size: 3.2vw !important;
    padding-top: 3vw !important;
    letter-spacing: 0.2vw !important;
    line-height: 4vw !important;
    padding-left: 9vw !important;
  }

  .b-tiny-txt2 {
    left: -15vw;
    top: 50vw;
    font-size: 3.2vw !important;
    letter-spacing: 0 !important;
    line-height: 4.5vw !important;
  }

  .ondemand-2-step-1 {
    height: 80vw;
    margin-top: 5vw;
  }

  .ondemand-2-step-1 .b-tiny-txt2 {
    margin-top: 10vw;
  }

  .b-tiny-txt2-pc {
    display: none;
  }

  .b-tiny-txt2-sp {
    display: block;
  }

  .p-sp {
    display: block;
  }

  .p-pc {
    display: none;
  }

  .step-arrow-sp {
    display: block !important;
  }

  .step-arrow-pc {
    display: none !important;
  }

  .content-main-01 .step-arrow,
  .content-main-red .step-arrow {
    display: none !important;
  }

  .arrow-none {
    display: none;
  }

  .content-main-01 .line-desc .des-span {
    padding-left: 0vw !important;
  }

  .content-main-01_step2 .line-desc .des-span {
    margin-top: 0;
  }

  .tabcontent-03 {
    padding-bottom: 13vw;
    margin: 5vw auto 12vw;
  }

  .txt-05-st3 .note-x {
    margin-top: 0;
    margin-left: 2vw;
  }

  .font-sc-bold {
    font-family: "mplus 1p bold" !important;
  }

  .under-text {
    margin-top: 2vw;
  }

  .end-icon-txt {
    margin: 4vw auto 0;
  }

  .end-icon-pc {
    display: none;
  }

  .end-icon-sp {
    display: flex;
    margin-bottom: 12vw;
  }

  .h1-txt-dote::before {
    left: -4vw;
    font-size: 4vw;
  }

  .h1-txt-dote {
    margin-left: 4vw;
  }
}

@media (min-width: 671px) {
  .carousel-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .carousel-item.img_slide_big img {
    width: 150% !important;
  }

  .title-sc5 {
    display: none;
  }

  .tab-content-title-pc {
    display: flex;
  }

  .tab-content-title-sp {
    display: none;
  }

  .book-icon-pg05 {
    display: block;
  }

  .end-icon-txt-pc {
    display: block;
  }

  .end-icon-txt-sp {
    display: none;
  }

  .arrow-none {
    display: block;
  }

  .end-icon-pc {
    display: flex;
  }

  .end-icon-sp {
    display: none;
  }

  .tab-main-top-sp0 {
    display: flex;
  }

  .tab-main-top-sp1,
  .tab-main-top-sp2 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .carousel-item.img_slide_big img {
    max-width: 2000px !important;
    margin: auto;
  }
}