nav.link-resource .all-link span {
  font-size: 15px;
}
@media (max-width: 375px) {
  html {
    font-size: 12px;
  }

  nav.link-resource .all-link span {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  /* nav-link */

  nav.link-resource .all-link a:first-child {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
  }

  nav.link-resource .all-link span {
    font-size: 15px;
    font-weight: 100;
  }

  nav.link-resource .all-link a {
    font-size: 12px;
    color: black;
  }

  nav.link-resource .all-link span {
    margin: 0 8px;
  }

  .search {
    padding: 24px 0;
    max-width: 1080px;
  }

  /* section-1  */
}
@media (min-width: 350px) and (max-width: 1199px) {
  nav.link-resource .all-link span {
    font-size: 15px;
  }

  .section-content {
    width: 90%;
    margin: 50px auto 50px;
  }

  .main-content {
    display: block;
    padding-top: 50px;
    font-size: 1.7vw;
    line-height: 3vw;
    letter-spacing: 0.1vw;
  }
  .btn-gray-in-table .bg-btn span {
    letter-spacing: 3px;
    font-size: 1.4vw;
  }
  .btn-orange-in-table .bg-btn span {
    letter-spacing: 3px;
    font-size: 1.4vw;
  }
  .link {
    font-size: 1.4vw;
  }
}
@media (min-width: 1200px) {
  .main-content {
    line-height: 34px;
    letter-spacing: 1px;
  }
}

@media (max-width: 420px) {
  .title span {
    font-size: 3vw !important;
  }
  .search-title {
    font-size: 13px !important;
  }
}
@media (max-width: 670px) {
  .button-gray {
    flex-wrap: wrap;
  }
  .btn-gray-in-table {
    width: 100%;
    margin-bottom: 5vw;
  }

  .bg-btn {
    width: 90vw;
    height: 14vw;
    border-radius: 20vw !important;
    justify-content: start !important;
    padding: 3.5vw !important;
  }

  .btn-orange-in-table {
    width: 100%;
  }

  .modal-show .search {
    padding: 4vw 4.8vw;
    padding-right: 8vw;
    height: auto;
  }
  .cover-title-header {
    width: 80vw;
    flex-direction: column;
  }
  .modal-show .search-img {
    width: 9vw !important;
    margin-right: 3vw;
  }
  .modal-show .title span {
    font-size: 3vw;
  }
  .modal-show .title .search-title {
    font-size: 4vw;
    letter-spacing: 0;
    top: 0;
    width: 80vw;
  }
  .modal-show .img-title-header img {
    width: 5.5vw;
    margin-right: 3vw;
  }
  .section-content {
    width: 90%;
    margin: 4.8vw auto;
  }

  .section-content .main-content {
    padding-top: 0;
    margin-left: 0;
    font-size: 3.5vw;
    line-height: 1.9;
  }
  /* btn */
  .button-gray {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 9.1vw auto 4.1vw !important;
  }
  .btn-gray-in-table .bg-btn {
    padding: 2vw;
    border-radius: 4vw;
  }
  .btn-gray-in-table .bg-btn span {
    letter-spacing: 0.25vw;
    font-size: 4.2vw;
  }
  .circle-icon {
    background-color: white;
    border-radius: 50%;
    width: 7vw !important;
    height: 7vw !important;
    margin-right: 1.25vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-gray-in-table .circle-icon {
    margin-right: 16vw !important;
  }

  .btn-orange-in-table .circle-icon {
    margin-right: 14vw !important;
  }

  .btn-gray-in-table .bg-btn img {
    width: 3vw;
    margin: 0 !important;
    padding: 0 !important;
  }
  .circle-icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.17vw;
    margin-top: 0;
    margin-left: 0;
  }
  .btn-orange-in-table .bg-btn {
    padding: 2vw;
  }
  .btn-orange-in-table .bg-btn img {
    width: 3vw;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
  }
  .btn-orange-in-table .bg-btn span {
    letter-spacing: 0.25vw;
    font-size: 4.2vw;
  }
  /* .tag-sp {
    height: 6vw;
    min-width: 18.5vw;
    width: fit-content;
    border-radius: 1vw;
    background-color: orange;
    margin-right: 2vw;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
  } */
  .tag-sp {
    height: 6vw;
    /* width: fit-content; */
  }
  .tag-pc {
    display: none;
  }
}

@media (min-width: 671px) {
  .tag-sp {
    display: none;
  }
  .tag-pc {
    display: block;
  }
}
