* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root {
  --corlor-border-sc-1: #489ae1;
  --color-btn-orange: #ff9e21;
  --color-boder-btn-orange: #ffbb64;
  --color-text-active: #309bd5;
  --color-boder-table-gray: rgb(224, 224, 224);
  --color-btn-disable: #e6e6e6;
  --color-td-table-hover: #ecf5fc;
  --bg-section-gray-double: #489ae1;
}

@font-face {
  font-family: "mplus 1p bold";
  src: url("../../../_newAssets/fonts/mplus-1p-bold.ttf");
}

@font-face {
  font-family: "mplus 1p regular";
  src: url("../../../_newAssets/fonts/mplus-1p-regular.ttf");
}

@font-face {
  font-family: "mplus 1p heavy";
  src: url("../../../_newAssets/fonts/mplus-1p-heavy.ttf");
}

@font-face {
  font-family: "mplus 2p bold";
  src: url("../../../_newAssets/fonts/mplus-2p-bold.ttf");
}

@font-face {
  font-family: "mplus 2p heavy";
  src: url("../../../_newAssets/fonts/mplus-2p-heavy.ttf");
}

@font-face {
  font-family: "mplus 1p light";
  src: url("../../../_newAssets/fonts/mplus-1p-light.ttf");
}

.font_bold {
  font-family: "mplus 1p bold" !important;
}

.font_heavy {
  font-family: "mplus 1p heavy" !important;
}

.font_regular {
  font-family: "mplus 1p regular" !important;
}

.font_light {
  font-family: "mplus 1p light" !important;
}

.font_bold_2 {
  font-family: "mplus 2p bold" !important;
}

.font_heavy_2 {
  font-family: "mplus 2p heavy" !important;
}

h1,
p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

[class^="col-"] {
  padding: 0 !important;
}

a {
  color: black;
}

h1,
h3 {
  margin: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.section-product ul li:before {
  content: "\2022 ";
  color: gray;
  padding-right: 0.5em;
}

nav.link-resource {
  background-color: #e6e6e6;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 48px;
}

nav.link-resource .all-link a {
  font-size: 12px;
  text-decoration: 1px underline;
  text-underline-offset: 2px;
  color: black;
}

nav.link-resource .all-link a:hover {
  opacity: 0.5;
}

nav.link-resource .all-link a:last-child:hover {
  opacity: 1;
}

nav.link-resource .all-link a:last-child {
  text-decoration: none;
}

nav.link-resource .all-link span {
  margin: 0 8px;
  font-size: 15px;
}
nav.link-resource .all-link a:not(:last-child):hover {
  opacity: 0.5;
}

.title span {
  font-size: 14px;
  letter-spacing: 3.5px;
  text-align: justify;
}
.search-container .search-title {
  font-size: 24px;
  margin: 0;
  letter-spacing: 3.5px;
  text-align: justify;
}
hr {
  margin-top: 50px;
  border: 1px solid rgb(238, 238, 238);
}
.search-container {
  background-image: url(../../../_newAssets/image/common/bg_title.png);
}
.search {
  margin: auto;
  height: 100px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.cover-title-header {
  display: flex;
}
.search-img {
  width: 50px;
  margin-right: 20px;
}
.img-title-header img {
  width: 22px;
  margin-right: 15px;
}

.section-content {
  width: 1080px;
  margin: 50px auto 50px;
}
.main-content {
  display: block;
  padding-top: 30px;
  font-size: 16px;
  line-height: 2.8vw;
  letter-spacing: 0.1vw;
  margin-left: 70px;
  text-align: justify;
}
.main-content a {
  text-decoration: 1px underline #4a6c89;
  text-underline-offset: 2px;
  color: #4a6c89;
}
.link {
  text-decoration: 1px underline #4a6c89;
  text-underline-offset: 2px;
  color: #4a6c89;
  margin-left: 70px;
}
.btn-gray-in-table .bg-btn {
  background-color: gray;
  color: white;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.3rem 0.51rem 0.05rem rgb(190 190 190);
}
.circle-icon {
  background-color: white;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.circle-icon img {
  width: 50px;
  padding: 7.5px;
  margin-left: 0.6px;
}

.circle-icon img:first-child {
  display: none;
}

.bg-btn:hover .circle-icon img:last-child {
  display: none;
}

.bg-btn:hover .circle-icon img:first-child {
  display: block;
}

.button-gray {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 50px auto 50px;
}

.btn-gray-in-table .bg-btn span {
  letter-spacing: 3px;
  font-size: 16px;
}

.btn-gray-in-table .bg-btn img {
  width: 23px;
  margin-right: 15px;
  transform: rotate(180deg);
}
.btn-gray-in-table .bg-btn:hover {
  background-color: #ff9e21;
}

.btn-orange-in-table .bg-btn {
  background-color: #ff9e21;
  color: white;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.3rem 0.51rem 0.05rem rgb(190 190 190);
}

.btn-orange-in-table .bg-btn span {
  letter-spacing: 3px;
  font-size: 16px;
}
.btn-orange-in-table .circle-icon {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  margin-right: 13px;
}
.btn-orange-in-table .bg-btn .icon-gray {
  display: none;
}
.btn-orange-in-table .bg-btn img {
  width: 23px;
  margin-right: 15px;
}
.btn-orange-in-table .bg-btn:hover {
  background-color: gray;
}
