@media (min-width: 1200px) {
  .search-container .title {
    margin-right: 36px;
  }
  /* nav-link */

  nav.link-resource .all-link a:first-child {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
  }

  nav.link-resource .all-link span {
    font-size: 15px;
    font-weight: 100;
  }

  nav.link-resource .all-link a {
    font-size: 12px;
    color: black;
  }

  nav.link-resource .all-link span {
    margin: 0 8px;
  }

  /* section-1  */

  section.section-1 {
    max-width: 1080px;
    margin: auto;
    margin-bottom: 50px;
  }

  section.section-1 .title h1 {
    line-height: 40px;
    margin: 30px 0;
    letter-spacing: 3px;
    font-size: 22px;
    width: 600px;
  }

  section.section-1 .all-box .box {
    width: 350px;
    margin: 30px 40px 0 0;
    border: 5px solid var(--corlor-border-sc-1);
    border-radius: 20px;
  }

  section.section-1 .all-box .body-lorem {
    margin: 20px 0 20px 55px;
  }

  section.section-1 .all-box .body-lorem .title-box h1 {
    width: 255px;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
    border-bottom: 5px dotted var(--corlor-border-sc-1);
  }

  section.section-1 .all-box .body-lorem .lorem span {
    font-size: 14px;
    width: 255px;
    letter-spacing: 3px;
  }

  section.section-1 .all-box .image img {
    width: 35px;
  }

  section.section-1 .all-box .image {
    background-color: var(--corlor-border-sc-1);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: -15px;
  }

  /* tabs  */

  .category-wapper {
    border-radius: 25px;
    margin: 8px;
  }

  .category-wapper .body-bt {
    display: flex;
    padding: 13px 25px;
  }

  .cate-btn {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }

  .cate-btn img {
    width: 10px;
  }

  .category-wapper .body-bt p {
    font-size: 15px;
  }

  .category-wapper.active {
    border-bottom: 10px solid #489ae1;
  }

  .bg-section-tabs {
    height: 171px;
    max-width: 1080px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .bg-section-tabs .all-double-search {
    padding: 0 30px;
  }

  .bg-section-tabs .all-double-search .text {
    width: 550px;
    line-height: 25px;
    padding: 20px;
  }

  .bg-section-tabs .all-double-search .text span {
    font-size: 16px;
  }

  .bg-section-tabs .form-input input {
    height: 60px;
    width: 370px;
    border-radius: 5rem;
    box-shadow: 3px 3px 0.5rem 0 rgb(179 179 179) inset;
    padding-left: 32px;
    padding-bottom: 0.4rem;
    font-size: 1.5rem;
    margin-right: 20px;
  }

  .bg-section-tabs .form-input input::placeholder {
    font-size: 15px;
  }

  .bg-section-tabs .form-input .btn-go .bg-btn {
    width: 85px;
    height: 60px;
    border-radius: 50px;
    box-shadow: rgb(84 179 255) -1px -2px 5px 3px, rgb(60 128 187) 0px 3px 3.2px 3px;
  }

  .bg-section-tabs .form-input .btn-go .bg-btn span {
    font-size: 16px;
  }

  section.section-tabs .nav-link-section-tabs a {
    text-decoration: 1px underline;
    text-underline-offset: 2px;
    margin: 20px;
    font-size: 20px;
  }

  /* table  */

  section.table .td-table .col-link {
    padding: 20px !important;
  }

  section.table .td-table .col-link span {
    font-size: 16px;
  }

  section.table .td-table .col-link .btn-file {
    width: 180px;
    height: 45px;
    padding: 0 20px;
    border-radius: 30px;
  }

  section.table .td-table .col-link img {
    width: 20px;
  }
}

@media (max-width: 670px) {
  .item-2 .div-tag-link-new {
    background-color: unset !important;
  }

  .item-1 .new-item-date {
    background-color: unset;
  }

  .item-2 .new-item-date {
    background-color: unset;
  }

  .new-item {
    flex-wrap: wrap;
    height: auto !important;
    margin-bottom: 3vw;
    padding-right: 4vw;
    padding-bottom: 1vw;
  }

  .tag-link-new {
    padding-left: 4.8vw;
  }

  .search {
    padding: 0 4.8vw;
    height: 20vw;
  }
  .cover-title-header {
    display: flex;
    flex-direction: column-reverse;
  }
  .search-img {
    width: 9vw;
    margin-right: 3vw;
  }

  .search-container .search-title {
    font-size: 4vw !important;
    letter-spacing: 0;
    top: 0;
  }
  .search {
    position: relative;
  }
  .search-button-text {
    font-size: 3vw;
    position: absolute;
    top: 2.5vw;
    left: 59vw;
  }
  .arrow-wrappe img {
    width: 2vw !important;
  }
  .btnViewDetail {
    height: 9vw;
    width: 40vw !important;
    margin-top: 4.5vw;
  }

  .btnViewDetail p {
    font-size: 3.5vw !important;
    display: flex;
    line-height: 1.875 !important;
    padding-right: 0 !important;
    margin: 0 2vw 0 0 !important;
  }

  .pulldown-menu {
    top: 5.5vw !important;
  }
  .content-news {
    margin: 3vw auto;
    /* max-width: 1080px; */
    width: 100%;
  }
  .date-text {
    font-size: 3.5vw;
    padding-left: 6vw;
    padding: 1vw 0 1vw 6vw;
  }
  .new-item-date {
    max-width: 40vw;
  }
  .row-paging-sp {
    display: block !important;
    margin: auto;
  }
  .row-paging-sp {
    display: none;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .row-paging-pc {
    display: none;
  }

  .pagination-container .fa-arrow-left.disabled {
    color: gray;
  }

  .pagination-container .fa-arrow-left {
    padding-left: 10px;
    font-size: 3.5vw;
  }

  .pagination-container {
    border-radius: 0;
    margin: 5vw 0;
    height: 21.4vw;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
  }

  .pagination-container,
  .pages,
  .pre,
  .next {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-active {
    margin: 0 1vw !important;
  }

  .page {
    width: 8.5vw;
    height: 8.5vw;
    font-size: 4vw;
    margin: 0 1vw !important;
  }

  .page-wrapper:not(:first-child):not(:last-child) {
    margin: 0 !important;
  }
  .page-wrapper:last-child {
    margin-left: 0 !important;
  }
  .pagination-container .fa-arrow-right {
    padding-right: 10px;
    font-size: 3.5vw;
  }

  .tag-new {
    margin-right: 2vw;
    font-size: 3vw;
  }

  .link-new {
    line-height: 6vw;
    font-size: 3.7vw;
  }
  .pulldown-link {
    padding: 3vw 2vw;
  }
  .tag-new {
    height: 6vw;
    min-width: 16.5vw;
    border-radius: 6vw;
    background-color: orange;
    margin-right: 2vw;
    align-items: center;
    display: block;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  .tag-new-cover {
    height: 6vw;
    min-width: 18.5vw;
    width: fit-content;
    border-radius: 1vw;
  }
  .new-item-gray {
    padding-top: 3vw;
    padding-bottom: 4vw;
    background-color: #f0efef;
  }
  .btn-gray-in-table a {
    width: 90vw;
    height: auto;
    border-radius: 10vw;
  }
  .btn-gray-in-table .bg-btn {
    padding: 3.5vw;
    border-radius: 10vw;
  }
  .bg-btn .bg-img {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .btn-gray-in-table .bg-btn span {
    margin: 0;
    text-align: center;
    width: 90%;
    letter-spacing: 0.25vw;
    font-size: 4.2vw;
  }
}
@media (min-width: 671px) {
  .tag-link-new {
    align-items: center;
  }
}
